<div class="nav-container" [ngClass]="{ 'nav-open': isNavOpen, 'nav-closed': !isNavOpen }">
  <!-- Toggle Button with Hamburger Icon -->
  <button (click)="toggleNav()" class="toggle-button">
    <mat-icon class="toggle-icon">menu</mat-icon>
  </button>

  <!-- Navigation Links (visible only when nav is open) -->
  <div *ngIf="isNavOpen">
    <nav class="nav-links">

      <mat-card style="padding: 5px; cursor: pointer; margin-top: 23px;">
        <div style="flex: 1; padding-right: 20px;">
          <h3 style="margin-left: 17px; margin-top: 18px; margin-bottom: 10px;">Ageing</h3>

          <div class="case-type-row">
            <div class="icon-container1">
              <mat-icon style="color: #67d799;">event_available</mat-icon>
            </div>
            <div class="subtitle-container">
              <mat-card-subtitle class="subtitle">0-30 Days</mat-card-subtitle>
              <mat-card-subtitle class="count">1298</mat-card-subtitle>
            </div>
          </div>

          <div class="case-type-row">
            <div class="icon-container2">
              <mat-icon style="color: #8a81f2;">update</mat-icon>
            </div>
            <div class="subtitle-container">
              <mat-card-subtitle class="subtitle">30-90 Days</mat-card-subtitle>
              <mat-card-subtitle class="count">120</mat-card-subtitle>
            </div>
          </div>

          <div class="case-type-row">
            <div class="icon-container3">
              <mat-icon style="color: #8a81f2;">watch_later</mat-icon>
            </div>
            <div class="subtitle-container">
              <mat-card-subtitle class="subtitle" style="white-space: nowrap;">
                90-180 Days
              </mat-card-subtitle>
              <mat-card-subtitle class="count">80</mat-card-subtitle>
            </div>
          </div>

          <div class="case-type-row">
            <div class="icon-container4">
              <mat-icon style="color: #e76f51;">date_range</mat-icon>
            </div>
            <div class="subtitle-container">
              <mat-card-subtitle class="subtitle">6M - 1Y</mat-card-subtitle>
              <mat-card-subtitle class="count">12</mat-card-subtitle>
            </div>
          </div>

          <div class="case-type-row">
            <div class="icon-container5">
              <mat-icon style="color: #e76f51;">event_note</mat-icon>
            </div>
            <div class="subtitle-container">
              <mat-card-subtitle class="subtitle">1 - 2 Years</mat-card-subtitle>
              <mat-card-subtitle class="count">12</mat-card-subtitle>
            </div>
          </div>

          <div class="case-type-row">
            <div class="icon-container6">
              <mat-icon style="color: #e76f51;">history</mat-icon>
            </div>
            <div class="subtitle-container">
              <mat-card-subtitle class="subtitle">2+ Years</mat-card-subtitle>
              <mat-card-subtitle class="count">12</mat-card-subtitle>
            </div>
          </div>
        </div>
      </mat-card>
    </nav>
  </div>
</div>

<div [ngClass]="{ 'full-width': !isNavOpen }" class="col-sm-10 container-fluid"
  style="margin-bottom: 10px; padding-right: 25px">
  <!-- Rainbow images  -->

  <div *ngIf="isNavOpen" style="display: flex; align-items: center; margin-top: -4.5%">
    <!-- Image Container -->
    <div class="col-sm-2" style="margin-left: 14%;  cursor: pointer" (click)="toggleCard()">
      <img src="../../../../assets/rbg.png" class="top-left-image"
        style="width: 35px; height: 35px; margin-top: -18%; margin-left: 40px" />
    </div>


    <mat-card class="col-sm-10 pull-right" style="
        height: 35px;
        background-color: black;
        margin-top: -2.5%;
        margin-left: -30px;
        margin-right: -10px;
      " *ngIf="showCard">
      <div fxLayout="row" fxLayoutAlign="start center"
        style="gap: 30px; padding: 0 10px; display: flex; align-items: center">
        <div style="display: flex; align-items: center; gap: 10px">
          <span style="color: white; line-height: 35px; gap: 30px">Referrals</span>
          <span style="
              color: white;
              line-height: 35px;
              gap: 30px;
              margin-right: 10px;
            ">120,000</span>
          <mat-icon style="
              cursor: pointer;
              margin-right: 10px;
              background-color: lightgray;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 35px;
              height: 35px;
              padding: 18px 15px 12px 15px;
            " (click)="toggleTable('table')">
            {{ showTable ? "expand_less" : "add" }}
          </mat-icon>
        </div>

        <div style="display: flex; align-items: center; gap: 10px">
          <span style="color: white; line-height: 35px">Visits </span>
          <span style="
              color: white;
              line-height: 35px;
              gap: 30px;
              margin-right: 10px;
            ">105,991</span>
          <mat-icon style="
              cursor: pointer;
              margin-right: 10px;
              background-color: lightgray;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 35px;
              height: 35px;
              padding: 18px 15px 12px 15px;
            " (click)="toggleTable('table1')">
            {{ showTable1 ? "expand_less" : "add" }}
          </mat-icon>
        </div>
        <div style="display: flex; align-items: center; gap: 10px">
          <span style="color: white; line-height: 35px">Claims </span>
          <span style="
              color: white;
              line-height: 35px;
              gap: 30px;
              margin-right: 10px;
            ">65,001</span>
          <mat-icon style="
              cursor: pointer;
              margin-right: 10px;
              background-color: lightgray;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 35px;
              height: 35px;
              padding: 18px 15px 12px 15px;
            " (click)="toggleTable('table2')">
            {{ showTable2 ? "expand_less" : "add" }}
          </mat-icon>
        </div>
        <div style="display: flex; align-items: center; gap: 10px">
          <span style="color: white; line-height: 35px">Paid</span>
          <span style="
              color: white;
              line-height: 35px;
              gap: 30px;
              margin-right: 5px;
            ">45,962</span>
        </div>

        <div style="display: flex; align-items: center; gap: 7px">

          <mat-icon style="
              cursor: pointer;
              margin-right: 7px;
              background-color: lightgray;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 35px;
              height: 35px;
              padding: 18px 15px 12px 15px;
            "
            (click)="referralsFilter($event)"
            >
            filter_list
          </mat-icon>
        </div>

      </div>
    </mat-card>

  </div>

  <div *ngIf="!isNavOpen" style="display: flex; align-items: center; margin-top: -4.5%">
    <!-- Image Container -->
    <div class="col-sm-2" style="margin-left: 14%;  cursor: pointer" (click)="toggleCard()">
      <img src="../../../../assets/rbg.png" class="top-left-image"
        style="width: 35px; height: 35px; margin-top: -10%; margin-left: 40px" />
    </div>


    <mat-card class="col-sm-10 pull-right" style="
        height: 35px;
        background-color: black;
        margin-top: -1.5%;
        margin-left: -30px;
        margin-right: -10px;
      " *ngIf="showCard">
      <div fxLayout="row" fxLayoutAlign="start center"
        style="gap: 30px; padding: 0 10px; display: flex; align-items: center">
        <div style="display: flex; align-items: center; gap: 10px">
          <span style="color: white; line-height: 35px; gap: 30px">Referrals</span>
          <span style="
              color: white;
              line-height: 35px;
              gap: 30px;
              margin-right: 10px;
            ">120,000</span>
          <mat-icon style="
              cursor: pointer;
              margin-right: 10px;
              background-color: lightgray;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 35px;
              height: 35px;
              padding: 18px 15px 12px 15px;
            " (click)="toggleTable('table')">
            {{ showTable ? "expand_less" : "add" }}
          </mat-icon>
        </div>

        <div style="display: flex; align-items: center; gap: 10px">
          <span style="color: white; line-height: 35px">Visits </span>
          <span style="
              color: white;
              line-height: 35px;
              gap: 30px;
              margin-right: 10px;
            ">105,991</span>
          <mat-icon style="
              cursor: pointer;
              margin-right: 10px;
              background-color: lightgray;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 35px;
              height: 35px;
              padding: 18px 15px 12px 15px;
            " (click)="toggleTable('table1')">
            {{ showTable1 ? "expand_less" : "add" }}
          </mat-icon>
        </div>
        <div style="display: flex; align-items: center; gap: 10px">
          <span style="color: white; line-height: 35px">Claims </span>
          <span style="
              color: white;
              line-height: 35px;
              gap: 30px;
              margin-right: 10px;
            ">65,001</span>
          <mat-icon style="
              cursor: pointer;
              margin-right: 10px;
              background-color: lightgray;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 35px;
              height: 35px;
              padding: 18px 15px 12px 15px;
            " (click)="toggleTable('table2')">
            {{ showTable2 ? "expand_less" : "add" }}
          </mat-icon>
        </div>
        <div style="display: flex; align-items: center; gap: 10px">
          <span style="color: white; line-height: 35px">Paid</span>
          <span style="
              color: white;
              line-height: 35px;
              gap: 30px;
              margin-right: 5px;
            ">45,962</span>
        </div>

        <div style="display: flex; align-items: center; gap: 7px">

          <mat-icon style="
              cursor: pointer;
              margin-right: 7px;
              background-color: lightgray;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 35px;
              height: 35px;
              padding: 18px 15px 12px 15px;
            "
            (click)="referralsFilter($event)"
            >
            filter_list
          </mat-icon>
        </div>

      </div>
    </mat-card>

  </div>



  <div *ngIf="showTable" @slideIn style="margin-left: 25.4%" class="dropdown-content">
    <div id="grid-table-container" class="table-responsive">
      <h4>Gap Analysis - Referral vs. Visits</h4>
      <table matSort class="table table-bordered table-hover">
        <tbody>
          <tr *ngFor="let user of dataSource; let i = index;let last = last">
            <td [ngStyle]="{
                'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9'
              }">
              {{ user.workList }}
            </td>
            <td [ngStyle]="{
              'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9',
              'color': last ? 'black' : 'blue'
            }" [routerLink]="last ? null : ['/rcm-login/referrals']" [style.cursor]="last ? 'default' : 'pointer'">
            {{ user.volume }}
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="showTable1" @slideIn style="margin-left: 45%" class="dropdown-content">
    <div id="grid-table-container" class="table-responsive">
      <h4>Gap Analysis - Visits vs. Claims</h4>
      <table matSort class="table table-bordered table-hover">
        <tbody>
          <tr *ngFor="let user of dataSource1; let i = index;let last = last">
            <td [ngStyle]="{
                'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9'
              }">
              {{ user.workList }}
            </td>
            <td [ngStyle]="{
              'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9',
              'color': last ? 'black' : 'blue'
            }" [routerLink]="last ? null : ['/rcm-login/referrals']" [style.cursor]="last ? 'default' : 'pointer'">
            {{ user.volume }}
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="showTable2" @slideIn style="margin-left: 66.4%" class="dropdown-content">
    <div id="grid-table-container" class="table-responsive">
      <h4>Gap Analysis - Claims vs. Paid</h4>
      <table matSort class="table table-bordered table-hover">
        <tbody>
          <tr *ngFor="let user of dataSource2; let i = index;let last = last">
            <td [ngStyle]="{
                'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9'
              }">
              {{ user.workList }}
            </td>
            <td [ngStyle]="{
              'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9',
              'color': last ? 'black' : 'blue'
            }" [routerLink]="last ? null : ['/rcm-login/referrals']" [style.cursor]="last ? 'default' : 'pointer'">
            {{ user.volume }}
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  

  <div class="col-sm-12 mb-3 mt-4" style="width: 103.6%;">
    <div class="col-sm-3"></div>
    <div class="col-sm-4" style="text-align: right;">
      <p *ngIf="selectedIcon !== null" class="mt-2 tooltipName">
        <span style="color: #A6A6A6;">{{ icons[selectedIcon].tooltip }}</span>
      </p>
    </div>
    <div class="col-sm-5">
      <mat-card
        style="background-color: rgb(230, 228, 228); height: 35px; display: flex; justify-content: center; align-items: center;">
        <div style="display: flex; justify-content: center; align-items: center; cursor: pointer;">
          <mat-icon *ngFor="let icon of icons; let i = index" matTooltip="{{ icon.tooltip }}" class="animated-icon1"
            [ngStyle]="{
                'background-color': selectedIcon === i ? 'yellow' : 'transparent',
                'padding': selectedIcon === i ? '15px 15px 12px 15px' : '0px',
                'border-radius': '6px',
                'border': selectedIcon === i ? '2px solid orange' : 'none',
                'display': 'flex',
                'justify-content': 'center',
                'align-items': 'center',
                'width': '40px',
                'height': '40px'
              }" (click)="selectIcon(i)">
            {{ icon.name }}
          </mat-icon>
          <mat-icon style="background-color: white;" (click)="perspectives();" matTooltip="Perspectives"
            class="animated-icon1">settings
          </mat-icon>
          <mat-icon (click)="perspectiveFilter($event)" matTooltip="Filter" class="animated-icon1">
            filter_list
          </mat-icon>
        </div>
      </mat-card>
    </div>
  </div>
  <!-- For Patient Intake -->
  <div class="col-sm-12 mt-3 mb-4" style="width: 104%; margin-left: -20px;" *ngIf="selectedIcon === 0">
    <!-- 1st -->
    <div class="col-sm-4">
      <table style="width: 103%; border-collapse: collapse; text-align: left;">
        <tbody>
          <tr *ngFor="let data of patientData; let i = index">
            <td
              [ngStyle]="{'background-color': i % 2 === 0 ? '#e3f2fd' : 'lemonchiffon', 'padding': '8px', 'border': '1px solid #ddd'}">
              {{ data.description }}
            </td>
            <td class="count1">
              {{ data.count }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-4">
      <table style="width: 103%; border-collapse: collapse; text-align: left;">
        <tbody>
          <tr *ngFor="let data of patientData2; let i = index">
            <td
              [ngStyle]="{'background-color': i % 2 === 0 ? 'lemonchiffon' : '#e3f2fd', 'padding': '8px', 'border': '1px solid #ddd'}">
              {{ data.description }}
            </td>
            <td class="count1">
              {{ data.count }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-4">
      <table style="width: 103%; border-collapse: collapse; text-align: left;">
        <tbody>
          <tr *ngFor="let data of logData; let i = index">
            <td
              [ngStyle]="{'background-color': i % 2 === 0 ? '#e3f2fd' : 'lemonchiffon', 'padding': '8px', 'border': '1px solid #ddd'}">
              {{ data.description }}
            </td>
            <td class="count1" *ngIf="data.description == 'Denied'  || data.description == 'Delayed'"
              [ngStyle]=" {'color': 'red' }">
              {{ data.count }}
            </td>
            <td class="count1" *ngIf="data.description != 'Denied' && data.description != 'Delayed'">
              {{ data.count }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Liaison -->
  <div class="arrow-container" *ngIf="selectedIcon === 1">
    <div class="arrow-shape" *ngFor="let stat of Liaisons; let i = index"
      [style.background-color]="getBackgroundColor(i)" style="color: black;">
      <span class="arrow-text">{{ stat.text }}</span>
      <span class="arrow-number">{{ stat.number }}</span>
    </div>
  </div>

  <!-- Case Manager -->
  <div class="arrow-container" *ngIf="selectedIcon === 2">
    <div class="arrow-shape" style="background-color: #C4C2FF; color: black;">
      <span class="arrow-text">AUTH & Pending SCH</span>
      <span class="arrow-number">60,901</span>
    </div>
    <div class="arrow-shape" style="background-color: #B3E3F6; color: black;">
      <span class="arrow-text">Pending Authorization</span>
      <span class="arrow-number">10,987</span>
    </div>
    <div class="arrow-shape" style="background-color: #E0DBFF; color: black;">
      <span class="arrow-text">Verified & Pending SCH</span>
      <span class="arrow-number">19,290</span>
    </div>

    <div class="arrow-shape" style="background-color: #D9D9D9; color: black;">
      <span class="arrow-text">SCH & Pending AUTH</span>
      <span class="arrow-number">98,762</span>
    </div>

    <div class="arrow-shape" style="background-color: #FFD2B2; color: black;">
      <span class="arrow-text">SCH this week</span>
      <span class="arrow-number">9891</span>
    </div>

    <div class="arrow-shape" style="background-color: #A8E5C1; color: black;">
      <span class="arrow-text">Pending Scheduled</span>
      <span class="arrow-number">7498</span>
    </div>
  </div>

  <!-- Scheduling -->
  <div class="arrow-container" *ngIf="selectedIcon === 3">
    <div class="arrow-shape" style="background-color: #C4C2FF; color: black;">
      <span class="arrow-text">Pending Verification</span>
      <span class="arrow-number">42,981</span>
    </div>
    <div class="arrow-shape" style="background-color: #B3E3F6; color: black;">
      <span class="arrow-text">Pending Authorization</span>
      <span class="arrow-number">40,897</span>
    </div>
    <div class="arrow-shape" style="background-color: #E0DBFF; color: black;">
      <span class="arrow-text">SCH & Pending AUTH</span>
      <span class="arrow-number">32,781</span>
    </div>

    <div class="arrow-shape" style="background-color: #D9D9D9; color: black;">
      <span class="arrow-text">Scheduled Today</span>
      <span class="arrow-number">9891</span>
    </div>

    <div class="arrow-shape" style="background-color: #FFD2B2; color: black;">
      <span class="arrow-text">AUTH & Pending SCH</span>
      <span class="arrow-number">981</span>
    </div>

    <div class="arrow-shape" style="background-color: #A8E5C1; color: black;">
      <span class="arrow-text">Scheduling Overdue</span>
      <span class="arrow-number">741</span>
    </div>

  </div>

  <!-- Claims -->
  <div class="arrow-container" *ngIf="selectedIcon === 4">
    <div class="arrow-shape" style="background-color: #E0DBFF; color: black;">
      <span class="arrow-text">Cases Pending</span>
      <span class="arrow-number">32,987</span>
    </div>

    <div class="arrow-shape" style="background-color: #D9D9D9; color: black;">
      <span class="arrow-text">Cases Closed</span>
      <span class="arrow-number">30,652</span>
    </div>

    <div class="arrow-shape" style="background-color: #FFD2B2; color: black;">
      <span class="arrow-text">Cases Settled</span>
      <span class="arrow-number">31,987</span>
    </div>

    <div class="arrow-shape" style="background-color: #A8E5C1; color: black;">
      <span class="arrow-text">Cases Paid</span>
      <span class="arrow-number">1556</span>
    </div>
    <div class="arrow-shape" style="background-color: #C4C2FF; color: black;">
      <span class="arrow-text">Cases Overdue</span>
      <span class="arrow-number">535</span>
    </div>

    <div class="arrow-shape" style="background-color: #B3E3F6; color: black;">
      <span class="arrow-text">Cases Denied</span>
      <span class="arrow-number">145</span>
    </div>

  </div>

  <!-- Funds -->
  <div class="arrow-container1" *ngIf="selectedIcon === 5">
    <div class="arrow-shape" style="background-color: #E0DBFF; color: black;">
      <span class="arrow-text">Batched Claims</span>
      <span class="arrow-number1">92,987</span>
    </div>

    <div class="arrow-shape" style="background-color: #D9D9D9; color: black;">
      <span class="arrow-text">Funded Claims</span>
      <span class="arrow-number1">91,675</span>
    </div>

    <div class="arrow-shape" style="background-color: #FFD2B2; color: black;">
      <span class="arrow-text">Claims Settled</span>
      <span class="arrow-number1">90,786</span>
    </div>

    <div class="arrow-shape" style="background-color: #A8E5C1; color: black;">
      <span class="arrow-text">Claims Paid</span>
      <span class="arrow-number1">89,987</span>
    </div>

  </div>

  <!-- For Collection Intake -->
  <div class="col-sm-12 mt-3 mb-4" style="width: 104%; margin-left: -20px;" *ngIf="selectedIcon === 6">
    <!-- 1st -->
    <div class="col-sm-4">
      <table style="width: 103%; border-collapse: collapse; text-align: left;">
        <tbody>
          <tr *ngFor="let data of collectionData; let i = index">
            <td
              [ngStyle]="{'background-color': i % 2 === 0 ? '#e3f2fd' : 'lemonchiffon', 'padding': '8px', 'border': '1px solid #ddd'}">
              {{ data.description }}
            </td>
            <td class="count1">
              {{ data.count }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-4">
      <table style="width: 103%; border-collapse: collapse; text-align: left;">
        <tbody>
          <tr *ngFor="let data of collectionData2; let i = index">
            <td
              [ngStyle]="{'background-color': i % 2 === 0 ? 'lemonchiffon' : '#e3f2fd', 'padding': '8px', 'border': '1px solid #ddd'}">
              {{ data.description }}
            </td>
            <td class="count1">
              {{ data.count }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-4">
      <table style="width: 103%; border-collapse: collapse; text-align: left;">
        <tbody>
          <tr *ngFor="let data of collectionLogData; let i = index">
            <td
              [ngStyle]="{'background-color': i % 2 === 0 ? '#e3f2fd' : 'lemonchiffon', 'padding': '8px', 'border': '1px solid #ddd'}">
              {{ data.description }}
            </td>
            <td class="count1" *ngIf="data.description == 'Denied'  || data.description == 'Delayed'"
              [ngStyle]=" {'color': 'red' }">
              {{ data.count }}
            </td>
            <td class="count1" *ngIf="data.description != 'Denied' && data.description != 'Delayed'">
              {{ data.count }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Leadership -->
  <div class="arrow-container" *ngIf="selectedIcon === 7">
    <div class="arrow-shape" style="background-color: #C4C2FF; color: black;">
      <span class="arrow-text">Referrals This Year</span>
      <span class="arrow-number">122,981</span>
    </div>
    <div class="arrow-shape" style="background-color: #B3E3F6; color: black;">
      <span class="arrow-text">Visits This Year</span>
      <span class="arrow-number">101,781</span>
    </div>
    <div class="arrow-shape" style="background-color: #E0DBFF; color: black;">
      <span class="arrow-text">Claims This Year</span>
      <span class="arrow-number">321,876</span>
    </div>

    <div class="arrow-shape" style="background-color: #D9D9D9; color: black;">
      <span class="arrow-text">Scheduling Overdue</span>
      <span class="arrow-number">981</span>
    </div>

    <div class="arrow-shape" style="background-color: #FFD2B2; color: black;">
      <span class="arrow-text">Claims Overdue</span>
      <span class="arrow-number">989</span>
    </div>

    <div class="arrow-shape" style="background-color: #A8E5C1; color: black;">
      <span class="arrow-text">QTQ Referrals Growth</span>
      <span class="arrow-number">34%</span>
    </div>

  </div>


  <div class="w-100 mt-4">
    <div class="row" style="display: flex; justify-content: flex-end; align-items: center">

      <label class="control-label mt-2 margin-right-10">Apply Save Search :</label>
      <mat-select class="form-control margin-right-10" style="width: 180px;" placeholder="Select Subject">
        <mat-option [value]="'New York'">Pending Verification</mat-option>
        <mat-option [value]="'Los Angeles'">SCH & Pending AUTH</mat-option>
        <mat-option [value]="'Chicago'">Referrals this week</mat-option>
        <mat-option [value]="'Houston'">Authorized this week</mat-option>
      </mat-select>
      <button mat-raised-button matTooltip="Save" style="background-color: green; color: white; margin-right: 8px">
        Go
      </button>
      <!-- Filter Button -->
      <button mat-raised-button style="background-color: #37474f; color: white" (click)="openMerge()"
        class="filters-hover margin-right-10">
        <mat-icon>merge_type</mat-icon> Merge
      </button>
      <button mat-raised-button style="background-color: #37474f; color: white" class="filters-hover margin-right-10"
        (click)="filterToggle = !filterToggle">
        <mat-icon class="mat-margin-top">filter_list</mat-icon> Filter
      </button>

      <button mat-raised-button matTooltip="Download CSV" class="center-icon"
        style="background-color: black; color: white; margin-right: 8px">
        <mat-icon>get_app</mat-icon>
      </button>

      <button mat-raised-button matTooltip="Download Template" class="center-icon"
        style="background-color: black; color: white; margin-right: 8px">
        <mat-icon>get_app</mat-icon>
      </button>

      <button mat-raised-button matTooltip="Upload CSV" class="center-icon"
        style="background-color: black; color: white; margin-right: 8px">
        <mat-icon>backup</mat-icon>
      </button>

      <!-- Add Account Button -->
      <button mat-raised-button color="primary" class="btn-primary margin-right-5" (click)="openEditDialog(null)">
        <mat-icon class="mat-margin-top">add</mat-icon> Add Case
      </button>
    </div>
  </div>
</div>

<!-- Filter UI -->

<div class="col-sm-10" [ngClass]="{ 'full-width': !isNavOpen }" fxLayout="row wrap" *ngIf="filterToggle"
  style="margin-bottom: 10px">
  <div fxFlex="100" class="flex-p w-100">
    <form>
      <!-- [formGroup]="filterForm" -->
      <mat-card class="filter">
        <mat-card-content>
          <div class="row pl-4">
    
            <div class="col-sm-4">
              <div class="row">
                <div class="col-sm-4">
                  <b>Keyword:</b>
                </div>
                <div class="col-sm-7">
                  <input type="text" placeholder="Search by Keyword" class="form-control">
                  <!-- formControlName="keyword" -->
                </div>
              </div>
            </div>
    
    
            <div class="col-sm-4">
              <div class="row">
                <div class="col-sm-4">
                  <b>Patient :</b>
                </div>
                <div class="col-sm-7">
                  <mat-select placeholder="--Select Patient --" [(value)]="selectedPatientType" class="form-control"
                    multiple>
    
                    <mat-select-trigger>
                      {{selectedPatientType || '--Select Patient--'}}
                    </mat-select-trigger>
                    <mat-form-field *ngIf="eventTypes.length > 1" appearance="fill" style="width: 100%;">
                      <input matInput (input)="applyFilter($event)" placeholder="Search">
                    </mat-form-field>
                    <mat-option *ngFor="let event of filteredPatientTypes" [value]="event">
                      {{event}}
                    </mat-option>
                  </mat-select>
                </div>
              </div>
            </div>
    
    
    
    
            <div class="col-sm-4">
              <div class="row">
                <div class="col-sm-4">
                  <b>Law Firm:</b>
                </div>
                <div class="col-sm-7">
                  <mat-select placeholder="--Select Law Firm--" [(value)]="selectLawFirmType" class="form-control" multiple>
    
                    <mat-select-trigger>
                      {{selectLawFirmType || '--Select City--'}}
                    </mat-select-trigger>
                    <mat-form-field *ngIf="eventLawFirmTypes.length > 1" appearance="fill" style="width: 100%;">
                      <input matInput (input)="applyFilter1($event)" placeholder="Search">
                    </mat-form-field>
                    <mat-option *ngFor="let event of filteredLawFirmType" [value]="event">
                      {{event}}
                    </mat-option>
                  </mat-select>
                </div>
              </div>
            </div>
    
    
    
    
          </div>
    
    
          <div class="row pt-4 pl-4">
    
            <div class="col-sm-4">
              <div class="row">
                <div class="col-sm-4">
                  <b>Case Type:</b>
                </div>
                <div class="col-sm-7">
                  <mat-select [(value)]="selectedCaseType" placeholder="--Select Case Type--" class="form-control">
                    <mat-option [value]="'Sub Acute'">Sub Acute</mat-option>
                    <mat-option [value]="'Insurance'">Insurance</mat-option>
                    <mat-option [value]="'Worker Comp'">Worker Comp</mat-option>
                    <mat-option [value]="'Self Pay'">Self Pay</mat-option>
                  </mat-select>
                </div>
              </div>
            </div>
    
    
            <div class="col-sm-4">
              <div class="row">
                <div class="col-sm-4">
                  <b>Category:</b>
                </div>
                <div class="col-sm-7">
                  <mat-select [(value)]="selectedCategoryType" placeholder="--Select Category--" class="form-control">
                    <mat-option [value]="'Personal Injury'">Personal Injury</mat-option>
                    <mat-option [value]="'Family Law'">Family Law</mat-option>
                    <mat-option [value]="'Criminal Defense'">Criminal Defense</mat-option>
                    <mat-option [value]="'Contract Disputes'">Contract Disputes</mat-option>
                    <mat-option [value]="'Property Disputes'">Property Disputes</mat-option>
                    <mat-option [value]="'Intellectual Property'">Intellectual Property</mat-option>
                    <mat-option [value]="'Employment Law'">Employment Law</mat-option>
                    <mat-option [value]="'Immigration Cases'">Immigration Cases</mat-option>
                  </mat-select>
                </div>
              </div>
            </div>
    
            <div class="col-sm-4">
              <div class="row">
                <div class="col-sm-4">
                  <b>Order Type:</b>
                </div>
                <div class="col-sm-7">
                  <mat-select [(value)]="selectedOrderType" placeholder="--Select Order Type--" class="form-control">
                    <mat-option [value]="'Personal Injury'">Clinical</mat-option>
                    <mat-option [value]="'Family Law'">Legal</mat-option>
                    <mat-option [value]="'Criminal Defense'">Insurance</mat-option>
                    <mat-option [value]="'Contract Disputes'">Clinical</mat-option>
                    <mat-option [value]="'Property Disputes'">Medical</mat-option>
                  </mat-select>
                </div>
              </div>
            </div>
    
          </div>
    
    
          <div class="row pt-4 pl-4">
    
    
            <!-- raj -->
            <div class="col-sm-4">
              <div class="row">
                <div class="col-sm-4">
                  <b>Date Type:</b>
                </div>
                <div class="col-sm-7">
                  <mat-select [(value)]="selectedDateType" placeholder="--Select Date Type--" class="form-control">
                    <mat-option [value]="'Date Created'">Date Created</mat-option>
                    <mat-option [value]="'Injury Date'"> Injury Date</mat-option>
                    <mat-option [value]="'Visit Date'"> Visit Date</mat-option>
                    <mat-option [value]="'Visit Date'">ETA</mat-option>
                  </mat-select>
                </div>
              </div>
            </div>
    
            <div class="col-sm-4">
              <div class="row">
                <div class="col-sm-4">
                  <b>From Date:</b>
                </div>
                <div class="col-sm-7">
                  <input type="date" class="form-control" maxlength="100" minlength="2" onDrag="return false"
                    onDrop="return false" required>
                </div>
              </div>
            </div>
    
    
    
            <div class="col-sm-4">
              <div class="row">
                <div class="col-sm-4">
                  <b>To Date:</b>
                </div>
                <div class="col-sm-7">
                  <input type="date" class="form-control" maxlength="100" minlength="2" onDrag="return false"
                    onDrop="return false" required>
                </div>
              </div>
            </div>
    
    
    
          </div>
    
          <div class="row pt-4 pl-4">
    
    
            <div class="col-sm-4">
              <div class="row">
                <div class="col-sm-4">
                  <b>Referral From:</b>
                </div>
                <div class="col-sm-7">
                  <mat-select placeholder="--Select Referral From: --" [(value)]="selectedRefferalFrom" class="form-control"
                    multiple>
    
                    <mat-select-trigger>
                      {{selectedRefferalFrom || '--Select Patient--'}}
                    </mat-select-trigger>
                    <mat-form-field *ngIf="eventRefferalFrom.length > 1" appearance="fill" style="width: 100%;">
                      <input matInput (input)="applyFilter3($event)" placeholder="Search">
                    </mat-form-field>
                    <mat-option *ngFor="let event of filteredRefferalFrom" [value]="event">
                      {{event}}
                    </mat-option>
                  </mat-select>
                </div>
              </div>
            </div>
    
    
            <div class="col-sm-4">
              <div class="row">
                <div class="col-sm-4">
                  <b>Referral To:</b>
                </div>
                <div class="col-sm-7">
                  <mat-select placeholder="--Select Referral To: --" [(value)]="selectedRefferalTo" class="form-control"
                    multiple>
    
                    <mat-select-trigger>
                      {{selectedRefferalTo || '--Select Referral To--'}}
                    </mat-select-trigger>
                    <mat-form-field *ngIf="eventRefferalTo.length > 1" appearance="fill" style="width: 100%;">
                      <input matInput (input)="applyFilter4($event)" placeholder="Search">
                    </mat-form-field>
                    <mat-option *ngFor="let event of filteredRefferalTo" [value]="event">
                      {{event}}
                    </mat-option>
                  </mat-select>
                </div>
              </div>
            </div>
    
    
            <div class="col-sm-4">
              <div class="row">
                <div class="col-sm-4">
                  <b>Claim Status:</b>
                </div>
                <div class="col-sm-7">
                  <mat-select [(value)]="selectedVisitStatus" placeholder="--Select Visit Status --" class="form-control">
                    <mat-option [value]="'Paid'">Paid</mat-option>
                    <mat-option [value]="'Draft'">Draft</mat-option>
                    <mat-option [value]="'Submitted'">Submitted</mat-option>
                    <mat-option [value]="'Deposit'">Deposit</mat-option>
                    <mat-option [value]="'Settled'">Settled</mat-option>
                  </mat-select>
                </div>
              </div>
            </div>
    
          </div>
    
    
    
    
          <div class="row pt-4 pl-4">
    
            <div class="col-sm-4">
              <div class="row">
                <div class="col-sm-4">
                  <b>Attorney:</b>
                </div>
                <div class="col-sm-7">
                  <mat-select [(value)]="selectedAttorney" placeholder="--Select Attorney  --" class="form-control">
                    <mat-option [value]="'Mike Papantonio'">Mike Papantonio</mat-option>
                    <mat-option [value]="'Christopher Seeger'">Christopher Seeger</mat-option>
                    <mat-option [value]="'Kevin P. Davidson'">Kevin P. Davidson</mat-option>
                    <mat-option [value]="'Ellen Relkin'">Ellen Relkin</mat-option>
    
                  </mat-select>
                </div>
              </div>
            </div>
    
            <div class="col-sm-4">
              <div class="row">
                <div class="col-sm-4">
                  <b>Visit Type :</b>
                </div>
                <div class="col-sm-7">
                  <mat-select [(value)]="selectedVisitType" placeholder="--Select Visit Type  --" class="form-control">
                    <mat-option [value]="'Clinical'">Clinical</mat-option>
                    <mat-option [value]="'Imaging'">Imaging</mat-option>
                  </mat-select>
                </div>
              </div>
            </div>
    
    
    
            <div class="col-sm-4">
              <div class="row">
                <div class="col-sm-9 offset-sm-3">
                  <a (click)="filterToggle = !filterToggle" matTooltip="Close" class="pull-right"
                    style="font-size: 20px; cursor: pointer; margin-left: 5px">
                    <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                  </a>
    
                  <i class="material-icons pull-right" matTooltip="Clear"
                    style="font-size: 25px; cursor: pointer; margin-left: 5px">
                    settings_backup_restore
                  </i>
    
                  <i class="fa fa-save pull-right" matTooltip="Save" (click)="saveFilters()" style="
                                    font-size: 20px;
                                    cursor: pointer;
                                    margin-left: 5px;
                                    color: green;
                                  " aria-hidden="true">
                  </i>
    
                  <i class="fa fa-search pull-right" matTooltip="Search" style="
                                    font-size: 20px;
                                    cursor: pointer;
                                    margin-left: 5px;
                                    color: blue;
                                  " aria-hidden="true">
                  </i>
                </div>
              </div>
            </div>
          </div>



        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>

<!-- <div fxLayout="row wrap" *ngIf="filterToggle" style="margin-bottom: 10px">
    <div fxFlex="100" class="flex-p w-100">
        <form [formGroup]="filterForm">
            <mat-card class="filter">
                <mat-card-content>
                    <div class="row col-sm-12">
                        <div class="col-sm-4 row">
                            <div class="col-sm-4">
                                <b>Industry:</b>
                            </div>
                            <div class="col-sm-7">
                                <select placeholder="Select Industry" class="form-control" formControlName="Status">
                                    <option></option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-4 row">
                            <div class="col-sm-2">
                                <b>Select Status:</b>
                            </div>
                            <div class="col-sm-10">
                                <select placeholder="Select Status" class="form-control" formControlName="Status">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <a (click)="filterToggle = !filterToggle" class="pull-right"
                                style="font-size: 25px; cursor: pointer; margin-left: 5px">
                                <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                            </a>
                            <button mat-raised-button color="primary" class="pull-right">
                                Search
                            </button>

                            <button mat-raised-button class="pull-right btn-default margin-right-10">
                                Clear
                            </button>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
                    </div>
                </mat-card-content>
            </mat-card>
        </form>
    </div>
</div> -->

<!-- Table -->
<div [ngClass]="{ 'full-width': !isNavOpen }" class="col-sm-10">
  <div id="grid-table-container" class="table-responsive">
    <table matSort class="table table-bordered table-hover">
      <thead class="tbl-head1" style="background-color: rgb(58, 53, 53); color: white">
        <tr>
          <th class="text-center">Actions</th>
          <th class="text-center">Status</th>
          <th class="text-center" style="white-space: nowrap">Case ID</th>
          <th class="text-center">Select</th>
          <th class="text-center">Claims</th>
          <th class="text-center" style="white-space: nowrap">Referrals</th>
          <th class="text-center" style="white-space: nowrap">Visits</th>
          <th style="white-space: nowrap" class="text-center">Patients</th>
          <th style="white-space: nowrap" class="text-center">Locations</th>
          <th style="white-space: nowrap" class="text-center">Providers</th>
          <th class="text-left">Liaison</th>
          <th style="white-space: nowrap">Patient Name</th>
          <th class="text-center">DoB</th>
          <th class="text-center">Dol</th>
          <th>Law Firm</th>
          <th class="text-center" style="white-space: nowrap">Last Updated</th>
          <th>Gender</th>
          <th>City</th>
          <th>State</th>
          <th class="text-center" style="white-space: nowrap">Zip Code</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let applicant of users">
          <td class="text-center" style="white-space: nowrap">
            <a matTooltip="Edit Record" (click)="openEditDialog(applicant.id)" class="fa fa-edit action-btn edit-btn"
              style="margin-right: 10px;">
            </a>
            <a matTooltip="Delete Record" class="fa fa-trash action-btn delete-btn">
            </a>
          </td>
          <!-- <td class="text-center">{{ applicant.status }}</td> -->
          <td class="text-center" style="text-align: center !important; ">
            <a [ngStyle]="{'color':  applicant.status? 'blue' : 'red','cursor':'pointer'}">
              <span *ngIf="!applicant.status" style="color:red">Inactive</span>
              <span *ngIf=" applicant.status">Active</span>
            </a>
          </td>
          <td class="text-center" [routerLink]="['/rcm-login/cases-dashboard']"
            style="color: cornflowerblue; cursor: pointer;">
            {{ applicant.caseId}}
          </td>
          <td class="text-center">
            <mat-checkbox></mat-checkbox>
          </td>
          <td class="text-center" [routerLink]="['../inner-claims']" style="color: cornflowerblue; cursor: pointer;">{{
            applicant.claims }}</td>
          <td class="text-center" [routerLink]="['../inner-referrals']" style="color: cornflowerblue; cursor: pointer;">
            {{ applicant.referrals }}
          </td>
          <td class="text-center" [routerLink]="['../inner-visits']" style="color: cornflowerblue; cursor: pointer;">
            {{ applicant.referrals }}
          </td>
          <td class="text-center" style="color: cornflowerblue; cursor: pointer;" [routerLink]="['../inner-patients']">
            {{ applicant.patientId }}
          </td>
          <td class="text-center" [routerLink]="['../inner-locations']" style="color: cornflowerblue; cursor: pointer;">
            {{ applicant.locations }}
          </td>
          <td class="text-center" [routerLink]="['../inner-providers']" style="color: cornflowerblue; cursor: pointer;">
            {{ applicant.providers }}
          </td>
          <td class="text-left" style="white-space: nowrap">
            {{ applicant.liaison }}
          </td>
          <td style="white-space: nowrap">{{ applicant.patientName }}</td>
          <td class="text-center" style="white-space: nowrap">
            {{ applicant.dob | date : "dd-MMM-yyyy" }}
          </td>
          <td class="text-center" style="white-space: nowrap">
            {{ applicant.dol | date : "dd-MMM-yyyy" }}
          </td>
          <td style="white-space: nowrap">{{ applicant.lawFirm }}</td>
          <td class="text-center" style="white-space: nowrap">
            {{ applicant.updated | date : "dd-MMM-yyyy" }}
          </td>
          <td>{{ applicant.gender }}</td>
          <td>{{ applicant.city }}</td>
          <td>{{ applicant.state }}</td>
          <td class="text-center">{{ applicant.zipCode }}</td>
        </tr>
      </tbody>
    </table>
    <button class="mine" mat-fab (click)="scrollGrid('right')">
      <mat-icon style="color: #37474f">fast_forward</mat-icon>
    </button>
    <button class="mine" mat-fab style="margin-right: 78px !important" (click)="scrollGrid('left')">
      <mat-icon style="color: #37474f">fast_rewind</mat-icon>
    </button>
    <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSizeOptions]="[5, 10, 25, 50, 100]"
      showFirstLastButtons></mat-paginator>
  </div>
</div>