<div class="col-sm-12" style="margin-left: -5px; margin-bottom: 10px;">
    <div class="pills">
        <ul class="nav nav-pills" style="margin-left: 10px;">
            <li routerLinkActive="active" [routerLink]="['matrics']">
                <a mat-raised-button>
                    Metrics
                </a>
            </li>
            <li routerLinkActive="active" [routerLink]="['analytics']">
                <a mat-raised-button>
                    Radar
                </a>
            </li>
            <li routerLinkActive="active" [routerLink]="['radar-patients']">
                <a mat-raised-button>
                    Patients
                </a>
            </li>
            <li routerLinkActive="active" [routerLink]="['radar-providers']">
                <a mat-raised-button>
                    Providers
                </a>
            </li>
            <li routerLinkActive="active" [routerLink]="['radar-law-firms']">
                <a mat-raised-button>
                    Law Firms
                </a>
            </li>
            <li routerLinkActive="active" [routerLink]="['radar-referrals']">
                <a mat-raised-button>
                    Referrals
                </a>
            </li>
            <li routerLinkActive="active" [routerLink]="['radar-visits']">
                <a mat-raised-button>
                    Visits
                </a>
            </li>
            <li routerLinkActive="active" [routerLink]="['radar-claims']">
                <a mat-raised-button>
                    Claims
                </a>
            </li>
            <li routerLinkActive="active" [routerLink]="['radar-cases']">
                <a mat-raised-button>
                    Cases
                </a>
            </li>
            <li routerLinkActive="active" [routerLink]="['radar-payments']">
                <a mat-raised-button>
                    Payments
                </a>
            </li>
            <li routerLinkActive="active" [routerLink]="['radar-funds']">
                <a mat-raised-button>
                    Funds
                </a>
            </li>
            <!-- <li routerLinkActive="active" [routerLink]="['activity']">
                <a mat-raised-button>
                    Alerts
                </a>
            </li> -->
        </ul>
    </div>
</div>

<router-outlet></router-outlet>