.mine {
    position: fixed;
    bottom: 80px;
    right: 40px;
    background-color: #e6e6e6 !important;
}

/* Center the icons inside the buttons */
.mat-raised-button .mat-icon.icon-center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 24px;
    /* Adjust icon size if needed */
}

* {
    box-sizing: border-box;
}


.content-container {
    width: 100%;
    overflow-x: hidden;
}


.center-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1em;
}

.center-icon mat-icon {
    vertical-align: middle;
    margin: 0;
}

//----------------------------
.arrow-container {
    display: flex;
    flex-wrap: wrap;
    /* Allow wrapping to the next row */
    justify-content: space-between;
    /* Distribute arrows evenly */
    align-items: center;
    gap: 15px;
    /* Space between arrows */
    padding: 15px;
}

.arrow-container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 15px;
    overflow-x: auto;
}


.arrow-shape {
    display: flex;
    align-items: center;
    /* Vertically aligns text and number */
    justify-content: space-between;
    /* Place text and number at opposite ends */
    width: calc(33.33% - 20px);
    /* Adjust width to fit three in a row with gap */
    height: 60px;
    background-color: #005f73;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 10px;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}


.arrow-text {
    font-size: 17px;
    font-weight: bold;
}

.arrow-number {
    font-size: 18px;
    font-weight: bold;
    margin-right: 60px;
}



.count {
    padding: 8px;
    border: 1px solid #ddd;
    font-size: 17px;
    width: 100px;
    text-align: center;
    color: cornflowerblue;
    cursor: pointer;
}

.tooltipName {
    white-space: nowrap;
    font-size: 18px;
    margin-left: 25px;
}



.dropdown-content {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-top: -2px;
    padding: 10px;
    width: 31%;
    position: absolute;
    z-index: 10;
  }

  ::ng-deep .mat-menu-panel {
    max-height: 250px !important; 
  }
  
  ::ng-deep .scrollable-menu {
    max-height: 200px; 
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
  }