<!-- <div style="display: flex; align-items: center;margin-left: 13%; margin-top: -4.5%">
   
    <div class="col-sm-2" style="  cursor: pointer" (click)="toggleCard()">
      <img src="../../../../assets/rbg.png" class="top-left-image"
        style="width: 35px; height: 35px; margin-top: -20%; margin-left: 40px" />
    </div>
  
  
    <mat-card class="col-sm-10 pull-right" style="
        height: 35px;
        background-color: black;
        margin-top: -2.5%;
        margin-left: -30px;
        margin-right: -10px;
      " *ngIf="showCard">
      <div fxLayout="row" fxLayoutAlign="start center"
        style="gap: 30px; padding: 0 10px; display: flex; align-items: center">
        <div style="display: flex; align-items: center; gap: 10px">
          <span style="color: white; line-height: 35px; gap: 30px">Referrals</span>
          <span style="
              color: white;
              line-height: 35px;
              gap: 30px;
              margin-right: 4px;
            ">120,000</span>
          <mat-icon style="
              cursor: pointer;
              margin-right: -1px;
              background-color: lightgray;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 35px;
              height: 35px;
              padding: 18px 15px 12px 15px;
            " (click)="toggleTable('table')">
            {{ showTable ? "expand_less" : "add" }}
          </mat-icon>
        </div>
  
        <div style="display: flex; align-items: center; gap: 10px">
          <span style="color: white; line-height: 35px">Visits </span>
          <span style="
              color: white;
              line-height: 35px;
              gap: 30px;
              margin-right: 10px;
            ">105,991</span>
          <mat-icon style="
              cursor: pointer;
              margin-right: 5px;
              background-color: lightgray;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 35px;
              height: 35px;
              padding: 18px 15px 12px 15px;
            " (click)="toggleTable('table1')">
            {{ showTable1 ? "expand_less" : "add" }}
          </mat-icon>
        </div>
        <div style="display: flex; align-items: center; gap: 10px">
          <span style="color: white; line-height: 35px">Claims </span>
          <span style="
              color: white;
              line-height: 35px;
              gap: 30px;
              margin-right: 10px;
            ">65,001</span>
          <mat-icon style="
              cursor: pointer;
              margin-right: 6px;
              background-color: lightgray;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 35px;
              height: 35px;
              padding: 18px 15px 12px 15px;
            " (click)="toggleTable('table2')">
            {{ showTable2 ? "expand_less" : "add" }}
          </mat-icon>
        </div>
        <div style="display: flex; align-items: center; gap: 10px">
          <span style="color: white; line-height: 35px">Paid</span>
          <span style="
              color: white;
              line-height: 35px;
              gap: 30px;
              margin-right: 2px;
            ">45,962</span>
        </div>
  
        <div style="display: flex; align-items: center; gap: 7px">
  
          <mat-icon style="
              cursor: pointer;
              margin-right: 7px;
              background-color: lightgray;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 35px;
              height: 35px;
              padding: 18px 15px 12px 15px;
            "
            (click)="referralsFilter($event)"
            >
            filter_list
          </mat-icon>
        </div>
  
      </div>
    </mat-card>
  
  </div>
  
  
  <div *ngIf="showTable" @slideIn style="margin-left: 24%" class="dropdown-content">
    <div id="grid-table-container" class="table-responsive">
      <h4>Gap Analysis - Referral vs. Visits</h4>
      <table matSort class="table table-bordered table-hover">
        <tbody>
          <tr *ngFor="let user of dataSource; let i = index">
            <td [ngStyle]="{
                'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9'
              }">
              {{ user.workList }}
            </td>
            <td [ngStyle]="{
                'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9'
              }" style="color: blue; cursor: pointer" [routerLink]="['/rcm-login/referrals']">
              {{ user.volume }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div *ngIf="showTable1" @slideIn style="margin-left: 45%" class="dropdown-content">
    <div id="grid-table-container" class="table-responsive">
      <h4>Gap Analysis - Visits vs. Claims</h4>
      <table matSort class="table table-bordered table-hover">
        <tbody>
          <tr *ngFor="let user of dataSource1; let i = index">
            <td [ngStyle]="{
                'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9'
              }">
              {{ user.workList }}
            </td>
            <td [ngStyle]="{
                'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9'
              }" style="color: blue; cursor: pointer" [routerLink]="['/rcm-login/visits']">
              {{ user.volume }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div *ngIf="showTable2" @slideIn style="margin-left: 63.8%" class="dropdown-content">
    <div id="grid-table-container" class="table-responsive">
      <h4>Gap Analysis - Claims vs. Paid</h4>
      <table matSort class="table table-bordered table-hover">
        <tbody>
          <tr *ngFor="let user of dataSource2; let i = index">
            <td [ngStyle]="{
                'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9'
              }">
              {{ user.workList }}
            </td>
            <td [ngStyle]="{
                'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9'
              }" style="color: blue; cursor: pointer" [routerLink]="['/rcm-login/claims']">
              {{ user.volume }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->




<!-- Developed by vineeth from here -->
<div class="col-sm-12 mb-3 mt-4">
    <div class="col-sm-4"></div>
    <div class="col-sm-3" style="text-align: right;">
        <p *ngIf="selectedIcon !== null" class="mt-2 tooltipName">
            <span style="color: #A6A6A6;">{{ icons[selectedIcon].tooltip }}</span>
        </p>
    </div>
    <div class="col-sm-5">
        <mat-card
            style="background-color: rgb(230, 228, 228); height: 35px; display: flex; justify-content: center; align-items: center;">
            <div style="display: flex; justify-content: center; align-items: center; cursor: pointer;">
                <mat-icon *ngFor="let icon of icons; let i = index" matTooltip="{{ icon.tooltip }}"
                    class="animated-icon1" [ngStyle]="{
              'background-color': selectedIcon === i ? 'yellow' : 'transparent',
              'padding': selectedIcon === i ? '15px 15px 12px 15px' : '0px',
              'border-radius': '6px',
              'border': selectedIcon === i ? '2px solid orange' : 'none',
              'display': 'flex',
              'justify-content': 'center',
              'align-items': 'center',
              'width': '40px',
              'height': '40px'
            }" (click)="selectIcon(i)">
                    {{ icon.name }}
                </mat-icon>
                <mat-icon style="background-color: white;" (click)="perspectives();" matTooltip="Perspectives"
                    class="animated-icon1">settings
                </mat-icon>

                <mat-icon (click)="perspectiveFilter($event)" matTooltip="Filter" class="animated-icon1">
                    filter_list
                </mat-icon>
            </div>
        </mat-card>
    </div>
</div>

<!-- tables -->

<!-- For Patient Intake -->
<div class="col-sm-12 mt-3 mb-4" *ngIf="selectedIcon === 1">
    <!-- 1st -->
    <div class="col-sm-4">
        <table style="width: 100%; border-collapse: collapse; text-align: left;">
            <tbody>
                <tr *ngFor="let data of patientData; let i = index">
                    <td
                        [ngStyle]="{'background-color': i % 2 === 0 ? '#e3f2fd' : 'lemonchiffon', 'padding': '8px', 'border': '1px solid #ddd'}">
                        {{ data.description }}
                    </td>
                    <td class="count">
                        {{ data.count }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="col-sm-4">
        <table style="width: 100%; border-collapse: collapse; text-align: left;">
            <tbody>
                <tr *ngFor="let data of patientData2; let i = index">
                    <td
                        [ngStyle]="{'background-color': i % 2 === 0 ? 'lemonchiffon' : '#e3f2fd', 'padding': '8px', 'border': '1px solid #ddd'}">
                        {{ data.description }}
                    </td>
                    <td class="count">
                        {{ data.count }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-sm-4">
        <table style="width: 100%; border-collapse: collapse; text-align: left;">
            <tbody>
                <tr *ngFor="let data of patientData2; let i = index">
                    <td
                        [ngStyle]="{'background-color': i % 2 === 0 ? 'lemonchiffon' : '#e3f2fd', 'padding': '8px', 'border': '1px solid #ddd'}">
                        {{ data.description }}
                    </td>
                    <td class="count" *ngIf="data.description == 'Cases Denied'  || data.description == 'Cases Delayed'"
                        [ngStyle]="
              {'color': 'red' }">
                        {{ data.count }}
                    </td>
                    <td class="count" *ngIf="data.description != 'Cases Denied' && data.description != 'Cases Delayed'">
                        {{ data.count }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</div>
<!-- For Liaisons -->
<!-- <div class="arrow-container" *ngIf="selectedIcon === 3">
    <div class="arrow-shape" style="background-color: #D9D9D9; color: black;">
      <span class="arrow-text">Active this year</span>
      <span class="arrow-number">56,987</span>
    </div>
  
    <div class="arrow-shape" style="background-color: #FFD2B2; color: black;">
      <span class="arrow-text">Active this quarter</span>
      <span class="arrow-number">15,009</span>
    </div>
  
    <div class="arrow-shape" style="background-color: #B3E3F6; color: black;">
      <span class="arrow-text">Active this month</span>
      <span class="arrow-number">6521</span>
    </div>
  
    <div class="arrow-shape" style="background-color: #A8E5C1; color: black;">
      <span class="arrow-text">Active last month</span>
      <span class="arrow-number">5621</span>
    </div>
  
  </div> -->
<!-- Liaison -->
<div class="arrow-container" *ngIf="selectedIcon === 0">
    <div class="arrow-shape" style="background-color: #D9D9D9; color: black;">
        <span class="arrow-text">Active Referrals</span>
        <span class="arrow-number">98</span>
    </div>

    <div class="arrow-shape" style="background-color: #FFD2B2; color: black;">
        <span class="arrow-text">New Referrals This Month</span>
        <span class="arrow-number">98</span>
    </div>

    <div class="arrow-shape" style="background-color: #A8E5C1; color: black;">
        <span class="arrow-text">New Referrals This Quarter</span>
        <span class="arrow-number">74</span>
    </div>

    <div class="arrow-shape" style="background-color: #C4C2FF; color: black;">
        <span class="arrow-text">New Referrals This Year</span>
        <span class="arrow-number">12</span>
    </div>
    <div class="arrow-shape" style="background-color: #B3E3F6; color: black;">
        <span class="arrow-text">Cases Denied</span>
        <span class="arrow-number">10</span>
    </div>
    <div class="arrow-shape" style="background-color: #E0DBFF; color: black;">
        <span class="arrow-text">Cases Delayed</span>
        <span class="arrow-number">32</span>
    </div>
</div>
<!-- Case Manager -->
<div class="arrow-container" *ngIf="selectedIcon === 2">
    <div class="arrow-shape" style="background-color: #D9D9D9; color: black;">
        <span class="arrow-text">Pending Authorization</span>
        <span class="arrow-number">98</span>
    </div>

    <div class="arrow-shape" style="background-color: #FFD2B2; color: black;">
        <span class="arrow-text">Authorization Denied</span>
        <span class="arrow-number">98</span>
    </div>

    <div class="arrow-shape" style="background-color: #A8E5C1; color: black;">
        <span class="arrow-text">SCH and Pending AUTH</span>
        <span class="arrow-number">74</span>
    </div>

    <div class="arrow-shape" style="background-color: #C4C2FF; color: black;">
        <span class="arrow-text">Cases Denied</span>
        <span class="arrow-number">12</span>
    </div>
    <div class="arrow-shape" style="background-color: #D9D9D9; color: black;">
        <span class="arrow-text"></span>
        <span class="arrow-number"></span>
    </div>
    <div class="arrow-shape" style="background-color: #D9D9D9; color: black;">
        <span class="arrow-text"></span>
        <span class="arrow-number"></span>
    </div>
    <!-- <div class="arrow-shape" style="background-color: #B3E3F6; color: black;">
      <span class="arrow-text">Pending Authorization</span>
      <span class="arrow-number">10</span>
    </div>
    <div class="arrow-shape" style="background-color: #E0DBFF; color: black;">
      <span class="arrow-text">Scheduled & Pending AUTH</span>
      <span class="arrow-number">32</span>
    </div> -->
</div>
<!-- Scheduling -->
<div class="arrow-container" *ngIf="selectedIcon === 3">
    <div class="arrow-shape" style="background-color: #C4C2FF; color: black;">
        <span class="arrow-text">Authorized & Pending SCH</span>
        <span class="arrow-number">12</span>
    </div>
    <div class="arrow-shape" style="background-color: #B3E3F6; color: black;">
        <span class="arrow-text">Authorization Denied</span>
        <span class="arrow-number">10</span>
    </div>
    <div class="arrow-shape" style="background-color: #E0DBFF; color: black;">
        <span class="arrow-text">SCH and Pending AUTH</span>
        <span class="arrow-number">32</span>
    </div>

    <div class="arrow-shape" style="background-color: #D9D9D9; color: black;">
        <span class="arrow-text">Cases Denied</span>
        <span class="arrow-number">98</span>
    </div>
    <div class="arrow-shape" style="background-color: #D9D9D9; color: black;">
        <span class="arrow-text"></span>
        <span class="arrow-number"></span>
    </div>
    <div class="arrow-shape" style="background-color: #D9D9D9; color: black;">
        <span class="arrow-text"></span>
        <span class="arrow-number"></span>
    </div>
    <!--   
    <div class="arrow-shape" style="background-color: #FFD2B2; color: black;">
      <span class="arrow-text">Authorized & Pending SCH</span>
      <span class="arrow-number">98</span>
    </div>
  
    <div class="arrow-shape" style="background-color: #A8E5C1; color: black;">
      <span class="arrow-text">Scheduling Overdue</span>
      <span class="arrow-number">74</span>
    </div> -->

</div>
<!-- Claims Manager -->
<div class="col-sm-12 mt-3 mb-4" *ngIf="selectedIcon === 4">

    <div class="col-sm-4">
        <table style="width: 100%; border-collapse: collapse; text-align: left;">
            <tbody>
                <tr *ngFor="let data of patientData2; let i = index">
                    <td
                        [ngStyle]="{'background-color': i % 2 === 0 ? 'lemonchiffon' : '#e3f2fd', 'padding': '8px', 'border': '1px solid #ddd'}">
                        {{ data.description }}
                    </td>
                    <td class="count">
                        {{ data.count }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-sm-4">
        <table style="width: 100%; border-collapse: collapse; text-align: left;">
            <tbody>
                <tr *ngFor="let data of patientData2; let i = index">
                    <td
                        [ngStyle]="{'background-color': i % 2 === 0 ? 'lemonchiffon' : '#e3f2fd', 'padding': '8px', 'border': '1px solid #ddd'}">
                        {{ data.description }}
                    </td>
                    <td class="count">
                        {{ data.count }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-sm-4">
        <table style="width: 100%; border-collapse: collapse; text-align: left;">
            <tbody>
                <tr *ngFor="let data of patientData2; let i = index">
                    <td
                        [ngStyle]="{'background-color': i % 2 === 0 ? 'lemonchiffon' : '#e3f2fd', 'padding': '8px', 'border': '1px solid #ddd'}">
                        {{ data.description }}
                    </td>
                    <td class="count" *ngIf="data.description == 'Cases Denied'  || data.description == 'Cases Delayed'"
                        [ngStyle]="
              {'color': 'red' }">
                        {{ data.count }}
                    </td>
                    <td class="count" *ngIf="data.description != 'Cases Denied' && data.description != 'Cases Delayed'">
                        {{ data.count }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</div>
<!-- Collection -->
<div class="arrow-container" *ngIf="selectedIcon === 5">
    <div class="arrow-shape" style="background-color: #E0DBFF; color: black;">
        <span class="arrow-text">Claims Pending</span>
        <span class="arrow-number">32</span>
    </div>

    <div class="arrow-shape" style="background-color: #D9D9D9; color: black;">
        <span class="arrow-text">Active Cases</span>
        <span class="arrow-number">98</span>
    </div>

    <div class="arrow-shape" style="background-color: #FFD2B2; color: black;">
        <span class="arrow-text">Cases Overdue</span>
        <span class="arrow-number">98</span>
    </div>

    <div class="arrow-shape" style="background-color: #A8E5C1; color: black;">
        <span class="arrow-text">Cases Denied</span>
        <span class="arrow-number">74</span>
    </div>
    <div class="arrow-shape" style="background-color: #A8E5C1; color: black;">
        <span class="arrow-text"></span>
        <span class="arrow-number"></span>
    </div>
    <div class="arrow-shape" style="background-color: #A8E5C1; color: black;">
        <span class="arrow-text"></span>
        <span class="arrow-number"></span>
    </div>

</div>
<!-- Leadership -->
<div class="col-sm-12 mt-3 mb-4" *ngIf="selectedIcon === 6">
    <div class="col-sm-4">
        <table style="width: 100%; border-collapse: collapse; text-align: left;">
            <tbody>
                <tr *ngFor="let data of Leadership1; let i = index">
                    <td
                        [ngStyle]="{'background-color': i % 2 === 0 ? 'lemonchiffon' : '#e3f2fd', 'padding': '8px', 'border': '1px solid #ddd'}">
                        {{ data.description }}
                    </td>
                    <td class="count">
                        {{ data.count }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <table style="width: 100%; border-collapse: collapse; text-align: left;">
            <tbody>
                <tr *ngFor="let data of Leadership2; let i = index">
                    <td
                        [ngStyle]="{'background-color': i % 2 === 0 ? 'lemonchiffon' : '#e3f2fd', 'padding': '8px', 'border': '1px solid #ddd'}">
                        {{ data.description }}
                    </td>
                    <td class="count">
                        {{ data.count }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <table style="width: 100%; border-collapse: collapse; text-align: left;">
            <tbody>
                <tr *ngFor="let data of Leadership3; let i = index">
                    <td
                        [ngStyle]="{'background-color': i % 2 === 0 ? 'lemonchiffon' : '#e3f2fd', 'padding': '8px', 'border': '1px solid #ddd'}">
                        {{ data.description }}
                    </td>
                    <td class="count" *ngIf="data.description == 'Cases Denied'  || data.description == 'Cases Delayed'"
                        [ngStyle]="
              {'color': 'red' }">
                        {{ data.count }}
                    </td>
                    <td class="count" *ngIf="data.description != 'Cases Denied' && data.description != 'Cases Delayed'">
                        {{ data.count }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</div>
<!-- Marketing -->
<div class="col-sm-12 mt-3 mb-4" *ngIf="selectedIcon === 7">
    <div class="col-sm-4">
        <table style="width: 100%; border-collapse: collapse; text-align: left;">
            <tbody>
                <tr *ngFor="let data of Leadership1; let i = index">
                    <td
                        [ngStyle]="{'background-color': i % 2 === 0 ? 'lemonchiffon' : '#e3f2fd', 'padding': '8px', 'border': '1px solid #ddd'}">
                        {{ data.description }}
                    </td>
                    <td class="count">
                        {{ data.count }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <table style="width: 100%; border-collapse: collapse; text-align: left;">
            <tbody>
                <tr *ngFor="let data of Leadership2; let i = index">
                    <td
                        [ngStyle]="{'background-color': i % 2 === 0 ? 'lemonchiffon' : '#e3f2fd', 'padding': '8px', 'border': '1px solid #ddd'}">
                        {{ data.description }}
                    </td>
                    <td class="count">
                        {{ data.count }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <table style="width: 100%; border-collapse: collapse; text-align: left;">
            <tbody>
                <tr *ngFor="let data of Leadership3; let i = index">
                    <td
                        [ngStyle]="{'background-color': i % 2 === 0 ? 'lemonchiffon' : '#e3f2fd', 'padding': '8px', 'border': '1px solid #ddd'}">
                        {{ data.description }}
                    </td>
                    <td class="count" *ngIf="data.description == 'Cases Denied'  || data.description == 'Cases Delayed'"
                        [ngStyle]="
              {'color': 'red' }">
                        {{ data.count }}
                    </td>
                    <td class="count" *ngIf="data.description != 'Cases Denied' && data.description != 'Cases Delayed'">
                        {{ data.count }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<!-- For All Perspectives -->
<!-- <div class="col-sm-12 mb-3"
  *ngIf="selectedIcon === 1 || selectedIcon === 2 || selectedIcon === 4 || selectedIcon === 5 || selectedIcon === 6 || selectedIcon === 7"
  style="position: relative; overflow-x: auto;">
  <h2 class="text-center" style="
    position: absolute; 
    top: 20%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 1; 
    color: black; 
    font-size: 24px; 
    font-weight: bold; 
    padding: 10px 20px; 
    border-radius: 8px; ">
    Under Construction
  </h2>

  <div class="d-flex flex-nowrap" style="gap: 10px;">
    <img class="fixed-size" src="../../../../assets/satya.jpg" alt="">
    <img class="fixed-size" src="../../../../assets/satya.jpg" alt="">
    <img class="fixed-size" src="../../../../assets/satya.jpg" alt="">
    <img class="fixed-size" src="../../../../assets/satya.jpg" alt="">
    <img class="fixed-size" src="../../../../assets/satya.jpg" alt="">
    <img class="fixed-size" src="../../../../assets/satya.jpg" alt="">
    <img class="fixed-size" src="../../../../assets/satya.jpg" alt="">
    <img class="fixed-size" src="../../../../assets/satya.jpg" alt="">
    <img class="fixed-size" src="../../../../assets/satya.jpg" alt="">
    <img class="fixed-size" src="../../../../assets/satya.jpg" alt="">
    <img class="fixed-size" src="../../../../assets/satya.jpg" alt="">
    <img class="fixed-size" src="../../../../assets/satya.jpg" alt="">
  </div>
</div> -->

<!-- add above -->
<div class="col-sm-12">
    <div fxLayout="row wrap">
        <div class="w-100">
            <div class="flex-p">
                <div class="row wrap">
                    <div class="col-sm-12 pull-right">

                        <button mat-raised-button matTooltip="Add Provider" class="pull-right center-icon"
                            style="background-color: #007bff !important;color: white;"
                            (click)="openproviderdialog(null)">
                            <mat-icon class="mat-margin-top">add</mat-icon> Add Provider
                        </button>

                        <button mat-raised-button matTooltip="Filter" style="background-color: black; color: white"
                            class="pull-right filter-hover margin-right-10 center-icon"
                            (click)="filterToggle = !filterToggle">
                            <mat-icon class="mt-2">filter_list</mat-icon>
                        </button>

                        <button mat-raised-button matTooltip="Download CSV" class="pull-right center-icon"
                            style="background-color: #50636d !important;color: white;margin-right: 8px;">
                            <mat-icon class="mt-2">get_app</mat-icon>
                        </button>

                        <button mat-raised-button matTooltip="Upload CSV" class="pull-right center-icon"
                            style="background-color: #007bff !important;color: white;margin-right: 8px;">
                            <mat-icon class="mt-2">cloud_upload</mat-icon>
                        </button>
                        <button mat-raised-button matTooltip="Grid Columns" class="pull-right center-icon"
                            style="background-color: #50636d !important;color: white;margin-right: 8px;"
                            (click)="openproviderdialoge(null)">
                            <mat-icon class="mt-2">grid_on</mat-icon>
                        </button>
                        <button mat-raised-button matTooltip="Download Template" class="pull-right center-icon"
                            style="background-color: #50636d !important;color: white;margin-right: 8px;">
                            <mat-icon class="mt-2">get_app</mat-icon>
                        </button>

                        <label class="control-label margin-right-10">Apply Save Search :</label>
                        <mat-select class="form-control margin-right-10" style="width: 200px;"
                            placeholder="Select Subject">
                            <mat-option [value]="'New York'">Pending Verification</mat-option>
                            <mat-option [value]="'Los Angeles'">SCH & Pending AUTH</mat-option>
                            <mat-option [value]="'Chicago'">Referrals this week</mat-option>
                            <mat-option [value]="'Houston'">Authorized this week</mat-option>
                        </mat-select>
                        <button mat-raised-button matTooltip="Save"
                            style="background-color: green; color: white; margin-right: 8px">
                            Go
                        </button>
                    </div>
                </div>
            </div>

            <div fxLayout="row wrap" class="mt-3" *ngIf="filterToggle"
                style="margin-bottom: 10px;flex-flow: wrap;box-sizing: border-box;display: flex;">
                <div fxFlex="100" class="flex-p w-100">
                    <form [formGroup]="filterForm">
                        <mat-card class="filter">
                            <mat-card-content>
                                <div class="row col-sm-12">
                                    <div class="col-sm-4 row">
                                        <div class="col-sm-3" style="margin-top: 6px">
                                            <b>Keyword:</b>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="text" placeholder="Search by Keyword" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="col-sm-4 row">
                                        <div class="col-sm-2" style="margin-top: 6px">
                                            <b>State:</b>
                                        </div>
                                        <div class="col-sm-10">
                                            <mat-select placeholder="--Select State--" class="form-control" multiple
                                                [(value)]="selectedEventType3">
                                                <mat-select-trigger>
                                                    {{ selectedEventType3 || "--Select State--" }}
                                                </mat-select-trigger>
                                                <mat-form-field *ngIf="eventTypes3.length > 1" appearance="fill"
                                                    style="width: 100%">
                                                    <input matInput (input)="applyFilter3($event)"
                                                        placeholder="Search" />
                                                </mat-form-field>
                                                <mat-option *ngFor="let event of filteredEventTypes3" [value]="event">
                                                    {{ event }}
                                                </mat-option>
                                            </mat-select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 row">
                                        <div class="col-sm-2" style="margin-top: 6px">
                                            <b>City:</b>
                                        </div>
                                        <div class="col-sm-10">
                                            <mat-select placeholder="--Select City--" class="form-control" multiple
                                                [(value)]="selectedEventType">
                                                <mat-select-trigger>
                                                    {{ selectedEventType || "--Select City--" }}
                                                </mat-select-trigger>
                                                <mat-form-field *ngIf="eventTypes.length > 1" appearance="fill"
                                                    style="width: 100%">
                                                    <input matInput (input)="applyFilter($event)"
                                                        placeholder="Search" />
                                                </mat-form-field>
                                                <mat-option *ngFor="let event of filteredEventTypes" [value]="event">
                                                    {{ event }}
                                                </mat-option>
                                            </mat-select>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
                                </div>
                                <div class="row col-sm-12" style="margin-top: 10px">
                                    <div class="col-sm-4 row">
                                        <div class="col-sm-3" style="margin-top: 6px">
                                            <b>Provider:</b>
                                        </div>
                                        <div class="col-sm-9">
                                            <mat-select placeholder="--Select Provider--" class="form-control" multiple
                                                [(value)]="selectedEventType2">
                                                <mat-select-trigger>
                                                    {{ selectedEventType2 || "--Select Consultant--" }}
                                                </mat-select-trigger>
                                                <mat-form-field *ngIf="eventTypes2.length > 1" appearance="fill"
                                                    style="width: 100%">
                                                    <input matInput (input)="applyFilter2($event)"
                                                        placeholder="Search" />
                                                </mat-form-field>
                                                <mat-option *ngFor="let event of filteredEventTypes2" [value]="event">
                                                    {{ event }}
                                                </mat-option>
                                            </mat-select>
                                        </div>
                                    </div>

                                    <div class="col-sm-4 pull-right" style="margin-right: 75px">
                                        <a (click)="filterToggle = !filterToggle" class="pull-right"
                                            style="font-size: 25px; cursor: pointer; margin-left: 5px">
                                            <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                                        </a>
                                        <button mat-raised-button color="primary" class="pull-right"
                                            style="background-color: #007bff !important; color: white">
                                            Search
                                        </button>

                                        <button mat-raised-button class="pull-right btn-default margin-right-10">
                                            Clear
                                        </button>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </form>
                </div>
            </div>

            <div id="grid-table-container" class="table-responsive mt-3">
                <table matSort class="table table-bordered table-hover" style="width: 100%">
                    <thead class="tbl-head">
                        <tr class="tr-grid-header">
                            <th>Actions</th>
                            <th>Reset</th>
                            <th>Sync</th>
                            <th>REG</th>
                            <th class="text-center">Provider ID</th>
                            <th mat-sort-header="contactName">Provider</th>
                            <th>Networks</th>
                            <th mat-sort-header="contactJobTitle" style="min-width: 145px">
                                Phone
                            </th>
                            <th>Insurance</th>
                            <th>Email</th>
                            <th>Locations</th>
                            <th>State</th>
                            <th>City</th>
                            <th>Paitents</th>
                            <th>Referrals</th>
                            <th>Visits</th>
                            <th>Specialities</th>
                            <th>2F</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="allContacts.length > 0">
                        <tr *ngFor="let item of allContacts">
                            <td class="text-left">
                                <div style="display: flex;justify-content: flex-start;gap: 5px;">
                                    <a style="cursor: pointer" matTooltip="Shadow Login">
                                        <i class="fa fa-arrow-right"></i>
                                    </a>
                                    <a matTooltip="Edit Record" (click)="openproviderdialog(null)"
                                        class="fa fa-edit action-btn edit-btn">
                                    </a>

                                    <a matTooltip="Delete Record" class="fa fa-trash action-btn delete-btn">
                                    </a>
                                    <a style="cursor: pointer" matTooltip="Message">
                                        <i class="fa fa-message"></i>
                                    </a>
                                </div>
                            </td>
                            <td class="pad-left inner-screen text-left" style="text-align: center !important">
                                <a style="cursor: pointer; text-decoration: none" matTooltip="Reset">
                                    <mat-icon>sync</mat-icon>
                                </a>
                            </td>
                            <td class="text-center">
                                <mat-icon style="color: #007bff">settings</mat-icon>
                            </td>
                            <td class="text-center">
                                <mat-checkbox></mat-checkbox>
                            </td>
                            <td class="text-center" [routerLink]="['/rcm-login/providers-dashboard']"
                                style="color: cornflowerblue; cursor: pointer;">
                                23146541
                            </td>
                            <td class="text-left" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                {{ item.name }}
                            </td>
                            <td class="text-center" (click)="openNetworks(null)">
                                <a style="cursor: pointer">
                                    {{ item.networks }}
                                </a>
                            </td>

                            <td class="text-left">
                                {{ item.Phone }}
                            </td>

                            <!-- insurance -->
                            <td class="text-center" (click)="openinsurancedialog(null)">
                                <a style="cursor: pointer">
                                    {{ item.insurances }}
                                </a>
                            </td>
                            <td class="text-left">
                                {{ item.Email }}
                            </td>
                            <td class="text-center" (click)="openlocations()">
                                <a style="cursor: pointer">
                                    6
                                </a>
                            </td>
                            <td class="text-left">Texas</td>
                            <td class="text-left" style="white-space: nowrap">
                                {{ item.city }}
                            </td>
                            <td class="text-center" (click)="openPatients()">
                                <a style="cursor: pointer">
                                    {{ item.paitents }}
                                </a>
                            </td>
                            <td class="text-center" style="cursor: pointer"
                                [routerLink]="['/rcm-login/inner-referrals']">
                                <a style="cursor: pointer">
                                    {{ item.referrals }}
                                </a>
                            </td>
                            <td class="text-center" style="cursor: pointer" [routerLink]="['/rcm-login/inner-visits']">
                                <a style="cursor: pointer">
                                    {{ item.visits }}
                                </a>
                            </td>
                            <td class="text-center" (click)="openSpecialties(null)">
                                <a style="cursor: pointer">
                                    {{ item.category }}
                                </a>
                            </td>

                            <td class="text-center">
                                <mat-checkbox></mat-checkbox>
                            </td>
                            <td [ngStyle]="{
                                    color: item.status === 'Active' ? 'blue' : 'red'
                                  }">
                                {{ item.status }}
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="allContacts.length == 0">
                        <tr>
                            <td colspan="17">
                                <span>No data available</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="mine" mat-fab (click)="scrollGrid('right')">
                    <mat-icon style="color: #37474f">fast_forward</mat-icon>
                </button>
                <button class="mine" mat-fab style="margin-right: 78px !important" (click)="scrollGrid('left')">
                    <mat-icon style="color: #37474f">fast_rewind</mat-icon>
                </button>
            </div>
            <mat-paginator class="col-sm-12" [length]="totalSize" [pageIndex]="currentPage" [pageSize]=""
                [pageSizeOptions]="[5, 10, 25, 50, 100]" (page)="handlePage($event)" showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
</div>