<!-- 
<div style="display: flex; align-items: center;margin-left: 16%; margin-top: -4.5%">
 
  <div class="col-sm-2" style="  cursor: pointer" (click)="toggleCard()">
    <img src="../../../../assets/rbg.png" class="top-left-image"
      style="width: 35px; height: 35px; margin-top: -20%; margin-left: 40px" />
  </div>


  <mat-card class="col-sm-10 pull-right" style="
      height: 35px;
      background-color: black;
      margin-top: -2.5%;
      margin-left: -19px;
      margin-right: -10px;
    " *ngIf="showCard">
    <div fxLayout="row" fxLayoutAlign="start center"
      style="gap: 30px; padding: 0 10px; display: flex; align-items: center">
      <div style="display: flex; align-items: center; gap: 10px">
        <span style="color: white; line-height: 35px; gap: 30px">Referrals</span>
        <span style="
            color: white;
            line-height: 35px;
            gap: 30px;
            margin-right: 4px;
          ">120,000</span>
        <mat-icon style="
            cursor: pointer;
            margin-right: -1px;
            background-color: lightgray;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            padding: 18px 15px 12px 15px;
          " (click)="toggleTable('table')">
          {{ showTable ? "expand_less" : "add" }}
        </mat-icon>
      </div>

      <div style="display: flex; align-items: center; gap: 10px">
        <span style="color: white; line-height: 35px">Visits </span>
        <span style="
            color: white;
            line-height: 35px;
            gap: 30px;
            margin-right: 10px;
          ">105,991</span>
        <mat-icon style="
            cursor: pointer;
            margin-right: 5px;
            background-color: lightgray;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            padding: 18px 15px 12px 15px;
          " (click)="toggleTable('table1')">
          {{ showTable1 ? "expand_less" : "add" }}
        </mat-icon>
      </div>
      <div style="display: flex; align-items: center; gap: 10px">
        <span style="color: white; line-height: 35px">Claims </span>
        <span style="
            color: white;
            line-height: 35px;
            gap: 30px;
            margin-right: 10px;
          ">65,001</span>
        <mat-icon style="
            cursor: pointer;
            margin-right: 4px;
            background-color: lightgray;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            padding: 18px 15px 12px 15px;
          " (click)="toggleTable('table2')">
          {{ showTable2 ? "expand_less" : "add" }}
        </mat-icon>
      </div>
      <div style="display: flex; align-items: center; gap: 10px">
        <span style="color: white; line-height: 35px">Paid</span>
        <span style="
            color: white;
            line-height: 35px;
            gap: 30px;
            margin-right: 2px;
          ">45,962</span>
      </div>

      <div style="display: flex; align-items: center; gap: 7px">

        <mat-icon style="
            cursor: pointer;
            margin-right: 7px;
            background-color: lightgray;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            padding: 18px 15px 12px 15px;
          "
          (click)="referralsFilter($event)"
          >
          filter_list
        </mat-icon>
      </div>

    </div>
  </mat-card>

</div>


<div *ngIf="showTable" @slideIn style="margin-left: 26.5%" class="dropdown-content">
  <div id="grid-table-container" class="table-responsive">
    <h4>Gap Analysis - Referral vs. Visits</h4>
    <table matSort class="table table-bordered table-hover">
      <tbody>
        <tr *ngFor="let user of dataSource; let i = index">
          <td [ngStyle]="{
              'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9'
            }">
            {{ user.workList }}
          </td>
          <td [ngStyle]="{
              'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9'
            }" style="color: blue; cursor: pointer" [routerLink]="['/rcm-login/referrals']">
            {{ user.volume }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="showTable1" @slideIn style="margin-left: 45%" class="dropdown-content">
  <div id="grid-table-container" class="table-responsive">
    <h4>Gap Analysis - Visits vs. Claims</h4>
    <table matSort class="table table-bordered table-hover">
      <tbody>
        <tr *ngFor="let user of dataSource1; let i = index">
          <td [ngStyle]="{
              'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9'
            }">
            {{ user.workList }}
          </td>
          <td [ngStyle]="{
              'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9'
            }" style="color: blue; cursor: pointer" [routerLink]="['/rcm-login/visits']">
            {{ user.volume }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="showTable2" @slideIn style="margin-left: 64.8%" class="dropdown-content">
  <div id="grid-table-container" class="table-responsive">
    <h4>Gap Analysis - Claims vs. Paid</h4>
    <table matSort class="table table-bordered table-hover">
      <tbody>
        <tr *ngFor="let user of dataSource2; let i = index">
          <td [ngStyle]="{
              'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9'
            }">
            {{ user.workList }}
          </td>
          <td [ngStyle]="{
              'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9'
            }" style="color: blue; cursor: pointer" [routerLink]="['/rcm-login/claims']">
            {{ user.volume }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->






<!-- Add Filter Tabs -->
<div class="container-fluid mt-4" style="padding-right: 5px;
  padding-left: 0px; margin-bottom: 10px;">
    <div class="w-100">
        <div class="flex-p">
            <div class="row wrap">
                <div class="col-sm-12 no-padding">
                    <div class="row-wrap">
                        <div class="w-100">
                            <div class="row">
                                <div class="col-xs-6"></div>
                                <div class="col-xs-6" style="margin-left: -33px;">
                                    <button mat-raised-button style="background-color: blue; color: white;"
                                        class="pull-right" (click)="openEditDialog()">
                                        <mat-icon>person_add</mat-icon> Add Lander
                                    </button>
                                    <button mat-raised-button style="background-color: black; color:white;"
                                        class="pull-right filter-hover margin-right-10"
                                        (click)="filterToggle = !filterToggle">
                                        <mat-icon>filter_list</mat-icon> Filter
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Filter UI -->
<!-- <div fxLayout="row wrap" *ngIf="filterToggle" style=" margin-bottom: 10px;">
    <div fxFlex="100" class="flex-p w-100">
        <form [formGroup]="filterForm">
            <mat-card class="filter">
                <mat-card-content>
                    <div class="row col-sm-12">
                        <div class="col-sm-4 row">
                            <div class="col-sm-3 newMarginClass">
                                <b>Keyword:</b>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" formControlName="Keyword" onCopy="return false"
                                    onPaste="return false" class="form-control"
                                    placeholder="Search by Name, Email, Role...">
                            </div>
                        </div>
                        
                        <div class="col-sm-8">
                            <a (click)="filterToggle = !filterToggle" class="pull-right"
                                style="font-size: 25px; cursor: pointer; margin-left: 5px">
                                <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                            </a>
                            <button mat-raised-button color="primary" class="pull-right" (click)="filter()">
                                <mat-icon>youtube_searched_for</mat-icon> Search
                            </button>
                            <button mat-raised-button class="pull-right btn-default margin-right-10"
                                (click)="clearFilter()">
                                <mat-icon>settings_backup_restore</mat-icon> Clear
                            </button>
                        </div>

                    </div>
                </mat-card-content>
            </mat-card>
        </form>
    </div>
</div> -->

<div fxLayout="row wrap" *ngIf="filterToggle" style="
                      margin-bottom: 10px;
                      flex-flow: wrap;
                      box-sizing: border-box;
                      display: flex;
                    ">
    <div fxFlex="100" class="flex-p w-100 mt-3">
        <form [formGroup]="filterForm">
            <mat-card class="filter">
                <mat-card-content>
                    <div class="row col-sm-12">
                        <div class="col-sm-4 row">
                            <div class="col-sm-3" style="margin-top: 6px">
                                <b>Keyword:</b>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" placeholder="Search by Keyword" class="form-control" />
                            </div>
                        </div>

                        <div class="col-sm-4 row">
                            <div class="col-sm-2" style="margin-top: 6px">
                                <b>State:</b>
                            </div>
                            <div class="col-sm-10">
                                <mat-select placeholder="--Select State--" class="form-control" multiple
                                    [(value)]="selectedEventType3">
                                    <mat-select-trigger>
                                        {{ selectedEventType3 || "--Select State--" }}
                                    </mat-select-trigger>
                                    <mat-form-field *ngIf="eventTypes3.length > 1" appearance="fill"
                                        style="width: 100%">
                                        <input matInput (input)="applyFilter3($event)" placeholder="Search" />
                                    </mat-form-field>
                                    <mat-option *ngFor="let event of filteredEventTypes3" [value]="event">
                                        {{ event }}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>
                        <div class="col-sm-4 row">
                            <div class="col-sm-2" style="margin-top: 6px">
                                <b>City:</b>
                            </div>
                            <div class="col-sm-10">
                                <mat-select placeholder="--Select City--" class="form-control" multiple
                                    [(value)]="selectedEventType">
                                    <mat-select-trigger>
                                        {{ selectedEventType || "--Select City--" }}
                                    </mat-select-trigger>
                                    <mat-form-field *ngIf="eventTypes.length > 1" appearance="fill" style="width: 100%">
                                        <input matInput (input)="applyFilter($event)" placeholder="Search" />
                                    </mat-form-field>
                                    <mat-option *ngFor="let event of filteredEventTypes" [value]="event">
                                        {{ event }}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
                    </div>
                    <div class="row col-sm-12" style="margin-top: 10px">

                        <div class="col-sm-4 row">
                            <div class="col-sm-3" style="margin-top: 6px">
                                <b style="white-space: nowrap">Zip Code:</b>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" placeholder="Search by Keyword" class="form-control" />
                            </div>
                        </div>

                        <div class="col-sm-4 row">
                            <div class="col-sm-2" style="margin-top: 6px">
                                <b>Status:</b>
                            </div>
                            <div class="col-sm-10">
                                <mat-select placeholder="--Select Marital Status--" class="form-control">
                                    <mat-option [value]="'Active'">Active</mat-option>
                                    <mat-option [value]="'Inactive'">Inactive</mat-option>
                                </mat-select>
                            </div>
                        </div>

                        <div class="col-sm-4 row pull-right" style="margin-right: 75px">
                            <a (click)="filterToggle = !filterToggle" class="pull-right"
                                style="font-size: 25px; cursor: pointer; margin-left: 5px">
                                <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                            </a>
                            <button mat-raised-button color="primary" class="pull-right"
                                style="background-color: #007bff !important; color: white">
                                Search
                            </button>

                            <button mat-raised-button class="pull-right btn-default margin-right-10">
                                Clear
                            </button>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
                    </div>
                </mat-card-content>
            </mat-card>
        </form>
    </div>
</div>



<!-- Table -->
<div class="col-sm-12">
    <div id="grid-table-container" class="table-responsive">
        <table matSort class="table table-bordered table-hover">
            <thead class="tbl-head1" style="background-color: rgb(58, 53, 53); color: white;">
                <tr>
                    <th style="white-space: nowrap;" class="text-center">Actions</th>
                    <th style="white-space: nowrap;" class="text-center">Lender ID</th>
                    <th style="white-space: nowrap;">Lender Name</th>
                    <th style="white-space: nowrap;">Contact Person</th>
                    <th style="white-space: nowrap;">Claims</th>
                    <th style="white-space: nowrap;">Batches</th>
                    <th style="white-space: nowrap;">Claim Amount</th>
                    <th style="white-space: nowrap;">Funding</th>
                    <th style="white-space: nowrap;">Payback</th>
                    <th style="white-space: nowrap;">Balance</th>
                    <th style="white-space: nowrap;">Intrest Paid</th>
                    <th style="white-space: nowrap;">Interest Accrued</th>
                    <th style="white-space: nowrap;">Payback Days</th>
                    <th style="white-space: nowrap;">Min Age</th>
                    <th style="white-space: nowrap;">Medium Age</th>
                    <th style="white-space: nowrap;">Max Age</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Contracts</th>
                    <th class="text-center">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="users == null || users.length == 0">
                    <td colspan="16" class="text-center">No records found</td>
                </tr>
                <tr *ngFor="let applicant of users">
                    <td class="text-center" style="white-space: nowrap;">
                        <a matTooltip="Edit Record" (click)="openEditDialog()" class="fa fa-edit action-btn edit-btn"
                            style="margin-right: 10px;"></a>
                        <a matTooltip="Delete Record" class="fa fa-trash action-btn delete-btn"></a>
                    </td>
                    <td [routerLink]="['/rcm-login/lender-dashboard']" style="color: cornflowerblue; cursor: pointer;">
                        32145321
                    </td>
                    <td style="white-space: nowrap;">{{applicant.fundingPartner}}</td>
                    <td>{{applicant.contactPerson}}</td>
                    <td class="text-center">{{applicant.claims}}</td>
                    <td class="text-center">{{applicant.batches}}</td>
                    <td class="text-center">{{applicant.claimAmount}}</td>
                    <td class="text-center">$35000</td>
                    <td class="text-center">$27500</td>
                    <td class="text-center">$7500</td>
                    <td class="text-center">$500</td>
                    <td class="text-center">$700</td>
                    <td class="text-center">{{applicant.paybackDays}}</td>
                    <td class="text-center">{{applicant.minAge}}</td>
                    <td class="text-center">{{applicant.mediumAge}}</td>
                    <td class="text-center">{{applicant.maxAge}}</td>
                    <td>{{applicant.contactEmail}}</td>
                    <td style="white-space: nowrap;">{{applicant.contactPhone}}</td>
                    <td style="white-space: nowrap;">{{applicant.contracts}}</td>
                    <td class="text-center">
                        <a [ngStyle]="{'color': applicant.isActive ? 'blue' : 'red','cursor':'pointer'}">
                            <span *ngIf="!applicant.isActive" style="color:red">Inactive</span>
                            <span *ngIf="applicant.isActive">Active</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <button class="mine" mat-fab (click)="scrollGrid('right')">
            <mat-icon style="color: #37474f">fast_forward</mat-icon>
        </button>
        <button class="mine" mat-fab style="margin-right: 78px !important" (click)="scrollGrid('left')">
            <mat-icon style="color: #37474f">fast_rewind</mat-icon>
        </button>
        <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSizeOptions]="[5, 10, 25, 50, 100]"
            showFirstLastButtons>
        </mat-paginator>
    </div>
</div>