<h1 style="background-color: rgb(73, 128, 150); color: white; text-align: center;" mat-dialog-title><span
        *ngIf="!data">Add</span><span *ngIf="data">Edit</span> Role
</h1>

<div class="col-sm-12" style="padding: 30px !important;">
    <div class="row " style="margin-bottom: 12px;">
        <div class="col-sm-4">
            <label class="control-label add-member-label required mt-2">Role :</label>
        </div>
        <div class="col-sm-8">
            <input type="text" class="form-control bac" placeholder="Enter Role Name" maxlength="100" minlength="2"
                onDrag="return false" onDrop="return false" required>
        </div>
    </div>

</div>

<mat-dialog-actions align="end">
    <div style="margin-right: 15px;" class="mb-3">
        <button mat-raised-button style="background-color: green; color: white;"> <mat-icon>save</mat-icon>
            <span>{{ data ? 'Update' : 'Save'}}</span></button>
        <button mat-raised-button style="background-color: lightgray; color: red;" class="add-dark-hover btn-default"
            (click)="close()"><mat-icon>cancel</mat-icon>Close</button>
    </div>
</mat-dialog-actions>