<div class="col-sm-12">
  <div fxLayout="row wrap">
    <div class="w-100">
      <div class="flex-p">
        <div class="row wrap">
          <div
            class="col-xs-12"
            style="
              margin-right: 0px !important;
              margin-top: 15px;
              margin-bottom: 10px;
            "
          >
            <div
              class="col-sm-10 pull-right"
              style="padding: 0 0 0 0 !important; margin-right: -5px"
            >
              <button
                mat-raised-button
                style="background-color: #50636d !important; color: white"
                (click)="filterToggle = !filterToggle"
                class="filter-hover pull-right margin-right-10"
              >
                <mat-icon style="margin-left: 10px">filter_list</mat-icon>Filter
              </button>

              <!-- Sort Button -->
              <button mat-raised-button mat-button [matMenuTriggerFor]="sortMenu" style="background-color: #37474f; color: white" class="filters-hover pull-right margin-right-10">
                <span (click)="toggleSort($event)" class="icon-text">
                  <mat-icon style="margin-top: 0px; margin-bottom: -6px;">
                    {{ isAscending ? 'arrow_drop_up' : 'arrow_drop_down' }}
                  </mat-icon>
                </span>
                <span class="icon-text">SORT</span>
              </button>

              <!-- Dropdown Menu -->
              <mat-menu #sortMenu="matMenu">
                <div class="scrollable-menu">
                  <button mat-menu-item (click)="onSortOptionSelected('User Type')">User Type</button>
                  <button mat-menu-item (click)="onSortOptionSelected('Description')">Description</button>
                  <button mat-menu-item (click)="onSortOptionSelected('User Name')">User Name</button>
                  <button mat-menu-item (click)="onSortOptionSelected('Alert Type')">Alert Type</button>
                  <button mat-menu-item (click)="onSortOptionSelected('Priority')">Priority</button>

                </div>
              </mat-menu>

              <button mat-raised-button matTooltip="Download CSV" class="center-icon pull-right"
                style="background-color: black; color: white; margin-right: 8px">
                <mat-icon>save_alt</mat-icon>
              </button>
              
              <button mat-raised-button matTooltip="Download Template" class="center-icon pull-right"
                style="background-color: black; color: white; margin-right: 8px">
                <mat-icon>get_app</mat-icon>
              </button>
              
              <button mat-raised-button matTooltip="Upload CSV" class="center-icon pull-right"
                style="background-color: black; color: white; margin-right: 8px">
                <mat-icon>backup</mat-icon>
              </button>
              
              <button mat-raised-button matTooltip="Upload CSV" class="center-icon pull-right"
                style="background-color: black; color: white; margin-right: 8px">
                <mat-icon>grid_on</mat-icon>
              </button>
              
              <button mat-raised-button class="pull-right" matTooltip="Save"
                style="background-color: green; color: white; margin-right: 8px">
                Go
              </button>
              <mat-select class="form-control margin-right-10 pull-right" style="width: 180px;" placeholder="Select Subject">
                <mat-option [value]="'New York'">Pending Verification</mat-option>
                <mat-option [value]="'Los Angeles'">SCH & Pending AUTH</mat-option>
                <mat-option [value]="'Chicago'">Referrals this week</mat-option>
                <mat-option [value]="'Houston'">Authorized this week</mat-option>
              </mat-select>
              <label class="control-label mt-2 margin-right-10 pull-right">Apply Saved Search :</label>



            </div>
          </div>
        </div>
      </div>
      <div
        fxLayout="row wrap"
        *ngIf="filterToggle"
        style="
          margin-bottom: 10px;
          flex-flow: wrap;
          box-sizing: border-box;
          display: flex;
        "
      >
        <div fxFlex="100" class="flex-p w-100">
          <form [formGroup]="filterForm">
            <mat-card class="filter">
              <mat-card-content>
                <div class="row col-sm-12">
                  <div class="col-sm-4 row">
                    <div class="col-sm-3" style="margin-top: 6px">
                      <b>Keyword:</b>
                    </div>
                    <div class="col-sm-9">
                      <input
                        type="text"
                        placeholder="Search by Keyword"
                        class="form-control"
                      />
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div
                      class="col-sm-3 newMarginClass"
                      style="margin-top: 6px"
                    >
                      <b style="white-space: nowrap">User Type:</b>
                    </div>
                    <div class="col-sm-8">
                      <select
                        placeholder="Select Status"
                        formControlName="Role"
                        class="form-control"
                      >
                        <option [value]="1">Provider</option>
                        <option [value]="2">Network</option>
                        <option [value]="3">Law Firm</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="row">
                      <div class="col-sm-12 offset-sm-3">
                        <a (click)="filterToggle = !filterToggle" matTooltip="Close" class="pull-right"
                          style="font-size: 20px; cursor: pointer; margin-left: 5px">
                          <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                        </a>
          
                        <i class="material-icons pull-right" matTooltip="Clear"
                          style="font-size: 25px; cursor: pointer; margin-left: 5px">
                          settings_backup_restore
                        </i>
          
                        <i class="fa fa-save pull-right" matTooltip="Save" (click)="saveFilters()"  style="
                                          font-size: 20px;
                                          cursor: pointer;
                                          margin-left: 5px;
                                          color: green;
                                        " aria-hidden="true">
                        </i>
          
                        <i class="fa fa-search pull-right" matTooltip="Search" style="
                                          font-size: 20px;
                                          cursor: pointer;
                                          margin-left: 5px;
                                          color: blue;
                                        " aria-hidden="true">
                        </i>
                      </div>
                    </div>
                  </div>
                </div>
                
              </mat-card-content>
            </mat-card>
          </form>
        </div>
      </div>
      <div fxLayout="row wrap">
        <div class="w-100">
          <div fxLayout="row wrap" style="margin-top: -3px">
            <div class="table-responsive w-100 flex-p" id="divTable">
              <table
                id="tblContacts"
                class="table table-striped table-bordered table-hover"
                matSort
                style="white-space: no-wrap"
              >
                <thead class="tbl-head">
                  <tr class="tr-grid-header">
                    <th>Date & Time</th>
                    <th>Description</th>
                    <th>User Type</th>
                    <th>User Name</th>
                    <th class="text-center">Alert Type</th>
                    <th style="display: flex; justify-content: center">
                      Priority
                    </th>
                  </tr>
                </thead>
                <tbody *ngIf="users.length > 0">
                  <tr *ngFor="let item of users; let i = index">
                    <td class="text-left">
                      {{ item.datetime }}
                    </td>
                    <td class="text-left" style="cursor: pointer">
                      {{ item.description }}
                    </td>
                    <td class="text-left" style="cursor: pointer">
                      {{ item.userType }}
                    </td>
                    <td class="text-left" style="cursor: pointer">
                      {{ item.userName }}
                    </td>
                    <td class="text-center" style="cursor: pointer">
                      {{ item.alertType }}
                    </td>

                    <td class="text-center" style="cursor: pointer">
                      {{ item.priority }}
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="users.length == 0">
                  <tr>
                    <td colspan="17">
                      <span>No data available</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <mat-paginator
              class="col-sm-12"
              [length]="totalSize"
              [pageIndex]="totalPage"
              [pageSize]=""
              [pageSizeOptions]="[5, 10, 25, 50, 100]"
              showFirstLastButtons
            ></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
