<div class="col-sm-12">
    <h4>Business Metrics</h4>
    <hr class="divider" />
    <div class="created-section">
        <h4 style="color: blue;">Created</h4>
        <table class="custom-table" style="width: 42%;">
            <thead>
                <tr>
                    <th>New</th>
                    <th>0</th>
                </tr>
            </thead>
        </table>
    </div>

    <hr class="divider" />

    <div class="insurance-scheduling-section">
        <h4 style="color: blue;">Insurance Scheduling</h4>
        <table class="custom-table">
            <thead>
                <tr>
                    <th rowspan="2" class="text-center">Pending Schedule</th>
                    <th rowspan="3" class="text-center">New</th>
                    <th colspan="5" class="text-center">INCOMPLETE</th>
                    <th class="text-center" rowspan="2">COMP</th>

                </tr>
                <tr>

                    <th class="text-center">11/30</th>
                    <th class="text-center">11/29</th>
                    <th class="text-center">11/28</th>
                    <th class="text-center">ALL</th>
                    <th class="text-center">DELAY</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>15</td>
                    <td>22</td>
                    <td>438</td>
                    <td>17</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr class="divider" />


    <div class="insurance-scheduling-section">
        <h4 style="color: blue;">Subacute Trauma</h4>
        <table class="custom-table" border="1" cellspacing="0" cellpadding="5"
            style="border-collapse: collapse; width: 100%;">
            <thead>
                <tr>
                    <th rowspan="2" style="text-align: left;">SUBACUTE TRAUMA</th>
                    <th rowspan="2" class="text-center">NEW</th>
                    <th colspan="5" class="text-center">INCOMPLETE</th>
                    <th rowspan="2" class="text-center">COMP</th>
                </tr>
                <tr>
                    <th class="text-center">11/30</th>
                    <th class="text-center">11/29</th>
                    <th class="text-center">11/28</th>
                    <th class="text-center">ALL</th>
                    <th class="text-center">DELAY</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pending Authorization</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">32</td>
                    <td class="text-center">5</td>
                    <td class="text-center">1584</td>
                    <td class="text-center">92</td>
                    <td class="text-center">0</td>
                </tr>
                <tr>
                    <td>Pending Schedule</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">8</td>
                    <td class="text-center">3</td>
                    <td class="text-center">611</td>
                    <td class="text-center">248</td>
                    <td class="text-center">0</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="insurance-scheduling-section">
        <h4 style="color: blue;">Subacute Trauma</h4>
        <table class="custom-table" border="1" cellspacing="0" cellpadding="5"
            style="border-collapse: collapse; width: 100%;">
            <thead>
                <tr>
                    <th rowspan="2" style="text-align: left;">SELF PAY (UNASSIGNED)</th>
                    <th rowspan="2" class="text-center">NEW</th>
                    <th colspan="5" class="text-center">INCOMPLETE</th>
                    <th rowspan="2" class="text-center">COMP</th>
                </tr>
                <tr>
                    <th class="text-center">11/30</th>
                    <th class="text-center">11/29</th>
                    <th class="text-center">11/28</th>
                    <th class="text-center">ALL</th>
                    <th class="text-center">DELAY</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pending Authorization</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">3</td>
                    <td class="text-center">2</td>
                    <td class="text-center">820</td>
                    <td class="text-center">1</td>
                    <td class="text-center">0</td>
                </tr>
                <tr>
                    <td>Pending Schedule</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">2</td>
                    <td class="text-center">2</td>
                    <td class="text-center">48</td>
                    <td class="text-center">1</td>
                    <td class="text-center">0</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="created-section">
        <table class="custom-table" style="width: 42%;">
            <thead>
                <tr>
                    <th>Critical Review</th>
                    <th>140</th>
                </tr>
            </thead>
        </table>
    </div>


    <hr class="divider" />


    <div class="insurance-scheduling-section">
        <h4 style="color: blue;">Insurance Varification</h4>
        <table class="custom-table" border="1" cellspacing="0" cellpadding="5"
            style="border-collapse: collapse; width: 100%;">
            <thead>
                <tr>
                    <th rowspan="2" style="text-align: left;"></th>
                    <th rowspan="2" class="text-center">NEW</th>
                    <th colspan="5" class="text-center">INCOMPLETE</th>
                    <th rowspan="2" class="text-center">COMP</th>
                </tr>
                <tr>
                    <th class="text-center">11/30</th>
                    <th class="text-center">11/29</th>
                    <th class="text-center">11/28</th>
                    <th class="text-center">ALL</th>
                    <th class="text-center">DELAY</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Non-Surgical Authorization</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">9</td>
                    <td class="text-center">18</td>
                    <td class="text-center">600</td>
                    <td class="text-center">33</td>
                    <td class="text-center">0</td>
                </tr>
                <tr>
                    <td>Surgery Authorization</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">3</td>
                    <td class="text-center">7</td>
                    <td class="text-center">96</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="created-section">
        <table class="custom-table" style="width: 42%;">
            <thead>
                <tr>
                    <th>Clinic Verification</th>
                    <th>140</th>
                </tr>
            </thead>
        </table>
    </div>


    <hr class="divider" />


    <div class="insurance-scheduling-section">
        <h4 style="color: blue;">Work Comp</h4>
        <table class="custom-table" border="1" cellspacing="0" cellpadding="5"
            style="border-collapse: collapse; width: 100%;">
            <thead>
                <tr>
                    <th rowspan="2" style="text-align: left;"></th>
                    <th rowspan="2" class="text-center">NEW</th>
                    <th colspan="5" class="text-center">INCOMPLETE</th>
                    <th rowspan="2" class="text-center">COMP</th>
                </tr>
                <tr>
                    <th class="text-center">11/30</th>
                    <th class="text-center">11/29</th>
                    <th class="text-center">11/28</th>
                    <th class="text-center">ALL</th>
                    <th class="text-center">DELAY</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pending Authorization</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">9</td>
                    <td class="text-center">18</td>
                    <td class="text-center">600</td>
                    <td class="text-center">33</td>
                    <td class="text-center">0</td>
                </tr>
                <tr>
                    <td>Pending Schedule</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">3</td>
                    <td class="text-center">7</td>
                    <td class="text-center">96</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                </tr>
            </tbody>
        </table>
    </div>


    <hr class="divider" />

    <div class="ehhc-section">
        <h4 style="color: blue;">EHHC</h4>
        <table class="custom-table" border="1" cellspacing="0" cellpadding="5"
            style="border-collapse: collapse; width: 100%;">
            <thead>
                <tr>
                    <th style="text-align: left;"></th>
                    <th class="text-center">NO CHARGES</th>
                    <th class="text-center">NEED COMPLETION</th>
                    <th class="text-center">PAST DUE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Charges</td>
                    <td class="text-center">65</td>
                    <td class="text-center">14</td>
                    <td class="text-center">0</td>
                </tr>
            </tbody>
        </table>
        <p style="text-align: right; font-size: 12px; margin-top: 5px;">
            Last Updated: 05/05/2023 06:03 AM <a href="#" style="color: blue; text-decoration: none;">upload</a>
        </p>
    </div>

    <div class="ehhc-section">
        <!-- <h4 style="color: blue;">EHHC</h4> -->
        <table class="custom-table" border="1" cellspacing="0" cellpadding="5"
            style="border-collapse: collapse; width: 100%;">
            <thead>
                <tr>
                    <th style="text-align: left;"></th>
                    <th class="text-center">READY FOR COADING</th>
                    <th class="text-center">PENDING REVIEW</th>
                    <th class="text-center">COADING EDITS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Coading</td>
                    <td class="text-center">27</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                </tr>
            </tbody>
        </table>
        <p style="text-align: right; font-size: 12px; margin-top: 5px;">
            Last Updated: 05/05/2023 06:03 AM <a href="#" style="color: blue; text-decoration: none;">upload</a>
        </p>
    </div>

    <div class="created-section">
        <table class="custom-table" style="width: 42%;">
            <thead>
                <tr>
                    <th>Chart Review</th>
                    <th>15377</th>
                </tr>
            </thead>
        </table>
    </div>


    <hr class="divider" />

    <div class="ehhc-section">
        <h4 style="color: blue;">ROHC</h4>
        <table class="custom-table" border="1" cellspacing="0" cellpadding="5"
            style="border-collapse: collapse; width: 100%;">
            <thead>
                <tr>
                    <th style="text-align: left;"></th>
                    <th class="text-center">NO CHARGES</th>
                    <th class="text-center">NEED COMPLETION</th>
                    <th class="text-center">PAST DUE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Charges</td>
                    <td class="text-center">65</td>
                    <td class="text-center">14</td>
                    <td class="text-center">0</td>
                </tr>
            </tbody>
        </table>
        <p style="text-align: right; font-size: 12px; margin-top: 5px;">
            Last Updated: 05/05/2023 06:03 AM <a href="#" style="color: blue; text-decoration: none;">upload</a>
        </p>
    </div>

    <div class="ehhc-section">
        <!-- <h4 style="color: blue;">EHHC</h4> -->
        <table class="custom-table" border="1" cellspacing="0" cellpadding="5"
            style="border-collapse: collapse; width: 100%;">
            <thead>
                <tr>
                    <th style="text-align: left;"></th>
                    <th class="text-center">READY FOR COADING</th>
                    <th class="text-center">PENDING REVIEW</th>
                    <th class="text-center">COADING EDITS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Coading</td>
                    <td class="text-center">27</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                </tr>
            </tbody>
        </table>
        <p style="text-align: right; font-size: 12px; margin-top: 5px;">
            Last Updated: 05/05/2023 06:03 AM <a href="#" style="color: blue; text-decoration: none;">upload</a>
        </p>
    </div>

    <div class="created-section">
        <table class="custom-table" style="width: 42%;">
            <thead>
                <tr>
                    <th>Chart Review</th>
                    <th>15377</th>
                </tr>
            </thead>
        </table>
    </div>


</div>