
<div  style="display: flex; align-items: center; margin-top:-3.5%">
  <!-- Image Container -->
  <div class="col-sm-2" style="margin-left: 10%;  cursor: pointer" (click)="toggleCard()">
    <img src="../../../../assets/rbg.png" class="top-left-image"
      style="width: 35px; height: 35px; margin-top: -18%; margin-left: 40px" />
  </div>


  <mat-card class="col-sm-10 pull-right" style="
      height: 35px;
      background-color: black;
      margin-top: -2.5%;
      margin-left: -30px;
      margin-right: 27px;
    " *ngIf="showCard">
    <div fxLayout="row" fxLayoutAlign="start center"
      style="gap: 30px; padding: 0 10px; display: flex; align-items: center">
      <div style="display: flex; align-items: center; gap: 10px">
        <span style="color: white; line-height: 35px; gap: 30px">Referrals</span>
        <span style="
            color: white;
            line-height: 35px;
            gap: 30px;
            margin-right: 10px;
          ">120,000</span>
        <mat-icon style="
            cursor: pointer;
            margin-right: 10px;
            background-color: lightgray;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            padding: 18px 15px 12px 15px;
          " (click)="toggleTable('table')">
          {{ showTable ? "expand_less" : "add" }}
        </mat-icon>
      </div>

      <div style="display: flex; align-items: center; gap: 10px">
        <span style="color: white; line-height: 35px">Visits </span>
        <span style="
            color: white;
            line-height: 35px;
            gap: 30px;
            margin-right: 10px;
          ">105,991</span>
        <mat-icon style="
            cursor: pointer;
            margin-right: 10px;
            background-color: lightgray;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            padding: 18px 15px 12px 15px;
          " (click)="toggleTable('table1')">
          {{ showTable1 ? "expand_less" : "add" }}
        </mat-icon>
      </div>
      <div style="display: flex; align-items: center; gap: 10px">
        <span style="color: white; line-height: 35px">Claims </span>
        <span style="
            color: white;
            line-height: 35px;
            gap: 30px;
            margin-right: 10px;
          ">65,001</span>
        <mat-icon style="
            cursor: pointer;
            margin-right: 10px;
            background-color: lightgray;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            padding: 18px 15px 12px 15px;
          " (click)="toggleTable('table2')">
          {{ showTable2 ? "expand_less" : "add" }}
        </mat-icon>
      </div>
      <div style="display: flex; align-items: center; gap: 10px">
        <span style="color: white; line-height: 35px">Paid</span>
        <span style="
            color: white;
            line-height: 35px;
            gap: 30px;
            margin-right: 10px;
          ">45,962</span>
      </div>

      <div style="display: flex; align-items: center; gap: 7px">

        <mat-icon style="
            cursor: pointer;
            margin-right: 7px;
            background-color: lightgray;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            padding: 18px 15px 12px 15px;
          "
          (click)="referralsFilter($event)"
          >
          filter_list
        </mat-icon>
      </div>

    </div>
  </mat-card>

</div>


<div *ngIf="showTable" @slideIn style="margin-left: 22.5%" class="dropdown-content">
  <div id="grid-table-container" class="table-responsive">
    <h4>Gap Analysis - Referral vs. Visits</h4>
    <table matSort class="table table-bordered table-hover">
      <tbody>
        <tr *ngFor="let user of dataSource; let i = index;let last = last">
          <td [ngStyle]="{
              'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9'
            }">
            {{ user.workList }}
          </td>
          <td [ngStyle]="{
            'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9',
            'color': last ? 'black' : 'blue'
          }" [routerLink]="last ? null : ['/rcm-login/referrals']" [style.cursor]="last ? 'default' : 'pointer'">
          {{ user.volume }}
        </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="showTable1" @slideIn style="margin-left: 45%" class="dropdown-content">
  <div id="grid-table-container" class="table-responsive">
    <h4>Gap Analysis - Visits vs. Claims</h4>
    <table matSort class="table table-bordered table-hover">
      <tbody>
        <tr *ngFor="let user of dataSource1; let i = index;let last = last">
          <td [ngStyle]="{
              'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9'
            }">
            {{ user.workList }}
          </td>
          <td [ngStyle]="{
            'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9',
            'color': last ? 'black' : 'blue'
          }" [routerLink]="last ? null : ['/rcm-login/referrals']" [style.cursor]="last ? 'default' : 'pointer'">
          {{ user.volume }}
        </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="showTable2" @slideIn style="margin-left: 66%" class="dropdown-content ">
  <div id="grid-table-container" class="table-responsive">
    <h4>Gap Analysis - Claims vs. Paid</h4>
    <table matSort class="table table-bordered table-hover">
      <tbody>
        <tr *ngFor="let user of dataSource2; let i = index;let last = last">
          <td [ngStyle]="{
              'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9'
            }">
            {{ user.workList }}
          </td>
          <td [ngStyle]="{
            'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9',
            'color': last ? 'black' : 'blue'
          }" [routerLink]="last ? null : ['/rcm-login/referrals']" [style.cursor]="last ? 'default' : 'pointer'">
          {{ user.volume }}
        </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>




<!-- prespcetives  -->

<div class="col-sm-12 mb-3 mt-4">
  <div class="col-sm-5"></div>
  <div class="col-sm-2" style="text-align: right;">
    <p *ngIf="selectedIcon !== null" class="mt-2 tooltipName">
      <span style="color: #A6A6A5;">{{ icons[selectedIcon].tooltip }}</span>
    </p>
  </div>
  <div class="col-sm-5">
    <mat-card class="card">
      <div style="display: flex; justify-content: center; align-items: center; cursor: pointer;">
        <mat-icon *ngFor="let icon of icons; let i = index" matTooltip="{{ icon.tooltip }}" class="animated-icon1"
          [ngStyle]="{
            'background-color': selectedIcon === i ? 'yellow' : 'transparent',
            'padding': selectedIcon === i ? '15px 15px 12px 15px' : '0px',
            'border-radius': '6px',
            'border': selectedIcon === i ? '2px solid orange' : 'none',
            'display': 'flex',
            'justify-content': 'center',
            'align-items': 'center',
            'width': '40px',
            'height': '40px'
          }" (click)="selectIcon(i)">
          {{ icon.name }}
        </mat-icon>
        <mat-icon style="background-color: white;" (click)="perspectives();" matTooltip="Perspectives"
          class="animated-icon1">settings
        </mat-icon>
        <mat-icon (click)="perspectiveFilter($event)" matTooltip="Filter" class="animated-icon1">
          filter_list
        </mat-icon>
      </div>
    </mat-card>
  </div>
</div>


<!-- For Patient Intake -->
<div class="col-sm-12 mt-3 mb-4" *ngIf="selectedIcon === 0">
  <!-- 1st -->
  <div class="col-sm-4">
    <table style="width: 100%; border-collapse: collapse; text-align: left;">
      <tbody>
        <tr *ngFor="let data of patientData; let i = index">
          <td
            [ngStyle]="{'background-color': i % 2 === 0 ? '#e3f2fd' : 'lemonchiffon', 'padding': '8px', 'border': '1px solid #ddd'}">
            {{ data.description }}
          </td>
          <td class="count">
            {{ data.count }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="col-sm-4">
    <table style="width: 100%; border-collapse: collapse; text-align: left;">
      <tbody>
        <tr *ngFor="let data of patientData2; let i = index">
          <td
            [ngStyle]="{'background-color': i % 2 === 0 ? 'lemonchiffon' : '#e3f2fd', 'padding': '8px', 'border': '1px solid #ddd'}">
            {{ data.description }}
          </td>
          <td class="count">
            {{ data.count }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-sm-4">
    <table style="width: 100%; border-collapse: collapse; text-align: left;">
      <tbody>
        <tr *ngFor="let data of logData; let i = index">
          <td
            [ngStyle]="{'background-color': i % 2 === 0 ? '#e3f2fd' : 'lemonchiffon', 'padding': '8px', 'border': '1px solid #ddd'}">
            {{ data.description }}
          </td>
          <td class="count" *ngIf="data.description == 'Denied'  || data.description == 'Delayed'" [ngStyle]="
            {'color': 'red' }">
            {{ data.count }}
          </td>
          <td class="count" *ngIf="data.description != 'Denied' && data.description != 'Delayed'">
            {{ data.count }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
<!-- For Liaisons -->
<!-- <div class="arrow-container" *ngIf="selectedIcon === 3">
  <div class="arrow-shape" style="background-color: #D9D9D9; color: black;">
    <span class="arrow-text">Active this year</span>
    <span class="arrow-number">56,987</span>
  </div>

  <div class="arrow-shape" style="background-color: #FFD2B2; color: black;">
    <span class="arrow-text">Active this quarter</span>
    <span class="arrow-number">15,009</span>
  </div>

  <div class="arrow-shape" style="background-color: #B3E3F6; color: black;">
    <span class="arrow-text">Active this month</span>
    <span class="arrow-number">6521</span>
  </div>

  <div class="arrow-shape" style="background-color: #A8E5C1; color: black;">
    <span class="arrow-text">Active last month</span>
    <span class="arrow-number">5621</span>
  </div>

</div> -->
<!-- Liaison -->
<div class="arrow-container" *ngIf="selectedIcon === 1">
  <div class="arrow-shape" style="background-color: #D9D9D9; color: black;">
    <span class="arrow-text">Active this year</span>
    <span class="arrow-number">98</span>
  </div>

  <div class="arrow-shape" style="background-color: #FFD2B2; color: black;">
    <span class="arrow-text">Action this quarter</span>
    <span class="arrow-number">98</span>
  </div>

  <div class="arrow-shape" style="background-color: #A8E5C1; color: black;">
    <span class="arrow-text">Active this month</span>
    <span class="arrow-number">74</span>
  </div>

  <div class="arrow-shape" style="background-color: #C4C2FF; color: black;">
    <span class="arrow-text">Pending Verification</span>
    <span class="arrow-number">12</span>
  </div>
  <div class="arrow-shape" style="background-color: #B3E3F6; color: black;">
    <span class="arrow-text">Pending Authorization</span>
    <span class="arrow-number">10</span>
  </div>
  <div class="arrow-shape" style="background-color: #E0DBFF; color: black;">
    <span class="arrow-text">Scheduled & Pending AUTH</span>
    <span class="arrow-number">32</span>
  </div>
</div>
<!-- Case Manager -->
<div class="arrow-container" *ngIf="selectedIcon === 2">
  <div class="arrow-shape" style="background-color: #D9D9D9; color: black;">
    <span class="arrow-text">Referrals Intake Today</span>
    <span class="arrow-number">98</span>
  </div>

  <div class="arrow-shape" style="background-color: #FFD2B2; color: black;">
    <span class="arrow-text">Referrals Intake This Week</span>
    <span class="arrow-number">98</span>
  </div>

  <div class="arrow-shape" style="background-color: #A8E5C1; color: black;">
    <span class="arrow-text">Referrals Intake This Month</span>
    <span class="arrow-number">74</span>
  </div>

  <div class="arrow-shape" style="background-color: #C4C2FF; color: black;">
    <span class="arrow-text">Pending Verification</span>
    <span class="arrow-number">12</span>
  </div>
  <div class="arrow-shape" style="background-color: #B3E3F6; color: black;">
    <span class="arrow-text">Pending Authorization</span>
    <span class="arrow-number">10</span>
  </div>
  <div class="arrow-shape" style="background-color: #E0DBFF; color: black;">
    <span class="arrow-text">Scheduled & Pending AUTH</span>
    <span class="arrow-number">32</span>
  </div>
</div>
<!-- Scheduling -->
<div class="arrow-container" *ngIf="selectedIcon === 3">
  <div class="arrow-shape" style="background-color: #C4C2FF; color: black;">
    <span class="arrow-text">Pending Verification</span>
    <span class="arrow-number">42,981</span>
  </div>
  <div class="arrow-shape" style="background-color: #B3E3F6; color: black;">
    <span class="arrow-text">Pending Authorization</span>
    <span class="arrow-number">40,897</span>
  </div>
  <div class="arrow-shape" style="background-color: #E0DBFF; color: black;">
    <span class="arrow-text">SCH & Pending AUTH</span>
    <span class="arrow-number">32,781</span>
  </div>

  <div class="arrow-shape" style="background-color: #D9D9D9; color: black;">
    <span class="arrow-text">Scheduled Today</span>
    <span class="arrow-number">9891</span>
  </div>

  <div class="arrow-shape" style="background-color: #FFD2B2; color: black;">
    <span class="arrow-text">AUTH & Pending SCH</span>
    <span class="arrow-number">981</span>
  </div>

  <div class="arrow-shape" style="background-color: #A8E5C1; color: black;">
    <span class="arrow-text">Scheduling Overdue</span>
    <span class="arrow-number">741</span>
  </div>

</div>
<!-- Claims -->
<div class="arrow-container1" *ngIf="selectedIcon === 4">
  <div class="arrow-shape" style="background-color: #E0DBFF; color: black;">
    <span class="arrow-text">Referrals This Month</span>
    <span class="arrow-number">32</span>
  </div>

  <div class="arrow-shape" style="background-color: #D9D9D9; color: black;">
    <span class="arrow-text">Scheduled This Month</span>
    <span class="arrow-number">98</span>
  </div>

  <div class="arrow-shape" style="background-color: #FFD2B2; color: black;">
    <span class="arrow-text">Claims This Month</span>
    <span class="arrow-number">98</span>
  </div>

  <div class="arrow-shape" style="background-color: #A8E5C1; color: black;">
    <span class="arrow-text">Claim Pending</span>
    <span class="arrow-number">74</span>
  </div>

</div>
<!-- Collection -->
<div class="arrow-container1" *ngIf="selectedIcon === 5">
  <div class="arrow-shape" style="background-color: #E0DBFF; color: black;">
    <span class="arrow-text">Cases This Month</span>
    <span class="arrow-number">32</span>
  </div>

  <div class="arrow-shape" style="background-color: #D9D9D9; color: black;">
    <span class="arrow-text">Claims This Month</span>
    <span class="arrow-number">98</span>
  </div>

  <div class="arrow-shape" style="background-color: #FFD2B2; color: black;">
    <span class="arrow-text">Paid This Month</span>
    <span class="arrow-number">98</span>
  </div>

  <div class="arrow-shape" style="background-color: #A8E5C1; color: black;">
    <span class="arrow-text">Overdue Claims</span>
    <span class="arrow-number">74</span>
  </div>

</div>
<!-- Leadership -->
<div class="arrow-container" *ngIf="selectedIcon === 6">
  <div class="arrow-shape" style="background-color: #C4C2FF; color: black;">
    <span class="arrow-text">Referrals This Year</span>
    <span class="arrow-number">122,981</span>
  </div>
  <div class="arrow-shape" style="background-color: #B3E3F6; color: black;">
    <span class="arrow-text">Visits This Year</span>
    <span class="arrow-number">101,781</span>
  </div>
  <div class="arrow-shape" style="background-color: #E0DBFF; color: black;">
    <span class="arrow-text">Claims This Year</span>
    <span class="arrow-number">321,876</span>
  </div>

  <div class="arrow-shape" style="background-color: #D9D9D9; color: black;">
    <span class="arrow-text">Scheduling Overdue</span>
    <span class="arrow-number">981</span>
  </div>

  <div class="arrow-shape" style="background-color: #FFD2B2; color: black;">
    <span class="arrow-text">Claims Overdue</span>
    <span class="arrow-number">989</span>
  </div>

  <div class="arrow-shape" style="background-color: #A8E5C1; color: black;">
    <span class="arrow-text">QTQ Referrals Growth</span>
    <span class="arrow-number">34%</span>
  </div>

</div>

<!-- Marketing -->
<div class="arrow-container" *ngIf="selectedIcon === 7">
  <div class="arrow-shape" style="background-color: #C4C2FF; color: black;">
    <span class="arrow-text">Referrals This Year</span>
    <span class="arrow-number">312,872</span>
  </div>
  <div class="arrow-shape" style="background-color: #B3E3F6; color: black;">
    <span class="arrow-text">Claims to Referrals</span>
    <span class="arrow-number">0.78</span>
  </div>
  <div class="arrow-shape" style="background-color: #E0DBFF; color: black;">
    <span class="arrow-text">Claims This Year</span>
    <span class="arrow-number">322,321</span>
  </div>

  <div class="arrow-shape" style="background-color: #D9D9D9; color: black;">
    <span class="arrow-text">QTQ Referrals Growth</span>
    <span class="arrow-number">30%</span>
  </div>

  <div class="arrow-shape" style="background-color: #FFD2B2; color: black;">
    <span class="arrow-text">MTM Referrals Growth</span>
    <span class="arrow-number">32%</span>
  </div>

  <div class="arrow-shape" style="background-color: #A8E5C1; color: black;">
    <span class="arrow-text">QTQ Claims Growth</span>
    <span class="arrow-number">34%</span>
  </div>

</div>

<!-- For All Perspectives -->
<!-- <div class="col-sm-12 mb-3"
  *ngIf="selectedIcon === 1 || selectedIcon === 2 || selectedIcon === 4 || selectedIcon === 5 || selectedIcon === 6 || selectedIcon === 7"
  style="position: relative; overflow-x: auto;">
  <h2 class="text-center" style="
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: black;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px; ">
    Under Construction
  </h2>

  <div class="d-flex flex-nowrap" style="gap: 10px;">
    <img class="fixed-size" src="../../../../assets/satya.jpg" alt="">
    <img class="fixed-size" src="../../../../assets/satya.jpg" alt="">
    <img class="fixed-size" src="../../../../assets/satya.jpg" alt="">
    <img class="fixed-size" src="../../../../assets/satya.jpg" alt="">
    <img class="fixed-size" src="../../../../assets/satya.jpg" alt="">
    <img class="fixed-size" src="../../../../assets/satya.jpg" alt="">
    <img class="fixed-size" src="../../../../assets/satya.jpg" alt="">
    <img class="fixed-size" src="../../../../assets/satya.jpg" alt="">
    <img class="fixed-size" src="../../../../assets/satya.jpg" alt="">
    <img class="fixed-size" src="../../../../assets/satya.jpg" alt="">
    <img class="fixed-size" src="../../../../assets/satya.jpg" alt="">
    <img class="fixed-size" src="../../../../assets/satya.jpg" alt="">
  </div>
</div> -->


<!-- All BUttons -->
<div class="container-fluid" style="margin-bottom: 5px; padding-right: 25px">
  <div class="w-100">
    <div class="row mt-3" style="display: flex; justify-content: flex-end; align-items: center">

      <label class="control-label mt-2 margin-right-10">Apply Save Search :</label>
      <mat-select class="form-control margin-right-10" style="width: 180px;" placeholder="Select Subject">
        <mat-option [value]="'New York'">Pending Verification</mat-option>
        <mat-option [value]="'Los Angeles'">SCH & Pending AUTH</mat-option>
        <mat-option [value]="'Chicago'">Referrals this week</mat-option>
        <mat-option [value]="'Houston'">Authorized this week</mat-option>
      </mat-select>
      <!-- <input type="text" class="form-control margin-right-10" style="width: 150px;" placeholder="Enter" required> -->
      <button mat-raised-button matTooltip="Save" style="background-color: green; color: white; margin-right: 8px">
        Go
      </button>

      <!-- Merge Button -->
      <button mat-raised-button style="background-color: #37474f; color: white" (click)="openMerge()"
        class="filters-hover margin-right-10">
        <mat-icon>merge_type</mat-icon> Merge
      </button>

      <!-- Grid Columns Button -->
      <button mat-raised-button style="background-color: black; color: white" (click)="openManageGridDialog()"
        class="margin-right-10">
        <mat-icon>grid_on</mat-icon> Grid Columns
      </button>

      <!-- Download CSV Button -->
      <button mat-raised-button style="background-color: black; color: white; margin-right: 8px">
        <mat-icon>get_app</mat-icon> Download CSV
      </button>

      <!-- Upload CSV Button -->
      <button mat-raised-button style="background-color: black; color: white; margin-right: 8px">
        <mat-icon>backup</mat-icon> Upload CSV
      </button>

      <!-- Filter Button -->
      <button mat-raised-button style="background-color: black; color: white" class="margin-right-10"
        (click)="filterToggle = !filterToggle">
        <mat-icon class="mat-margin-top">filter_list</mat-icon> Filter
      </button>

      <!-- Add Account Button -->
      <button mat-raised-button color="primary" class="btn-primary margin-right-5" (click)="openEditDialog(null)">
        <mat-icon class="mat-margin-top">add</mat-icon> Add Intake
      </button>
    </div>
  </div>
</div>

<!-- Filter UI -->

<div fxLayout="row wrap" *ngIf="filterToggle" style="margin-left: 10px;"
    style="margin-bottom: 10px;flex-flow: wrap;box-sizing: border-box;display: flex;margin-left: 10px;">
    <div fxFlex="100" class="flex-p w-100">
      <form >
        <!-- [formGroup]="filterForm" -->
        <mat-card class="filter">
          <mat-card-content>
            <div class="row pl-4">
              <div class="col-sm-4">
                <div class="row">
                  <div class="col-sm-4">
                    <b>Keyword:</b>
                  </div>
                  <div class="col-sm-7">
                    <input type="text" placeholder="Search by Keyword" class="form-control" > 
                    <!-- formControlName="keyword" -->
                  </div>
                </div>
              </div>
      
              <div class="col-sm-4">
                <div class="row">
                  <div class="col-sm-4">
                    <b>State:</b>
                  </div>
                  <div class="col-sm-7">
                    <mat-select placeholder="--Select State--" [(value)]="selectedEventType" class="form-control" multiple >
                      
                      <mat-select-trigger>
                        {{selectedEventType || '--Select State--'}}
                      </mat-select-trigger>
                      <mat-form-field *ngIf="eventTypes.length > 1" appearance="fill" style="width: 100%;">
                        <input matInput (input)="applyFilter($event)" placeholder="Search">
                      </mat-form-field>
                      <mat-option *ngFor="let event of filteredEventTypes" [value]="event">
                        {{event}}
                      </mat-option>
                    </mat-select>
                  </div>
                </div>
              </div>
      
             
              



              <div class="col-sm-4">
                <div class="row">
                  <div class="col-sm-4">
                    <b>City:</b>
                  </div>
                  <div class="col-sm-7">
                    <mat-select placeholder="--Select City--" [(value)]="selectCityType" class="form-control" multiple >
                      <!-- formControlName="city" -->
                      <mat-select-trigger>
                        {{selectCityType || '--Select City--'}}
                      </mat-select-trigger>
                      <mat-form-field *ngIf="eventTypes.length > 1" appearance="fill" style="width: 100%;">
                        <input matInput (input)="applyFilter1($event)" placeholder="Search">
                      </mat-form-field>
                      <mat-option *ngFor="let event of filteredCityTypes" [value]="event">
                        {{event}}
                      </mat-option>
                    </mat-select>
                  </div>
                </div>
              </div>
            </div>
      
            <div class="row pt-4  pl-4">
              <div class="col-sm-4">
                <div class="row">
                  <div class="col-sm-4">
                    <b>Gender:</b>
                  </div>
                  <div class="col-sm-7">
                    <mat-select [(ngModel)]="selectedGender" placeholder="--Select Gender--" class="form-control">
                      <mat-option [value]="'Male'">Male</mat-option>
                      <mat-option [value]="'Female'">Female</mat-option>
                    </mat-select>
                  </div>
                </div>
              </div>
      
              <div class="col-sm-4">
                <div class="row">
                  <div class="col-sm-4">
                    <b>Marital Status:</b>
                  </div>
                  <div class="col-sm-7">
                    <mat-select [(value)]="selectedMaritalStatus" placeholder="--Select Marital Status--" class="form-control">
                      <mat-option [value]="'Married'">Married</mat-option>
                      <mat-option [value]="'Unmarried'">Unmarried</mat-option>
                    </mat-select>
                  </div>
                </div>
              </div>
              
      
              <div class="col-sm-4">
                <div class="row">
                  <div class="col-sm-4">
                    <b>Case Type:</b>
                  </div>
                  <div class="col-sm-7">
                    <mat-select [(value)]="selectedCaseType" placeholder="--Select Case Type--" class="form-control">
                      <mat-option [value]="'Sub Acute'">Sub Acute</mat-option>
                      <mat-option [value]="'Insurance'">Insurance</mat-option>
                      <mat-option [value]="'Worker Comp'">Worker Comp</mat-option>
                      <mat-option [value]="'Self Pay'">Self Pay</mat-option>
                    </mat-select>
                  </div>
                </div>
              </div>
              
            </div>
      
            <div class="row pt-4  pl-4">
              <div class="col-sm-4">
                <div class="row">
                  <div class="col-sm-4">
                    <b>Language:</b>
                  </div>
                  <div class="col-sm-7">
                    <mat-select class="form-control" placeholder="Select Language" >
                      <!-- formControlName="language" -->
                      <mat-option [value]="'English'">English</mat-option>
                      <mat-option [value]="'Spanish'">Spanish</mat-option>
                      <mat-option [value]="'French'">French</mat-option>
                      <mat-option [value]="'German'">German</mat-option>
                      <mat-option [value]="'Chinese'">Chinese</mat-option>
                      <mat-option [value]="'Hindi'">Hindi</mat-option>
                      <mat-option [value]="'Arabic'">Arabic</mat-option>
                      <mat-option [value]="'Russian'">Russian</mat-option>
                      <mat-option [value]="'Portuguese'">Portuguese</mat-option>
                      <mat-option [value]="'Japanese'">Japanese</mat-option>
                    </mat-select>
                  </div>
                </div>
              </div>
      
              <div class="col-sm-4">
                <div class="row">
                  <div class="col-sm-4">
                    <b>Ethnicity:</b>
                  </div>
                  <div class="col-sm-7">
                    <input type="text" placeholder="Select Ethnicity" class="form-control" >
                    <!-- formControlName="ethnicity" -->
                  </div>
                </div>
              </div>
      
              <div class="col-sm-4">
                <div class="row">
                  <div class="col-sm-9 offset-sm-3">
                    <a (click)="filterToggle = !filterToggle" matTooltip="Close" class="pull-right"
                      style="font-size: 20px; cursor: pointer; margin-left: 5px">
                      <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                    </a>
      
                    <i class="material-icons pull-right" matTooltip="Clear" (click)="clearFilters()"
                      style="font-size: 25px; cursor: pointer; margin-left: 5px;">
                      settings_backup_restore
                    </i>
      
                    <i class="fa fa-save pull-right" matTooltip="Save" (click)="saveFilters();"
                      style="font-size: 20px; cursor: pointer; margin-left: 5px; color: green;" aria-hidden="true">
                    </i>
      
                    <i class="fa fa-search pull-right" matTooltip="Search" (click)="searchFilters();"
                      style="font-size: 20px; cursor: pointer; margin-left: 5px; color: blue;" aria-hidden="true">
                    </i>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
      
        
    
    
      </div>
</div>




<!-- Table -->
<div class="col-sm-12 mt-3">
  <div id="grid-table-container" class="table-responsive">
    <table matSort class="table table-bordered table-hover">
      <thead class="tbl-head1" style="background-color: rgb(58, 53, 53); color: white">
        <tr>
          <th class="text-center" style="white-space: nowrap">Actions</th>
          <th class="text-center" style="white-space: nowrap">Status</th>
          <th class="text-center" style="white-space: nowrap">Patient ID</th>
          <th style="white-space: nowrap">Select</th>
          <th style="white-space: nowrap">Patient Name</th>
          <th class="text-center" style="white-space: nowrap">Cases</th>
          <th class="text-center" style="white-space: nowrap">Referrals</th>
          <th class="text-center" style="white-space: nowrap">Providers</th>
          <th class="text-center" style="white-space: nowrap">Visits</th>
          <th class="text-center" style="white-space: nowrap">Claims</th>
          <!-- <th style="white-space: nowrap">Liaison</th> -->
          <th style="white-space: nowrap">City</th>
          <th style="white-space: nowrap">State</th>
          <th class="text-center" style="white-space: nowrap">Zip Code</th>
          <th style="white-space: nowrap">Emergency</th>
          <th style="white-space: nowrap">Employment</th>
          <th style="white-space: nowrap">Insurance</th>
          <th class="text-center" style="white-space: nowrap">Cell Phone</th>
          <th style="white-space: nowrap">Email</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let applicant of users">
          <td class="text-center" style="white-space: nowrap">
            <a matTooltip="Edit Record" (click)="openEditDialog(applicant.id)" class="fa fa-edit action-btn edit-btn">
            </a>

            <a matTooltip="Delete Record" class="fa fa-trash action-btn delete-btn">
            </a>
          </td>

          <td class="text-center" style="text-align: center !important; ">
            <a [ngStyle]="{'color':  applicant.status? 'blue' : 'red','cursor':'pointer'}">
              <span *ngIf="!applicant.status" style="color:red">Inactive</span>
              <span *ngIf=" applicant.status">Active</span>
            </a>
          </td>
          <td class="text-center" style="cursor: pointer; color: cornflowerblue;"
            [routerLink]="['/rcm-login/patients-dashboard']">
            {{applicant.patientId }}
          </td>
          <td>
            <mat-checkbox></mat-checkbox>
          </td>
          <td style="white-space: nowrap">{{ applicant.name }}</td>
          <td class="text-center" [routerLink]="['../inner-cases']" style="color: cornflowerblue; cursor: pointer">
            {{ applicant.cases }}
          </td>
          <td class="text-center" [routerLink]="['../inner-referrals']" style="color: cornflowerblue; cursor: pointer">
            {{ applicant.referrals }}
          </td>
          <td class="text-center" [routerLink]="['../inner-providers']" style="color: cornflowerblue; cursor: pointer">
            {{ applicant.providers }}
            <!-- <mat-checkbox [checked]="applicant.providers > 0"></mat-checkbox> -->
          </td>
          <td class="text-center" [routerLink]="['../inner-visits']" style="color: cornflowerblue; cursor: pointer">
            5</td>
          <td class="text-center" [routerLink]="['../inner-claims']" style="color: cornflowerblue; cursor: pointer">
            {{ applicant.claims }}
          </td>
          <!-- <td style="white-space: nowrap">{{ applicant.liaison }}</td> -->
          <td style="white-space: nowrap">{{ applicant.city }}</td>
          <td style="white-space: nowrap">{{ applicant.state }}</td>
          <td class="text-center">{{ applicant.zipCode }}</td>
          <td style="white-space: nowrap">Natalie Cohen</td>
          <td style="white-space: nowrap">{{ applicant.employment }}</td>
          <td style="white-space: nowrap">{{ applicant.insurance }}</td>
          <td class="text-center">{{ applicant.cellPhone }}</td>
          <td>{{ applicant.email }}</td>
        </tr>
      </tbody>
    </table>
    <button class="mine" mat-fab (click)="scrollGrid('right')">
      <mat-icon style="color: #37474f">fast_forward</mat-icon>
    </button>
    <button class="mine" mat-fab style="margin-right: 78px !important" (click)="scrollGrid('left')">
      <mat-icon style="color: #37474f">fast_rewind</mat-icon>
    </button>
    <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSizeOptions]="[5, 10, 25, 50, 100]"
      showFirstLastButtons></mat-paginator>
  </div>
</div>