::ng-deep .mat-menu-panel {
    max-height: 250px !important; 
  }
  
  ::ng-deep .scrollable-menu {
    max-height: 200px; 
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
  }



  .center-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1em;
  }
  
  .center-icon mat-icon {
    vertical-align: middle;
    margin: 0;
  }