

<div class="col-sm-12 mt-4">

    <button mat-raised-button style="background-color: black; color:white; margin-left: 8px;" class="pull-right"
    (click)="filterToggle = !filterToggle">
    <mat-icon>filter_list</mat-icon> Filter
    </button>
<!-- 
    <button mat-raised-button style="background-color: black; color:white; " class="pull-right" >
    <mat-icon>swap_vert</mat-icon> Sort
    </button> -->


    <!-- Sort Button -->
<button mat-raised-button mat-button [matMenuTriggerFor]="sortMenu" style="background-color: #37474f; color: white " class="filters-hover pull-right margin-right-10">
    <span (click)="toggleSort($event)" class="icon-text">
      <mat-icon style="margin-top: 0px; margin-bottom: -6px;">
        {{ isAscending ? 'arrow_drop_up' : 'arrow_drop_down' }}
      </mat-icon>
    </span>
    <span class="icon-text">SORT</span>
  </button>
  
  <!-- Dropdown Menu -->
  <mat-menu #sortMenu="matMenu">
    <div class="scrollable-menu">
        <button mat-menu-item (click)="onSortOptionSelected('Case Manager')">Case Manager</button>
        <button mat-menu-item (click)="onSortOptionSelected('Liaisons')">Liaisons</button>
        <button mat-menu-item (click)="onSortOptionSelected('Patients')">Patients</button>
        <button mat-menu-item (click)="onSortOptionSelected('Claims')">Claims</button>
        <button mat-menu-item (click)="onSortOptionSelected('Created Date')">Created Date</button>
        <button mat-menu-item (click)="onSortOptionSelected('Law Firms')">Law Firms</button>
    </div>
  </mat-menu>
</div>

<!-- Filter -->
<div fxLayout="row wrap" class="col-sm-12 mt-2 mb-2" *ngIf="filterToggle">
    <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p">
        <form [formGroup]="filterForm">
            <mat-card class="filter">
                <mat-card-content>
                    <div class="row col-sm-12">
                        <div class="col-sm-4">
                            <div class="col-sm-4 newMarginClass">
                                <b>Keyword:</b>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" onCopy="return false" onPaste="return false" class="form-control"
                                    placeholder="Search by Keyword">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="col-sm-4 newMarginClass">
                                <b>Law Firms:</b>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" onCopy="return false" onPaste="return false" class="form-control"
                                    placeholder="Search by Law Firm">
                            </div>
                        </div>
                        <div class="col-sm-4">

                            <a (click)="filterToggle = !filterToggle" class="pull-right"
                                style="font-size: 25px; cursor: pointer; margin-left: 5px">
                                <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                            </a>
                            <!-- <button mat-raised-button color="primary" class="pull-right">
                                <mat-icon>youtube_searched_for</mat-icon> Search
                            </button>
                            <button mat-raised-button class="pull-right btn-default margin-right-10">
                                <mat-icon>settings_backup_restore</mat-icon> Clear
                            </button> -->
                            <button mat-raised-button color="primary" class="pull-right" style="background-color: #007bff !important; color: white">
                                Search
                            </button>
                            
                            <button mat-raised-button class="pull-right btn-default margin-right-10">
                                Clear
                            </button>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
                    </div>
                </mat-card-content>
            </mat-card>
        </form>
    </div>
</div>

<div class="table-responsive col-sm-12 mt-3">
    <table id="example2" class="table table-bordered table-hover">
        <thead class="tbl-head">
            <tr class="tr-grid-header">
                <th>Liaison Name</th>
                <th>Case Managers</th>
                <th style="text-align: center !important;">Law Firms</th>
                <th class="text-center">Patients</th>
                <th class="text-center">Cases</th>
                <th class="text-center">Claims</th>
                <th style="text-align: center !important;">Status</th>
                <th style="text-align: center !important;">Created Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of roleDetails">
                <td [routerLink]="['/rcm-login/liaison-dashboard']" style="cursor: pointer; color: cornflowerblue;">
                    {{item.RoleName}}
                </td>
                <td class="text-center">
                    <a style="cursor: pointer; color: cornflowerblue;" (click)="locationPop(item);">{{item.NoofUsers}}
                    </a>
                  </td>
                <td [routerLink]="['/rcm-login/inner-law-firms']" class="text-center"
                    style="color: cornflowerblue; cursor: pointer;">{{item.TotalUsers}}
                </td>
                <td [routerLink]="['/rcm-login/inner-patients']" class="text-center"
                    style="color: cornflowerblue; cursor: pointer;">{{item.permissionCount}}
                </td>
                <td [routerLink]="['/rcm-login/inner-cases']" class="text-center"
                    style="color: cornflowerblue; cursor: pointer;">{{item.totalPermissionCount}}
                </td>
                <td [routerLink]="['/rcm-login/inner-claims']" class="text-center"
                    style="color: cornflowerblue; cursor: pointer;">{{item.permissionCount}}
                </td>
                <td class="text-center" style="text-align: center !important;">
                    <a [ngStyle]="{'color':  item.IsActive? 'blue' : 'red','cursor':'pointer'}">
                        <span *ngIf="!item.IsActive" style="color:red">Inactive</span>
                        <span *ngIf=" item.IsActive">Active</span>
                    </a>
                </td>
                <td class="text-center">
                    14/12/2023
                </td>
            </tr>
        </tbody>

    </table>
    <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSizeOptions]="[5, 10, 25, 50, 100]"
        showFirstLastButtons>
    </mat-paginator>
</div>