<div class="nav-container" [ngClass]="{'nav-open': isNavOpen, 'nav-closed': !isNavOpen}">
    <!-- Toggle Button with Hamburger Icon -->
    <!-- <button (click)="toggleNav()" class="toggle-button">
        <mat-icon>menu</mat-icon>
    </button> -->

    <button (click)="toggleNav()" class="toggle-button">
        <mat-icon class="toggle-icon">menu</mat-icon>
    </button>

    <nav class="nav-links">
        <ul>
            <li routerLinkActive="active" [routerLink]="['invoices']">
                <a style="margin-top: 10px;">
                    <mat-icon *ngIf="!isNavOpen" matTooltip="Invoices">receipt</mat-icon>
                    <span *ngIf="isNavOpen">Invoices</span>
                </a>
            </li>
            <li routerLinkActive="active" [routerLink]="['batches']">
                <a style="margin-top: 10px;">
                    <mat-icon *ngIf="!isNavOpen" matTooltip="Batches">list_alt</mat-icon>
                    <span *ngIf="isNavOpen">Batches</span>
                </a>
            </li>
            <li routerLinkActive="active" [routerLink]="['payments']">
                <a style="margin-top: 10px;">
                    <mat-icon *ngIf="!isNavOpen" matTooltip="Funding">credit_card</mat-icon>
                    <span *ngIf="isNavOpen">Funding</span>
                </a>
            </li>
            <li routerLinkActive="active" [routerLink]="['calculators']">
                <a style="margin-top: 10px;">
                    <mat-icon *ngIf="!isNavOpen" matTooltip="Calculators">calculate</mat-icon>
                    <span *ngIf="isNavOpen">Calculator</span>
                </a>
            </li>
            <li routerLinkActive="active" [routerLink]="['repayments']">
                <a style="margin-top: 10px;">
                    <mat-icon *ngIf="!isNavOpen" matTooltip="Payback">sync</mat-icon>
                    <span *ngIf="isNavOpen">Payback</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<div [ngClass]="{'full-width': !isNavOpen}" class="col-sm-10">



    <div *ngIf="isNavOpen" style="display: flex; align-items: center;margin-left: 10%;  margin-top: -4.5%">
        <!-- Image Container -->
        <div class="col-sm-2" style=" cursor: pointer" (click)="toggleCard()">
          <img src="../../../../assets/rbg.png" class="top-left-image"
            style="width: 35px; height: 35px; margin-top: -18%; margin-left: 40px" />
        </div>
    
    
        <mat-card class="col-sm-10 pull-right" style="
            height: 35px;
            background-color: black;
            margin-top: -2.5%;
            margin-left: -25px;
            margin-right: -10px;
          " *ngIf="showCard">
          <div fxLayout="row" fxLayoutAlign="start center"
            style="gap: 30px; padding: 0 10px; display: flex; align-items: center">
            <div style="display: flex; align-items: center; gap: 10px">
              <span style="color: white; line-height: 35px; gap: 30px">Referrals</span>
              <span style="
                  color: white;
                  line-height: 35px;
                  gap: 30px;
                  margin-right: 10px;
                ">120,000</span>
              <mat-icon style="
                  cursor: pointer;
                  margin-right: 10px;
                  background-color: lightgray;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 35px;
                  height: 35px;
                  padding: 18px 15px 12px 15px;
                " (click)="toggleTable('table')">
                {{ showTable ? "expand_less" : "add" }}
              </mat-icon>
            </div>
    
            <div style="display: flex; align-items: center; gap: 10px">
              <span style="color: white; line-height: 35px">Visits </span>
              <span style="
                  color: white;
                  line-height: 35px;
                  gap: 30px;
                  margin-right: 10px;
                ">105,991</span>
              <mat-icon style="
                  cursor: pointer;
                  margin-right: 10px;
                  background-color: lightgray;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 35px;
                  height: 35px;
                  padding: 18px 15px 12px 15px;
                " (click)="toggleTable('table1')">
                {{ showTable1 ? "expand_less" : "add" }}
              </mat-icon>
            </div>
            <div style="display: flex; align-items: center; gap: 10px">
              <span style="color: white; line-height: 35px">Claims </span>
              <span style="
                  color: white;
                  line-height: 35px;
                  gap: 30px;
                  margin-right: 10px;
                ">65,001</span>
              <mat-icon style="
                  cursor: pointer;
                  margin-right: 10px;
                  background-color: lightgray;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 35px;
                  height: 35px;
                  padding: 18px 15px 12px 15px;
                " (click)="toggleTable('table2')">
                {{ showTable2 ? "expand_less" : "add" }}
              </mat-icon>
            </div>
            <div style="display: flex; align-items: center; gap: 10px">
              <span style="color: white; line-height: 35px">Paid</span>
              <span style="
                  color: white;
                  line-height: 35px;
                  gap: 30px;
                  margin-right: 10px;
                ">45,962</span>
            </div>
    
            <div style="display: flex; align-items: center; gap: 7px">
    
              <mat-icon style="
                  cursor: pointer;
                  margin-right: 7px;
                  background-color: lightgray;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 35px;
                  height: 35px;
                  padding: 18px 15px 12px 15px;
                "
                (click)="referralsFilter($event)"
                >
                filter_list
              </mat-icon>
            </div>
    
          </div>
        </mat-card>
    
      </div>
    
    
      <div *ngIf="!isNavOpen" style="display: flex; align-items: center;margin-left: 10%;  margin-top: -4.5%">
        <!-- Image Container -->
        <div class="col-sm-2" style=" cursor: pointer" (click)="toggleCard()">
          <img src="../../../../assets/rbg.png" class="top-left-image"
            style="width: 35px; height: 35px; margin-top: -10%; margin-left: 40px" />
        </div>
    
    
        <mat-card class="col-sm-10 pull-right" style="
            height: 35px;
            background-color: black;
            margin-top: -1%;
            margin-left: -25px;
            margin-right: -10px;
          " *ngIf="showCard">
          <div fxLayout="row" fxLayoutAlign="start center"
            style="gap: 30px; padding: 0 10px; display: flex; align-items: center">
            <div style="display: flex; align-items: center; gap: 10px">
              <span style="color: white; line-height: 35px; gap: 30px">Referrals</span>
              <span style="
                  color: white;
                  line-height: 35px;
                  gap: 30px;
                  margin-right: 10px;
                ">120,000</span>
              <mat-icon style="
                  cursor: pointer;
                  margin-right: 10px;
                  background-color: lightgray;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 35px;
                  height: 35px;
                  padding: 18px 15px 12px 15px;
                " (click)="toggleTable('table')">
                {{ showTable ? "expand_less" : "add" }}
              </mat-icon>
            </div>
    
            <div style="display: flex; align-items: center; gap: 10px">
              <span style="color: white; line-height: 35px">Visits </span>
              <span style="
                  color: white;
                  line-height: 35px;
                  gap: 30px;
                  margin-right: 10px;
                ">105,991</span>
              <mat-icon style="
                  cursor: pointer;
                  margin-right: 10px;
                  background-color: lightgray;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 35px;
                  height: 35px;
                  padding: 18px 15px 12px 15px;
                " (click)="toggleTable('table1')">
                {{ showTable1 ? "expand_less" : "add" }}
              </mat-icon>
            </div>
            <div style="display: flex; align-items: center; gap: 10px">
              <span style="color: white; line-height: 35px">Claims </span>
              <span style="
                  color: white;
                  line-height: 35px;
                  gap: 30px;
                  margin-right: 10px;
                ">65,001</span>
              <mat-icon style="
                  cursor: pointer;
                  margin-right: 10px;
                  background-color: lightgray;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 35px;
                  height: 35px;
                  padding: 18px 15px 12px 15px;
                " (click)="toggleTable('table2')">
                {{ showTable2 ? "expand_less" : "add" }}
              </mat-icon>
            </div>
            <div style="display: flex; align-items: center; gap: 10px">
              <span style="color: white; line-height: 35px">Paid</span>
              <span style="
                  color: white;
                  line-height: 35px;
                  gap: 30px;
                  margin-right: 10px;
                ">45,962</span>
            </div>
    
            <div style="display: flex; align-items: center; gap: 7px">
    
              <mat-icon style="
                  cursor: pointer;
                  margin-right: 7px;
                  background-color: lightgray;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 35px;
                  height: 35px;
                  padding: 18px 15px 12px 15px;
                "
                (click)="referralsFilter($event)"
                >
                filter_list
              </mat-icon>
            </div>
    
          </div>
        </mat-card>
    
      </div>

    
      <div *ngIf="showTable" @slideIn style="margin-left: 21.8%" class="dropdown-content">
        <div id="grid-table-container" class="table-responsive">
          <h4>Gap Analysis - Referral vs. Visits</h4>
          <table matSort class="table table-bordered table-hover">
            <tbody>
              <tr *ngFor="let user of dataSource; let i = index;let last = last">
                <td [ngStyle]="{
                    'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9'
                  }">
                  {{ user.workList }}
                </td>
                <td [ngStyle]="{
                  'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9',
                  'color': last ? 'black' : 'blue'
                }" [routerLink]="last ? null : ['/rcm-login/referrals']" [style.cursor]="last ? 'default' : 'pointer'">
                {{ user.volume }}
              </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    
      <div *ngIf="showTable1" @slideIn style="margin-left: 45%" class="dropdown-content">
        <div id="grid-table-container" class="table-responsive">
          <h4>Gap Analysis - Visits vs. Claims</h4>
          <table matSort class="table table-bordered table-hover">
            <tbody>
              <tr *ngFor="let user of dataSource1; let i = index;let last = last">
                <td [ngStyle]="{
                    'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9'
                  }">
                  {{ user.workList }}
                </td>
                <td [ngStyle]="{
                  'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9',
                  'color': last ? 'black' : 'blue'
                }" [routerLink]="last ? null : ['/rcm-login/referrals']" [style.cursor]="last ? 'default' : 'pointer'">
                {{ user.volume }}
              </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    
      <div *ngIf="showTable2" @slideIn style="margin-left: 64%" class="dropdown-content">
        <div id="grid-table-container" class="table-responsive">
          <h4>Gap Analysis - Claims vs. Paid</h4>
          <table matSort class="table table-bordered table-hover">
            <tbody>
              <tr *ngFor="let user of dataSource2; let i = index;let last = last">
                <td [ngStyle]="{
                    'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9'
                  }">
                  {{ user.workList }}
                </td>
                <td [ngStyle]="{
                  'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9',
                  'color': last ? 'black' : 'blue'
                }" [routerLink]="last ? null : ['/rcm-login/referrals']" [style.cursor]="last ? 'default' : 'pointer'">
                {{ user.volume }}
              </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


    <router-outlet></router-outlet>
</div>