<div class="col-sm-10" style="margin-top:-39px">
    <button mat-raised-button class="pull-right" style="background-color: black; color: white; margin-right: 30px">
        <mat-icon>get_app</mat-icon> Download CSV
    </button>

    <!-- <button mat-raised-button class="pull-right" style="background-color: black; color: white; margin-right: 8px">
        <mat-icon>get_app</mat-icon> Download Template
    </button>
    <button mat-raised-button class="pull-right" style="background-color: black; color: white; margin-right: 8px ">
        <mat-icon>backup</mat-icon> Upload CSV
    </button> -->
</div>

<div class="col-sm-12 mt-4">
    <div class="col-sm-10" style="margin-left: -15px;">
        <div id="grid-table-container" class="table-responsive">
            <table matSort class="table table-bordered table-hover">
                <thead class="tbl-head1" style="background-color: rgb(58, 53, 53); color: white;">
                    <tr>
                        <th style="white-space: nowrap;" class="text-center">Batch Code</th>
                        <th style="white-space: nowrap;" class="text-center">Submission Date</th>
                        <th style="white-space: nowrap;" class="text-center">Requested Funds</th>
                        <th style="white-space: nowrap;" class="text-center">Invoice Count</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of records">
                        <td class="text-center">{{ item.batchCode }}</td>
                        <td class="text-center">{{ item.submissionDate }}</td>
                        <td class="text-center">{{ item.requestedFunds | currency }}</td>
                        <td class="text-center" style="color: blue; cursor: pointer;"
                            [routerLink]="['/partner-login/requests']">{{ item.invoiceCount }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>