<div fxLayout="row wrap" class="mt-5">
    <div fxFlex="90" class="p-2" style="width: 80%; max-width: 80% !important">
        <mat-card class="p-0 chat" style="margin-left: -5px;">
            <mat-sidenav-container>
                <div class="d-flex">
                    <mat-card class="chat-actions">
                        <div fxLayout="row" fxLayoutAlign="space-between start">

                            <!-- Select Tags -->
                            <mat-form-field class="w-20" style="margin-right:10px">
                                <mat-label>Select Tag</mat-label>
                                <mat-select placeholder="Select a tag" multiple [(ngModel)]="selectedTags">
                                    <mat-option value="emergency">Emergency</mat-option>
                                    <mat-option value="expedite">Expedite</mat-option>
                                    <mat-option value="delayed">Delayed</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <!-- Input field for text message -->
                            <mat-form-field class="w-100">
                                <input matInput placeholder="Enter your text..." [(ngModel)]="message">
                            </mat-form-field>

                            <!-- Buttons for attachment and send -->
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <button mat-icon-button type="button" class="mx-2" (click)="openfileupload(null)">
                                    <mat-icon>attach_file</mat-icon>
                                </button>
                                <button mat-mini-fab color="primary" type="button" (click)="addMessage()">
                                    <mat-icon>send</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-card>

                    <!-- Filter & Sort Buttons -->
                    <div class="w-100 row">
                        <button mat-raised-button style="background-color: black; color: white; float: right;"
                            class="margin-right-10 mt-3">
                            <mat-icon class="mat-margin-top">filter_list</mat-icon> Filter
                        </button>

                        <button mat-raised-button style="background-color: black; color: white; float: right;"
                            class="margin-right-10 mt-3">
                            <mat-icon class="mat-margin-top">sort</mat-icon> Sort
                        </button>
                    </div>

                    <!-- Chat Messages Table -->
                    <div class="w-100 mt-4">
                        <div id="grid-table-container" class="table-responsive">
                            <div style="max-height: 400px; overflow-y: auto; border: 1px solid #ddd;">
                                <table mat-table [dataSource]="chatMessages" class="table table-bordered">

                                    <!-- Date Column -->
                                    <ng-container matColumnDef="date">
                                        <th mat-header-cell *matHeaderCellDef class="sticky-header"
                                            style="width: 13%; background-color: gray;">Date</th>
                                        <td mat-cell *matCellDef="let msg"><strong>{{ msg.date | date:'dd MMM yyyy ;
                                                HH:mm' }}</strong>
                                        </td>
                                    </ng-container>

                                    <!-- Posted By Column -->
                                    <ng-container matColumnDef="postedBy">
                                        <th mat-header-cell *matHeaderCellDef class="sticky-header"
                                            style="width: 10%; background-color: gray;">Posted By</th>
                                        <td mat-cell *matCellDef="let msg"><strong>{{ msg.postedBy }}</strong></td>
                                    </ng-container>

                                    <!-- Message Column -->
                                    <ng-container matColumnDef="message">
                                        <th mat-header-cell *matHeaderCellDef class="sticky-header"
                                            style="width: 40%; background-color: gray;">Message</th>
                                        <td mat-cell *matCellDef="let msg" class="word-wrap"
                                            style="width: 30%; word-break: break-word;">
                                            {{ msg.message }}
                                        </td>
                                    </ng-container>

                                    <!-- Context Column -->
                                    <ng-container matColumnDef="context">
                                        <th mat-header-cell *matHeaderCellDef class="sticky-header"
                                            style="width: 13%; background-color: gray;">Context</th>
                                        <td mat-cell *matCellDef="let msg"> {{ msg.context }} </td>
                                    </ng-container>

                                    <!-- Tags Column -->
                                    <ng-container matColumnDef="tags">
                                        <th mat-header-cell *matHeaderCellDef class="sticky-header"
                                            style="width: 13%; background-color: gray;">Tags</th>
                                        <td mat-cell *matCellDef="let msg">
                                            <div style="display: flex; flex-wrap: wrap; gap: 5px;">

                                                <button *ngFor="let tag of msg.tags" mat-raised-button type="button"
                                                    class="mb-1 tag-button" [ngStyle]="{'background-color': tag === 'emergency' ? 'red' : (tag === 'expedite' ? 'green' : '#b1ca40'), 
                                                    'color': 'white'}">
                                                    {{ tag }}
                                                </button>
                                            </div>
                                        </td>
                                    </ng-container>

                                    <!-- Header and Row Definitions -->
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </mat-sidenav-container>
        </mat-card>
    </div>
</div>