<div class="container-fluid" style="margin-bottom: 10px; padding-right: 25px;">
    <div class="w-100">
        <div class="row" style="display: flex; justify-content: flex-end; align-items: center">
            <!-- Filter Button -->
            <button mat-raised-button style="background-color: black; color: white"
                class="pull-right filter-hover margin-right-10 center-icon" (click)="filterToggle = !filterToggle">
                <mat-icon class="mt-2">filter_list</mat-icon>
            </button>

            <!-- Grid Columns Button -->
            <!-- <button mat-raised-button style="background-color: #37474f; color: white"
                class="filters-hover margin-right-10">
                <mat-icon>grid_on</mat-icon> Grid Columns
            </button> -->

            <!-- Download CSV Button -->
            <button mat-raised-button style="background-color: black; color: white; margin-right: 8px">
                <mat-icon>get_app</mat-icon> Download CSV
            </button>

            <button mat-raised-button style="background-color: black; color: white; margin-right: 8px">
                <mat-icon>get_app</mat-icon> Download Template
            </button>
            <!-- Upload CSV Button -->
            <button mat-raised-button style="background-color: black; color: white; margin-right: 8px">
                <mat-icon>backup</mat-icon> Upload CSV
            </button>

            <!-- Add Account Button -->
            <button mat-raised-button color="primary" class="btn-primary margin-right-5"
                (click)="openEditDialog(null);">
                <mat-icon class="mat-margin-top">add</mat-icon> Add Location
            </button>
        </div>
    </div>
</div>



<div fxLayout="row wrap" *ngIf="filterToggle" style="
                      margin-bottom: 10px;
                      flex-flow: wrap;
                      box-sizing: border-box;
                      display: flex;
                    ">
    <div fxFlex="100" class="flex-p w-100 mt-3">
        <form>
            <!-- [formGroup]="filterForm" -->
            <mat-card class="filter">
                <mat-card-content>
                    <div class="row col-sm-12">
                        <div class="col-sm-4 row">
                            <div class="col-sm-3" style="margin-top: 6px">
                                <b>Keyword:</b>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" placeholder="Search by Keyword" class="form-control" />
                            </div>
                        </div>

                        <div class="col-sm-4 row">
                            <div class="col-sm-2" style="margin-top: 6px">
                                <b>State:</b>
                            </div>
                            <div class="col-sm-10">
                                <mat-select placeholder="--Select State--" class="form-control" multiple
                                    [(value)]="selectedEventType3">
                                    <mat-select-trigger>
                                        {{ selectedEventType3 || "--Select State--" }}
                                    </mat-select-trigger>
                                    <mat-form-field *ngIf="eventTypes3.length > 1" appearance="fill"
                                        style="width: 100%">
                                        <input matInput (input)="applyFilter3($event)" placeholder="Search" />
                                    </mat-form-field>
                                    <mat-option *ngFor="let event of filteredEventTypes3" [value]="event">
                                        {{ event }}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>
                        <div class="col-sm-4 row">
                            <div class="col-sm-2" style="margin-top: 6px">
                                <b>City:</b>
                            </div>
                            <div class="col-sm-10">
                                <mat-select placeholder="--Select City--" class="form-control" multiple
                                    [(value)]="selectedEventType">
                                    <mat-select-trigger>
                                        {{ selectedEventType || "--Select City--" }}
                                    </mat-select-trigger>
                                    <mat-form-field *ngIf="eventTypes.length > 1" appearance="fill" style="width: 100%">
                                        <input matInput (input)="applyFilter($event)" placeholder="Search" />
                                    </mat-form-field>
                                    <mat-option *ngFor="let event of filteredEventTypes" [value]="event">
                                        {{ event }}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
                    </div>
                    <div class="row col-sm-12" style="margin-top: 10px">

                        <div class="col-sm-4 row">
                            <div class="col-sm-3" style="margin-top: 6px">
                                <b style="white-space: nowrap">Zip Code:</b>
                            </div>
                            <div class="col-sm-9">
                                <mat-select class="form-control bac" placeholder="Select Type">
                                    <mat-option [value]="'New York'">Clinic</mat-option>
                                    <mat-option [value]="'Los Angeles'">Hospital</mat-option>
                                    <mat-option [value]="'Chicago'">Nursing Home</mat-option>
                                    <mat-option [value]="'Houston'">Others</mat-option>
                                </mat-select>
                            </div>
                        </div>

                        <div class="col-sm-4 row">
                            <div class="col-sm-2" style="margin-top: 6px">
                                <b>Status:</b>
                            </div>
                            <div class="col-sm-10">
                                <mat-select placeholder="--Select Marital Status--" class="form-control">
                                    <mat-option [value]="'Active'">Active</mat-option>
                                    <mat-option [value]="'Inactive'">Inactive</mat-option>
                                </mat-select>
                            </div>
                        </div>

                        <div class="col-sm-4 row pull-right" style="margin-right: 75px">
                            <a (click)="filterToggle = !filterToggle" class="pull-right"
                                style="font-size: 25px; cursor: pointer; margin-left: 5px">
                                <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                            </a>
                            <button mat-raised-button color="primary" class="pull-right"
                                style="background-color: #007bff !important; color: white">
                                Search
                            </button>

                            <button mat-raised-button class="pull-right btn-default margin-right-10">
                                Clear
                            </button>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
                    </div>
                </mat-card-content>
            </mat-card>
        </form>
    </div>
</div>
<!-- Table -->
<div class="col-sm-12">
    <div id="grid-table-container" class="table-responsive">
        <table matSort class="table table-bordered table-hover">
            <thead class="tbl-head1" style="background-color: rgb(58, 53, 53); color: white;">
                <tr>
                    <th class="text-center">Actions</th>
                    <th style="white-space: nowrap;">Location Name</th>
                    <th style="white-space: nowrap;" class="text-center">Location ID</th>
                    <th>Paitents</th>
                    <th>Referrals</th>
                    <th>Visits</th>
                    <th>Cases</th>
                    <th>Claims</th>
                    <th>Providers</th>
                    <!-- <th style="white-space: nowrap;">Referral From</th> -->
                    <th style="white-space: nowrap;">Type</th>
                    <th>City</th>
                    <th>State</th>
                    <th class="text-center">Zip</th>
                    <th class="text-center">Phone</th>
                    <th>Email</th>
                    <th>Fax</th>
                    <th class="text-center">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let applicant of users">
                    <td style="white-space: nowrap;" class="text-center">
                        <a matTooltip="Edit Record" (click)="openEditDialog(applicant.id)"
                            class="fa fa-edit action-btn edit-btn" style="margin-right: 10px;">
                        </a>
                        <a matTooltip="Delete Record" class="fa fa-trash action-btn delete-btn">
                        </a>
                    </td>
                    <td style="white-space: nowrap;">{{ applicant.locationName }}</td>
                    <td style="white-space: nowrap; color: cornflowerblue; cursor: pointer"
                        [routerLink]="['/rcm-login/location-dashboard']" class="text-center">78548962
                    </td>
                    <td class="text-center" (click)="openPatients()">
                        <a style="cursor: pointer">
                            {{ applicant.paitents }}
                        </a>
                    </td>
                    <td class="text-center" style="cursor: pointer" [routerLink]="['/rcm-login/inner-referrals']">
                        <a style="cursor: pointer">
                            {{ applicant.referrals }}
                        </a>
                    </td>
                    <td class="text-center" style="cursor: pointer" [routerLink]="['/rcm-login/inner-visits']">
                        <a style="cursor: pointer">
                            {{ applicant.visits }}
                        </a>
                    </td>
                    <td class="text-center" style="cursor: pointer" [routerLink]="['/rcm-login/inner-cases']">
                        <a style="cursor: pointer">
                            {{ applicant.referrals }}
                        </a>
                    </td>
                    <td class="text-center" style="cursor: pointer" [routerLink]="['/rcm-login/inner-claims']">
                        <a style="cursor: pointer">
                            {{ applicant.referrals }}
                        </a>
                    </td>
                    <td class="text-center" style="cursor: pointer" [routerLink]="['/rcm-login/inner-providers']">
                        <a style="cursor: pointer">
                            {{ applicant.visits }}
                        </a>
                    </td>
                    <!-- <td style="white-space: nowrap;">{{ applicant.referralsFrom }}</td> -->
                    <td style="white-space: nowrap;">{{ applicant.type }}</td>
                    <td style="white-space: nowrap;">{{ applicant.city }}</td>
                    <td style="white-space: nowrap;">{{ applicant.state }}</td>
                    <td class="text-center">{{ applicant.zip }}</td>
                    <td style="white-space: nowrap;" class="text-center">{{ applicant.phone }}</td>
                    <td style="white-space: nowrap;">{{ applicant.email }}</td>
                    <td style="white-space: nowrap;">{{ applicant.fax }}</td>
                    <td class="text-center" style="text-align: center !important;">
                        <a [ngStyle]="{'color':  applicant.isActive? 'blue' : 'red','cursor':'pointer'}">
                            <span *ngIf="!applicant.isActive" style="color:red">Inactive</span>
                            <span *ngIf=" applicant.isActive">Active</span>
                        </a>
                    </td>
                    <!-- <td style="white-space: nowrap;" class="text-center">
                        <mat-select class="form-control" placeholder="Select Status">
                            <mat-option [value]="'Scheduled'">Scheduled</mat-option>
                            <mat-option [value]="'Completed'">Completed</mat-option>
                            <mat-option [value]="'Pending'">Pending</mat-option>
                            <mat-option [value]="'No Show'">No Show</mat-option>
                        </mat-select>
                    </td> -->
                </tr>
            </tbody>
        </table>
        <button class="mine" mat-fab (click)="scrollGrid('right')">
            <mat-icon style="color: #37474f">fast_forward</mat-icon>
        </button>
        <button class="mine" mat-fab style="margin-right: 78px !important" (click)="scrollGrid('left')">
            <mat-icon style="color: #37474f">fast_rewind</mat-icon>
        </button>
        <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSizeOptions]="[5, 10, 25, 50, 100]"
            showFirstLastButtons></mat-paginator>
    </div>
</div>