<div class="col-sm-6 mt-4" style="margin-left: -20px;">

    <button mat-raised-button mat-button [matMenuTriggerFor]="sortMenu" style="background-color: #37474f; color: white" class="filters-hover margin-right-10">
        <span (click)="toggleSort($event)" class="icon-text">
          <mat-icon style="margin-top: 0px; margin-bottom: -6px;">
            {{ isAscending ? 'arrow_drop_up' : 'arrow_drop_down' }}
          </mat-icon>
        </span>
        <span class="icon-text">SORT</span>
      </button>
      
      <!-- Dropdown Menu -->
      <mat-menu #sortMenu="matMenu">
        <div class="scrollable-menu">
          <button mat-menu-item (click)="onSortOptionSelected('Batch Code')">Batch Code</button>
          <button mat-menu-item (click)="onSortOptionSelected('Submission Date')">Submission Date</button>
          <button mat-menu-item (click)="onSortOptionSelected('Requested Funds')">Requested Funds</button>
          <button mat-menu-item (click)="onSortOptionSelected('Invoice Count')">Invoice Count</button>
         
        </div>
      </mat-menu>

    <!-- Download CSV Button -->
    <button mat-raised-button style="background-color: black; color: white; margin-right: 8px">
        <mat-icon>get_app</mat-icon> Download CSV
    </button>

    <button mat-raised-button  style="background-color: black; color: white; margin-right: 8px">
        <mat-icon>get_app</mat-icon> 
    </button>

    <!-- Upload CSV Button -->
    <button mat-raised-button style="background-color: black; color: white;">
        <mat-icon>backup</mat-icon> Upload CSV
    </button>
</div>

<div class="col-sm-12" style="margin-left: -15px;">
    <div class="col-sm-2 mt-2" style="margin-left: -5px;">
        <button *ngFor="let button of buttons; let i = index" class="left-align-btn"
            [class.active]="selectedButton === i" mat-raised-button (click)="selectButton(i)">
            {{ button }}
        </button>
    </div>


    <div class="col-sm-8 mt-3" style="margin-left: 80px;">
        <div id="grid-table-container" class="table-responsive">
            <table matSort class="table table-bordered table-hover">
                <thead class="tbl-head1" style="background-color: rgb(58, 53, 53); color: white;">
                    <tr>
                        <th style="white-space: nowrap;" class="text-center">Batch Code</th>
                        <th style="white-space: nowrap;" class="text-center">Submission Date</th>
                        <th style="white-space: nowrap;" class="text-center">Requested Funds</th>
                        <th style="white-space: nowrap;" class="text-center">Invoice Count</th>
                        <th style="white-space: nowrap;" class="text-center">Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of records">
                        <td class="text-center">{{ item.batchCode }}</td>
                        <td class="text-center">{{ item.submissionDate }}</td>
                        <td class="text-center">{{ item.requestedFunds | currency }}</td>
                        <td class="text-center" [routerLink]="['/rcm-login/funds/payments/inner-invoice']"
                            style="color: blue; cursor: pointer;">
                            {{item.invoiceCount }}
                        </td>
                        <td class="text-center" (click)="notesDialog(null);" style="color: blue; cursor: pointer;">
                            <mat-icon>info</mat-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>