.nav-container {
    padding: 20px;
    width: 14%;
    position: fixed;
    right: 0;
    top: 56px;
    height: 100vh;
    overflow-y: auto;
    background-color: #f0f0f0;
}

.nav-links ul {
    font-size: 17px;
    padding-top: 18px;
    list-style-type: none;
    margin: 0;
}

.nav-links li {
    margin: 10px 0;
    cursor: pointer;
    color: black;
}

.nav-links li.active {
    color: green !important;
    font-weight: bold;
    font-size: 20px;
    // border-bottom: 2px solid green;
    // /* Add blue line at the bottom */
    // padding-bottom: 5px;
}

.nav-links li:hover {
    color: grey;
}

.nav-links li.router-link-active {
    color: blue !important;
}