<div class="nav-container" [ngClass]="{'nav-open': isNavOpen, 'nav-closed': !isNavOpen}">
    <!-- Toggle Button with Hamburger Icon -->
    <!-- <button (click)="toggleNav()" class="toggle-button">
        <mat-icon>menu</mat-icon>
    </button> -->

    <button (click)="toggleNav()" class="toggle-button">
        <mat-icon class="toggle-icon">menu</mat-icon>
    </button>

    <nav class="nav-links">
        <ul>
            <li routerLinkActive="active" [routerLink]="['staff-users']">
                <a style="margin-top: 10px;">
                    <mat-icon *ngIf="!isNavOpen" matTooltip="Staff Users">person</mat-icon>
                    <span *ngIf="isNavOpen">Staff Users</span>
                </a>
            </li>
            <!-- <li routerLinkActive="active" [routerLink]="['case-mangers']">
                <a style="margin-top: 10px;">
                    <mat-icon *ngIf="!isNavOpen" matTooltip="Case Managers">group</mat-icon>
                    <span *ngIf="isNavOpen">Case Managers</span>
                </a>
            </li> -->

            <li routerLinkActive="active" [routerLink]="['tagmaster']">
                <a style="margin-top: 10px;">
                    <mat-icon *ngIf="!isNavOpen" matTooltip="Tag Master">person</mat-icon>
                    <span *ngIf="isNavOpen">Tag Master</span>
                </a>
            </li>


            <li routerLinkActive="active" [routerLink]="['doc-types']">
                <a style="margin-top: 10px;">
                    <mat-icon *ngIf="!isNavOpen" matTooltip="Doc Type">library_books</mat-icon>
                    <span *ngIf="isNavOpen">Doc Types</span>
                </a>
            </li>
            <!-- <li routerLinkActive="active" [routerLink]="['law-firm']">
                <a style="margin-top: 10px;">
                    <mat-icon *ngIf="!isNavOpen" matTooltip="Law Firms">business</mat-icon>
                    <span *ngIf="isNavOpen">Law Firms</span>
                </a>
            </li>
            <li routerLinkActive="active" [routerLink]="['location']">
                <a style="margin-top: 10px;">
                    <mat-icon *ngIf="!isNavOpen" matTooltip="Locations">place</mat-icon>
                    <span *ngIf="isNavOpen">Locations</span>
                </a>
            </li>
            <li routerLinkActive="active" [routerLink]="['providers']">
                <a style="margin-top: 10px;">
                    <mat-icon *ngIf="!isNavOpen" matTooltip="Providers">card_travel</mat-icon>
                    <span *ngIf="isNavOpen">Providers</span>
                </a>
            </li>
            <li routerLinkActive="active" [routerLink]="['funding-partner']">
                <a style="margin-top: 10px;">
                    <mat-icon *ngIf="!isNavOpen" matTooltip="Landers">attach_money</mat-icon>
                    <span *ngIf="isNavOpen">Lenders</span>
                </a>
            </li> -->
            <li routerLinkActive="active" [routerLink]="['funding-contract']">
                <a style="margin-top: 10px;">
                    <mat-icon *ngIf="!isNavOpen" matTooltip="Contracts">receipt</mat-icon>
                    <span *ngIf="isNavOpen">Contracts</span>
                </a>
            </li>
            <li routerLinkActive="active" [routerLink]="['preferences']">
                <a style="margin-top: 10px;">
                    <mat-icon *ngIf="!isNavOpen" matTooltip="Preferences">settings</mat-icon>
                    <span *ngIf="isNavOpen">Preferences</span>
                </a>
            </li>
            <li routerLinkActive="active" [routerLink]="['integrations']">
                <a style="margin-top: 10px;">
                    <mat-icon *ngIf="!isNavOpen" matTooltip="Integrations">integration_instructions</mat-icon>
                    <span *ngIf="isNavOpen">Integrations</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<div [ngClass]="{'full-width': !isNavOpen}" class="col-sm-10">
    <router-outlet></router-outlet>
</div>