<div class="col-sm-4" style="margin-left: -10px; margin-bottom: 10px;">
    <div class="pills">
        <ul class="nav nav-pills" style="margin-left: 10px;">
            <li routerLinkActive="active" [routerLink]="['grid-view']">
                <a mat-raised-button>
                    Grid View
                </a>
            </li>
            <li routerLinkActive="active" [routerLink]="['calender-view']">
                <a mat-raised-button>
                    Calender View
                </a>
            </li>
        </ul>
    </div>
</div>

<router-outlet></router-outlet>