<h1 style="background-color: rgb(73, 128, 150); color: white; text-align: center;" mat-dialog-title>Payment Distribution
</h1>
<div class="col-sm-12 mt-5">
    <div id="grid-table-container" class="table-responsive">
        <table matSort class="table table-bordered table-hover">
            <thead class="tbl-head1" style="background-color: rgb(58, 53, 53); color: white">
                <tr>
                    <th class="text-center">Payment Date</th>
                    <th class="text-center">Payment Type</th>
                    <th class="text-center">Payment Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td class="text-center">{{user.transactionDate}}</td>
                    <td class="text-center">{{user.paymentType}}</td>
                    <td class="text-center">{{user.paymentAmount | currency}}</td>
                </tr>
                <tr>
                    <th class="text-center" colspan="2"> <b>Total</b> </th>
                    <td class="text-center" colspan="3"> <b>$440</b> </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<mat-dialog-actions align="end">
    <div style="margin-right: 10px; margin-bottom: 15px;">
        <button mat-raised-button style="background-color: lightgray; color: red;" class="add-dark-hover btn-default"
            (click)="close()"><mat-icon>cancel</mat-icon>Close
        </button>
    </div>
</mat-dialog-actions>