.user-form {
    .form-field-outer {
        width: 280px;
    }

    .mat-radio-button {
        margin-right: 12px;
    }
}

.mat-radio-label-content {
    display: inline-block;
    order: 0;
    line-height: inherit;
    padding-left: 8px;
    padding-right: 0;
    padding-top: 5px;
}

.disable-custom-drp {
    pointer-events: none !important;
    filter: grayscale(1) !important;
    background-color: #80808036 !important;
    cursor: not-allowed !important;
}

.cursor-notallowed {
    cursor: not-allowed;
}