
<div style="display: flex; align-items: center; margin-top: -4.5%">
    <!-- Image Container -->
    <div class="col-sm-2" style="margin-left: 14%;  cursor: pointer" (click)="toggleCard()">
      <img src="../../../../assets/rbg.png" class="top-left-image"
        style="width: 35px; height: 35px; margin-top: -18%; margin-left: 40px" />
    </div>


    <mat-card class="col-sm-10 pull-right" style="
        height: 35px;
        background-color: black;
        margin-top: -2.5%;
        margin-left: -30px;
        margin-right: -10px;
      " *ngIf="showCard">
      <div fxLayout="row" fxLayoutAlign="start center"
        style="gap: 30px; padding: 0 10px; display: flex; align-items: center">
        <div style="display: flex; align-items: center; gap: 10px">
          <span style="color: white; line-height: 35px; gap: 30px">Referrals</span>
          <span style="
              color: white;
              line-height: 35px;
              gap: 30px;
              margin-right: 10px;
            ">120,000</span>
          <mat-icon style="
              cursor: pointer;
              margin-right: 10px;
              background-color: lightgray;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 35px;
              height: 35px;
              padding: 18px 15px 12px 15px;
            " (click)="toggleTable('table')">
            {{ showTable ? "expand_less" : "add" }}
          </mat-icon>
        </div>

        <div style="display: flex; align-items: center; gap: 10px">
          <span style="color: white; line-height: 35px">Visits </span>
          <span style="
              color: white;
              line-height: 35px;
              gap: 30px;
              margin-right: 10px;
            ">105,991</span>
          <mat-icon style="
              cursor: pointer;
              margin-right: 10px;
              background-color: lightgray;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 35px;
              height: 35px;
              padding: 18px 15px 12px 15px;
            " (click)="toggleTable('table1')">
            {{ showTable1 ? "expand_less" : "add" }}
          </mat-icon>
        </div>
        <div style="display: flex; align-items: center; gap: 10px">
          <span style="color: white; line-height: 35px">Claims </span>
          <span style="
              color: white;
              line-height: 35px;
              gap: 30px;
              margin-right: 10px;
            ">65,001</span>
          <mat-icon style="
              cursor: pointer;
              margin-right: 10px;
              background-color: lightgray;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 35px;
              height: 35px;
              padding: 18px 15px 12px 15px;
            " (click)="toggleTable('table2')">
            {{ showTable2 ? "expand_less" : "add" }}
          </mat-icon>
        </div>
        <div style="display: flex; align-items: center; gap: 10px">
          <span style="color: white; line-height: 35px">Paid</span>
          <span style="
              color: white;
              line-height: 35px;
              gap: 30px;
              margin-right: 10px;
            ">45,962</span>
        </div>

        <div style="display: flex; align-items: center; gap: 7px">

          <mat-icon style="
              cursor: pointer;
              margin-right: 7px;
              background-color: lightgray;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 35px;
              height: 35px;
              padding: 18px 15px 12px 15px;
            "
            (click)="referralsFilter($event)"
            >
            filter_list
          </mat-icon>
        </div>

      </div>
    </mat-card>

  </div>


  <div *ngIf="showTable" @slideIn style="margin-left: 25.4%" class="dropdown-content">
    <div id="grid-table-container" class="table-responsive">
      <h4>Gap Analysis - Referral vs. Visits</h4>
      <table matSort class="table table-bordered table-hover">
        <tbody>
          <tr *ngFor="let user of dataSource; let i = index">
            <td [ngStyle]="{
                'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9'
              }">
              {{ user.workList }}
            </td>
            <td [ngStyle]="{
                'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9'
              }" style="color: blue; cursor: pointer" [routerLink]="['/rcm-login/referrals']">
              {{ user.volume }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="showTable1" @slideIn style="margin-left: 45%" class="dropdown-content">
    <div id="grid-table-container" class="table-responsive">
      <h4>Gap Analysis - Visits vs. Claims</h4>
      <table matSort class="table table-bordered table-hover">
        <tbody>
          <tr *ngFor="let user of dataSource1; let i = index">
            <td [ngStyle]="{
                'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9'
              }">
              {{ user.workList }}
            </td>
            <td [ngStyle]="{
                'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9'
              }" style="color: blue; cursor: pointer" [routerLink]="['/rcm-login/visits']">
              {{ user.volume }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="showTable2" @slideIn style="margin-left: 66%" class="dropdown-content">
    <div id="grid-table-container" class="table-responsive">
      <h4>Gap Analysis - Claims vs. Paid</h4>
      <table matSort class="table table-bordered table-hover">
        <tbody>
          <tr *ngFor="let user of dataSource2; let i = index">
            <td [ngStyle]="{
                'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9'
              }">
              {{ user.workList }}
            </td>
            <td [ngStyle]="{
                'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9'
              }" style="color: blue; cursor: pointer" [routerLink]="['/rcm-login/claims']">
              {{ user.volume }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>







<!-- Perspective Mat-Icons -->
<div class="col-sm-12 mb-3">
    <div class="col-sm-5"></div>
    <div class="col-sm-3" style="text-align: right;">
        <p *ngIf="selectedIcon !== null" class="mt-2 tooltipName">
            <span style="color: #A6A6A6; font-size: 19px;">{{ icons[selectedIcon].tooltip }}</span>
        </p>
    </div>
    <div class="col-sm-4">
        <mat-card
            style="background-color: rgb(230, 228, 228); height: 35px; display: flex; justify-content: center; align-items: center;">
            <div style="display: flex; justify-content: center; align-items: center; cursor: pointer;">
                <mat-icon *ngFor="let icon of icons; let i = index" matTooltip="{{ icon.tooltip }}"
                    class="animated-icon1" [ngStyle]="{
              'background-color': selectedIcon === i ? 'yellow' : 'transparent',
              'padding': selectedIcon === i ? '15px 15px 12px 15px' : '0px',
              'border-radius': '6px',
              'border': selectedIcon === i ? '2px solid orange' : 'none',
              'display': 'flex',
              'justify-content': 'center',
              'align-items': 'center',
              'width': '40px',
              'height': '40px'
            }" (click)="selectIcon(i)">
                    {{ icon.name }}
                </mat-icon>
                <mat-icon style="background-color: white;" (click)="perspectives();" matTooltip="Perspectives"
                    class="animated-icon1">settings
                </mat-icon>
                <mat-icon (click)="perspectiveFilter($event)" matTooltip="Filter" class="animated-icon1">
                    filter_list
                </mat-icon>
            </div>
        </mat-card>
    </div>
</div>



<div class="container-fluid" style="margin-bottom: 10px; padding-right: 25px;">
    <div class="w-100">
        <div class="row" style="display: flex; justify-content: flex-end; align-items: center">
            <!-- Filter Button -->
            <button mat-raised-button style="background-color: #37474f; color: white"
                class="filters-hover margin-right-10" (click)="filterToggle = !filterToggle">
                <mat-icon class="mat-margin-top">filter_list</mat-icon> Filter
            </button>

            <!-- Grid Columns Button -->
            <button mat-raised-button style="background-color: #37474f; color: white"
                class="filters-hover margin-right-10">
                <mat-icon>grid_on</mat-icon> Grid Columns
            </button>

            <!-- Download CSV Button -->
            <button mat-raised-button style="background-color: black; color: white; margin-right: 8px">
                <mat-icon>get_app</mat-icon> Download CSV
            </button>

            <!-- Upload CSV Button -->
            <!-- <button mat-raised-button style="background-color: black; color: white; margin-right: 8px">
                <mat-icon>backup</mat-icon> Upload CSV
            </button> -->

            <!-- Add Account Button -->
            <!-- <button mat-raised-button color="primary" class="btn-primary margin-right-5"
                (click)="openEditDialog(null);">
                <mat-icon class="mat-margin-top">add</mat-icon> Add Invoice
            </button> -->
        </div>
    </div>
</div>

<!-- Filter UI -->
<div fxLayout="row wrap" *ngIf="filterToggle" style="margin-bottom: 10px" class="col-sm-12">
    <div fxFlex="100" class="flex-p w-100">
      <form>
        <!-- [formGroup]="filterForm" -->
        <mat-card class="filter">
          <mat-card-content>
            <div class="row pl-4">
      
              <div class="col-sm-4">
                <div class="row">
                  <div class="col-sm-4">
                    <b>Keyword:</b>
                  </div>
                  <div class="col-sm-7">
                    <input type="text" placeholder="Search by Keyword" class="form-control">
                    <!-- formControlName="keyword" -->
                  </div>
                </div>
              </div>
      
      
              <div class="col-sm-4">
                <div class="row">
                  <div class="col-sm-4">
                    <b>Patient :</b>
                  </div>
                  <div class="col-sm-7">
                    <mat-select placeholder="--Select Patient --" [(value)]="selectedPatientType" class="form-control"
                      multiple>
      
                      <mat-select-trigger>
                        {{selectedPatientType || '--Select Patient--'}}
                      </mat-select-trigger>
                      <mat-form-field *ngIf="eventTypes.length > 1" appearance="fill" style="width: 100%;">
                        <input matInput (input)="applyFilter($event)" placeholder="Search">
                      </mat-form-field>
                      <mat-option *ngFor="let event of filteredPatientTypes" [value]="event">
                        {{event}}
                      </mat-option>
                    </mat-select>
                  </div>
                </div>
              </div>
      
      
      
      
              <div class="col-sm-4">
                <div class="row">
                  <div class="col-sm-4">
                    <b>Law Firm:</b>
                  </div>
                  <div class="col-sm-7">
                    <mat-select placeholder="--Select Law Firm--" [(value)]="selectLawFirmType" class="form-control" multiple>
      
                      <mat-select-trigger>
                        {{selectLawFirmType || '--Select City--'}}
                      </mat-select-trigger>
                      <mat-form-field *ngIf="eventLawFirmTypes.length > 1" appearance="fill" style="width: 100%;">
                        <input matInput (input)="applyFilter1($event)" placeholder="Search">
                      </mat-form-field>
                      <mat-option *ngFor="let event of filteredLawFirmType" [value]="event">
                        {{event}}
                      </mat-option>
                    </mat-select>
                  </div>
                </div>
              </div>
      
      
      
      
            </div>
      
      
            <div class="row pt-4 pl-4">
      
              <div class="col-sm-4">
                <div class="row">
                  <div class="col-sm-4">
                    <b>Case Type:</b>
                  </div>
                  <div class="col-sm-7">
                    <mat-select [(value)]="selectedCaseType" placeholder="--Select Case Type--" class="form-control">
                      <mat-option [value]="'Sub Acute'">Sub Acute</mat-option>
                      <mat-option [value]="'Insurance'">Insurance</mat-option>
                      <mat-option [value]="'Worker Comp'">Worker Comp</mat-option>
                      <mat-option [value]="'Self Pay'">Self Pay</mat-option>
                    </mat-select>
                  </div>
                </div>
              </div>
      
      
              <div class="col-sm-4">
                <div class="row">
                  <div class="col-sm-4">
                    <b>Category:</b>
                  </div>
                  <div class="col-sm-7">
                    <mat-select [(value)]="selectedCategoryType" placeholder="--Select Category--" class="form-control">
                      <mat-option [value]="'Personal Injury'">Personal Injury</mat-option>
                      <mat-option [value]="'Family Law'">Family Law</mat-option>
                      <mat-option [value]="'Criminal Defense'">Criminal Defense</mat-option>
                      <mat-option [value]="'Contract Disputes'">Contract Disputes</mat-option>
                      <mat-option [value]="'Property Disputes'">Property Disputes</mat-option>
                      <mat-option [value]="'Intellectual Property'">Intellectual Property</mat-option>
                      <mat-option [value]="'Employment Law'">Employment Law</mat-option>
                      <mat-option [value]="'Immigration Cases'">Immigration Cases</mat-option>
                    </mat-select>
                  </div>
                </div>
              </div>
      
              <div class="col-sm-4">
                <div class="row">
                  <div class="col-sm-4">
                    <b>Order Type:</b>
                  </div>
                  <div class="col-sm-7">
                    <mat-select [(value)]="selectedOrderType" placeholder="--Select Order Type--" class="form-control">
                      <mat-option [value]="'Personal Injury'">Clinical</mat-option>
                      <mat-option [value]="'Family Law'">Legal</mat-option>
                      <mat-option [value]="'Criminal Defense'">Insurance</mat-option>
                      <mat-option [value]="'Contract Disputes'">Clinical</mat-option>
                      <mat-option [value]="'Property Disputes'">Medical</mat-option>
                    </mat-select>
                  </div>
                </div>
              </div>
      
            </div>
      
      
            <div class="row pt-4 pl-4">
      
      
              <!-- raj -->
              <div class="col-sm-4">
                <div class="row">
                  <div class="col-sm-4">
                    <b>Date Type:</b>
                  </div>
                  <div class="col-sm-7">
                    <mat-select [(value)]="selectedDateType" placeholder="--Select Date Type--" class="form-control">
                      <mat-option [value]="'Date Created'">Date Created</mat-option>
                      <mat-option [value]="'Injury Date'"> Injury Date</mat-option>
                      <mat-option [value]="'Visit Date'"> Visit Date</mat-option>
                      <mat-option [value]="'Visit Date'">Invoice Date</mat-option>
                    </mat-select>
                  </div>
                </div>
              </div>
      
              <div class="col-sm-4">
                <div class="row">
                  <div class="col-sm-4">
                    <b>From Date:</b>
                  </div>
                  <div class="col-sm-7">
                    <input type="date" class="form-control" maxlength="100" minlength="2" onDrag="return false"
                      onDrop="return false" required>
                  </div>
                </div>
              </div>
      
      
      
              <div class="col-sm-4">
                <div class="row">
                  <div class="col-sm-4">
                    <b>To Date:</b>
                  </div>
                  <div class="col-sm-7">
                    <input type="date" class="form-control" maxlength="100" minlength="2" onDrag="return false"
                      onDrop="return false" required>
                  </div>
                </div>
              </div>
      
      
      
            </div>
      
            <div class="row pt-4 pl-4">
      
      
              <div class="col-sm-4">
                <div class="row">
                  <div class="col-sm-4">
                    <b>Referral From:</b>
                  </div>
                  <div class="col-sm-7">
                    <mat-select placeholder="--Select Referral From: --" [(value)]="selectedRefferalFrom" class="form-control"
                      multiple>
      
                      <mat-select-trigger>
                        {{selectedRefferalFrom || '--Select Patient--'}}
                      </mat-select-trigger>
                      <mat-form-field *ngIf="eventRefferalFrom.length > 1" appearance="fill" style="width: 100%;">
                        <input matInput (input)="applyFilter3($event)" placeholder="Search">
                      </mat-form-field>
                      <mat-option *ngFor="let event of filteredRefferalFrom" [value]="event">
                        {{event}}
                      </mat-option>
                    </mat-select>
                  </div>
                </div>
              </div>
      
      
              <div class="col-sm-4">
                <div class="row">
                  <div class="col-sm-4">
                    <b>Referral To:</b>
                  </div>
                  <div class="col-sm-7">
                    <mat-select placeholder="--Select Referral To: --" [(value)]="selectedRefferalTo" class="form-control"
                      multiple>
      
                      <mat-select-trigger>
                        {{selectedRefferalTo || '--Select Referral To--'}}
                      </mat-select-trigger>
                      <mat-form-field *ngIf="eventRefferalTo.length > 1" appearance="fill" style="width: 100%;">
                        <input matInput (input)="applyFilter4($event)" placeholder="Search">
                      </mat-form-field>
                      <mat-option *ngFor="let event of filteredRefferalTo" [value]="event">
                        {{event}}
                      </mat-option>
                    </mat-select>
                  </div>
                </div>
              </div>
      
      
              <div class="col-sm-4">
                <div class="row">
                  <div class="col-sm-4">
                    <b>Claim Status:</b>
                  </div>
                  <div class="col-sm-7">
                    <mat-select [(value)]="selectedVisitStatus" placeholder="--Select Visit Status --" class="form-control">
                      
                      <mat-option [value]="'Draft'">Draft</mat-option>
                      <mat-option [value]="'Submitted'">Submitted</mat-option>
                      <mat-option [value]="'Deposit'">Deposit</mat-option>
                      <mat-option [value]="'Settled'">Settled</mat-option>
                      <mat-option [value]="'Paid'">Paid</mat-option>
                    </mat-select>
                  </div>
                </div>
              </div>
      
            </div>
      
      
      
      
            <div class="row pt-4 pl-4">
      
              <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-4">
                        <b>Location:</b>
                    </div>
                    <div class="col-sm-7">
                        <mat-select [(value)]="selectedLocation" placeholder="--Select Location --"
                            class="form-control">
                            <mat-option [value]="'Florida'">Florida</mat-option>
                            <mat-option [value]="'Arizona'">Arizona</mat-option>
                            <mat-option [value]="'Georgia'">Georgia</mat-option>
                            <mat-option [value]="'Texas'">Texas</mat-option>
                            <mat-option [value]="'Delaware'">Delaware</mat-option>
                        </mat-select>
                    </div>
                </div>
            </div>
      
              <div class="col-sm-4">
                <div class="row">
                  <div class="col-sm-4">
                    <b>Visit Type :</b>
                  </div>
                  <div class="col-sm-7">
                    <mat-select [(value)]="selectedVisitType" placeholder="--Select Visit Type  --" class="form-control">
                      <mat-option [value]="'Clinical'">Clinical</mat-option>
                      <mat-option [value]="'Imaging'">Imaging</mat-option>
                    </mat-select>
                  </div>
                </div>
              </div>
      
      
      
              <div class="col-sm-4">
                <div class="row">
                  <div class="col-sm-9 offset-sm-3">
                    <a (click)="filterToggle = !filterToggle" matTooltip="Close" class="pull-right"
                      style="font-size: 20px; cursor: pointer; margin-left: 5px">
                      <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                    </a>
      
                    <i class="material-icons pull-right" matTooltip="Clear"
                      style="font-size: 25px; cursor: pointer; margin-left: 5px">
                      settings_backup_restore
                    </i>
      
                    <i class="fa fa-save pull-right" matTooltip="Save" (click)="saveFilters()" style="
                                      font-size: 20px;
                                      cursor: pointer;
                                      margin-left: 5px;
                                      color: green;
                                    " aria-hidden="true">
                    </i>
      
                    <i class="fa fa-search pull-right" matTooltip="Search" style="
                                      font-size: 20px;
                                      cursor: pointer;
                                      margin-left: 5px;
                                      color: blue;
                                    " aria-hidden="true">
                    </i>
                  </div>
                </div>
              </div>
            </div>

          </mat-card-content>
        </mat-card>
      </form>
    </div>
</div>


<!-- Table -->
<div class="col-sm-12">
    <div id="grid-table-container" class="table-responsive">
        <table matSort class="table table-bordered table-hover">
            <thead class="tbl-head1" style="background-color: rgb(58, 53, 53); color: white;">
                <tr>
                    <th class="text-center" style="white-space: nowrap;">Actions</th>
                    <th class="text-center" style="white-space: nowrap;">Invoice ID</th>
                    <th style="white-space: nowrap;">Case ID</th>
                    <th style="white-space: nowrap;">Claim ID</th>
                    <th style="white-space: nowrap;">Visit ID</th>
                    <th class="text-center" style="white-space: nowrap;">Referral ID</th>
                    <th class="text-center" style="white-space: nowrap;">Patient ID</th>
                    <th class="text-center" style="white-space: nowrap;">Location ID</th>
                    <th>Location Name</th>
                    <th style="white-space: nowrap;" class="text-center">Funding Partner</th>
                    <th class="text-center">Publish</th>
                    <th class="text-center">PDF</th>
                    <th class="text-center" style="white-space: nowrap;">Claim Amount</th>
                    <th class="text-center" style="white-space: nowrap;">Funding</th>
                    <th style="white-space: nowrap;">Patient Name</th>
                    <th class="text-center" style="white-space: nowrap;">Payback Date</th>
                    <th class="text-center" style="white-space: nowrap;">DoB</th>
                    <th class="text-center" style="white-space: nowrap;">DoS</th>
                    <th class="text-center" style="white-space: nowrap;">DoI</th>
                    <th class="text-center" style="white-space: nowrap;">MED</th>
                    <th class="text-center" style="white-space: nowrap;">AoB</th>
                    <th class="text-center" style="white-space: nowrap;">LoP</th>
                    <th style="white-space: nowrap;">Law Firm</th>
                    <th style="white-space: nowrap;">Provider</th>
                    <th style="white-space: nowrap;" class="text-center">Created Date</th>
                    <th style="white-space: nowrap;" class="text-center">Funded Date</th>
                    <th style="white-space: nowrap;" class="text-center">Remarks</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of users">
                    <td class="text-center" style="white-space: nowrap;">
                        <a matTooltip="Edit Record" (click)="openEditDialog(item)"
                            class="fa fa-edit action-btn edit-btn" style="margin-right: 10px;">
                        </a>
                        <a matTooltip="Delete Record" class="fa fa-trash action-btn delete-btn">
                        </a>
                    </td>
                    <td class="text-center">{{ item.invoiceId }}</td>
                    <td class="text-center">{{ item.caseId }}</td>
                    <td class="text-center">{{ item.claimId }}</td>
                    <td class="text-center" [routerLink]="['/rcm-login/visits-dashboard']"
                        style="color: cornflowerblue; cursor: pointer;">{{ item.invoiceId }}
                    </td>
                    <td class="text-center" [routerLink]="['/rcm-login/referrals-dashboard']"
                        style="color: cornflowerblue; cursor: pointer;">
                        {{ item.invoiceId }}
                    </td>
                    <td class="text-center" (click)="open(item);" style="color: cornflowerblue; cursor: pointer;">
                        {{item.caseId }}
                    </td>
                    <td class="text-center">{{ item.claimId }}</td>
                    <td style="white-space: nowrap;">{{ item.locationName }}</td>
                    <td class="text-center">
                        <mat-select [(value)]="item.fundingPartner" class="form-control" placeholder="Select Partner">
                            <mat-option [value]="'Partner A'">Medtronic Ventures</mat-option>
                            <mat-option [value]="'Partner B'">LHC Group</mat-option>
                            <mat-option [value]="'Partner C'">Centene Corporation</mat-option>
                        </mat-select>
                    </td>
                    <td class="text-center">
                        <mat-checkbox [(ngModel)]="item.publish"></mat-checkbox>
                    </td>
                    <td class="text-center" (click)="openfileupload(null)" style="color: blue; cursor: pointer;">
                        <mat-icon>file_copy</mat-icon>
                    </td>
                    <td class="text-center">{{ item.invoiceValue }}</td>
                    <td class="text-center">{{ item.fundsReceived }}</td>
                    <td>{{ item.patientName }}</td>
                    <td class="text-center" style="white-space: nowrap;">{{ item.dob | date: 'dd-MMM-yyyy' }}</td>
                    <td class="text-center" style="white-space: nowrap;">{{ item.dob | date: 'dd-MMM-yyyy' }}</td>
                    <td class="text-center" style="white-space: nowrap;">{{ item.dos | date: 'dd-MMM-yyyy' }}</td>
                    <td class="text-center" style="white-space: nowrap;">{{ item.doi | date: 'dd-MMM-yyyy' }}</td>
                    <td class="text-center" (click)="openfileupload(null)" style="color: blue; cursor: pointer;">
                        <mat-icon>file_copy</mat-icon>
                    </td>
                    <td class="text-center" (click)="openfileupload(null)" style="color: blue; cursor: pointer;">
                        <mat-icon>file_copy</mat-icon>
                    </td>
                    <td class="text-center" (click)="openfileupload(null)" style="color: blue; cursor: pointer;">
                        <mat-icon>file_copy</mat-icon>
                    </td>
                    <td style="white-space: nowrap;">{{ item.lawFirmBy }}</td>
                    <td style="white-space: nowrap;">{{ item.provider }}</td>
                    <td class="text-center">{{ item.createdDate | date: 'dd-MMM-yyyy' }}</td>
                    <td class="text-center">{{ item.fundedDate | date: 'dd-MMM-yyyy' }}</td>
                    <td class="text-center" style="color: blue; cursor: pointer;" (click)="notesDialog(item);">
                        <mat-icon>info</mat-icon>
                    </td>
                </tr>
            </tbody>
        </table>

        <button class="mine" mat-fab (click)="scrollGrid('right')">
            <mat-icon style="color: #37474f">fast_forward</mat-icon>
        </button>
        <button class="mine" mat-fab style="margin-right: 78px !important" (click)="scrollGrid('left')">
            <mat-icon style="color: #37474f">fast_rewind</mat-icon>
        </button>

        <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSizeOptions]="[5, 10, 25, 50, 100]"
            showFirstLastButtons></mat-paginator>
    </div>
</div>