<div
  class="col-sm-12"
  style="
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  "
>
  <div class="NewHeader">
    <h1 mat-dialog-title style="color: white">Grid View Configuration</h1>
  </div>
  <p style="margin-left: 50px">
    Please select the required columns in the grid, to view grid with specific
    columns
  </p>
  <div mat-dialog-content style="overflow: hidden !important">
    <form class="form-horizontal row" novalidate style="margin-top: 10px">
      <div class="col-sm-3" *ngFor="let role of roles; let i = index">
        <mat-checkbox class="primary">{{ role.role }}</mat-checkbox>
      </div>
    </form>
  </div>

  <mat-dialog-actions align="end">
    <div style="margin-right: 50px; margin-top: -20px">
      <button mat-raised-button class="btn-success" (click)="close()">
        Configure
      </button>
      <button
        mat-raised-button
        class="add-dark-hover btn-default"
        (click)="close()"
      >
        Cancel
      </button>
    </div>
  </mat-dialog-actions>
</div>
