<div class="container-fluid" style="margin-bottom: 10px; padding-right: 25px;">
    <div class="w-100">
        <div class="row" style="display: flex; justify-content: flex-end; align-items: center">
            <button mat-raised-button class="pull-right" (click)="back();"
                style="background-color: gray; color: white; margin-top: -20px; margin-right: 10px;">
                <mat-icon>arrow_back</mat-icon>Back
            </button>
        </div>
    </div>
</div>


<!-- Table -->
<div class="col-sm-12">
    <div id="grid-table-container" class="table-responsive">
        <table matSort class="table table-bordered table-hover">
            <thead class="tbl-head1" style="background-color: rgb(58, 53, 53); color: white;">
                <tr>
                    <!-- <th class="text-center" style="white-space: nowrap;">Actions</th> -->
                    <th class="text-center" style="white-space: nowrap;">Claims ID</th>
                    <th style="white-space: nowrap;">Patient ID</th>
                    <th style="white-space: nowrap;">Referral ID</th>
                    <th style="white-space: nowrap;">Visit ID</th>
                    <th style="white-space: nowrap;">Patient Name</th>
                    <th style="white-space: nowrap;" class="text-center">Claim Status</th>
                    <th class="text-center">Finance</th>
                    <th class="text-center">Estimate</th>
                    <th class="text-center">Deposit</th>
                    <th class="text-center" style="white-space: nowrap;">Negotiated Amount</th>
                    <th class="text-center" style="white-space: nowrap;">Negotiation Date</th>
                    <th class="text-center" style="white-space: nowrap;">Purchase Amount</th>
                    <th class="text-center" style="white-space: nowrap;">Paid Amount</th>
                    <th class="text-center" style="white-space: nowrap;">Payment Date</th>
                    <th class="text-center" style="white-space: nowrap;">Payment Reference</th>
                    <th style="white-space: nowrap;">Visit Reference</th>
                    <th style="white-space: nowrap;">Submitted By</th>
                    <th style="white-space: nowrap;">Service</th>
                    <th style="white-space: nowrap;" class="text-center">Service Date</th>
                    <th style="white-space: nowrap;" class="text-center">Date of Injury</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of rows">
                    <!-- <td class="text-center" style="white-space: nowrap;">
                        <a matTooltip="Edit" (click)="openEditDialog(item);"
                            style="margin-right: 10px; cursor: pointer; color: cornflowerblue;">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a matTooltip="Delete" style="cursor: pointer;" class="fa fa-trash red"></a>
                    </td> -->
                    <td class="text-center">{{ item.claimsId }}</td>
                    <td>{{ item.patientId }}</td>
                    <td [routerLink]="['/rcm-login/referrals-dashboard']"
                        style="cursor: pointer; color: cornflowerblue;">
                        {{ item.patientId }}</td>
                    <td [routerLink]="['/rcm-login/visits-dashboard']" style="cursor: pointer; color: cornflowerblue;">
                        {{ item.patientId }}</td>
                    <td>{{ item.patientName }}</td>
                    <td class="text-center">
                        <mat-select [(value)]="item.claimStatus" class="form-control" placeholder="Select Status">
                            <mat-option [value]="'Scheduled'">Scheduled</mat-option>
                            <mat-option [value]="'Completed'">Completed</mat-option>
                            <mat-option [value]="'Pending'">Pending</mat-option>
                            <mat-option [value]="'No Show'">No Show</mat-option>
                        </mat-select>
                    </td>
                    <td class="text-center">
                        <mat-checkbox [(ngModel)]="item.finance"></mat-checkbox>
                    </td>
                    <td class="text-center">{{ item.estimate }}</td>
                    <td class="text-center">{{ item.deposit }}</td>
                    <td class="text-center">{{ item.negotiatedAmount }}</td>
                    <td class="text-center">{{ item.negotiationDate | date: 'dd-MMM-yyyy' }}</td>
                    <td class="text-center">{{ item.purchaseAmount }}</td>
                    <td class="text-center">{{ item.paidAmount }}</td>
                    <td class="text-center">{{ item.paymentDate | date: 'dd-MMM-yyyy' }}</td>
                    <td class="text-center">{{ item.paymentReference }}</td>
                    <td>{{ item.visitReference }}</td>
                    <td>{{ item.submittedBy }}</td>
                    <td>{{ item.service }}</td>
                    <td class="text-center">{{ item.serviceDate | date: 'dd-MMM-yyyy' }}</td>
                    <td class="text-center">{{ item.dateOfInjury | date: 'dd-MMM-yyyy' }}</td>
                    <td class="text-center" style="color: blue; cursor: pointer;" (click)="notesDialog(item);">
                        <mat-icon>info</mat-icon>
                    </td>
                </tr>
            </tbody>
        </table>

        <button class="mine" mat-fab (click)="scrollGrid('right')">
            <mat-icon style="color: #37474f">fast_forward</mat-icon>
        </button>
        <button class="mine" mat-fab style="margin-right: 78px !important" (click)="scrollGrid('left')">
            <mat-icon style="color: #37474f">fast_rewind</mat-icon>
        </button>

        <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSizeOptions]="[5, 10, 25, 50, 100]"
            showFirstLastButtons></mat-paginator>
    </div>
</div>