<div class="col-sm-12 mt-5">
    <table
        style="margin-bottom: 20px;margin-left: -14px;width: 100%;background-color: #fffce4;border-width: 0; padding: 10px;">
        <tr>
            <th style="padding-left: 8px;">Date of Injury</th>
            <th>Order Type</th>
            <th>Case Type</th>
            <th>Priority</th>
            <th (click)="changeColor()" [ngStyle]="{'color': rectangleColor}">Tag as Delayed</th>
        </tr>
        <tr>
            <td style="padding-left: 8px;">
                <input type="date" class="form-control">
            </td>
            <td>
                <mat-select class="form-control bac" placeholder="Select Order Type">
                    <mat-option [value]="'Prescription Order'">Prescription Order</mat-option>
                    <mat-option [value]="'Lab Test Order'">Lab Test Order</mat-option>
                    <mat-option [value]="'Imaging Order'">Imaging (X-ray/MRI/CT)</mat-option>
                    <mat-option [value]="'Surgical Procedure'">Surgical Procedure</mat-option>
                    <mat-option [value]="'Surgical Procedure'">Other</mat-option>
                </mat-select>
            </td>
            <td>
                <mat-select class="form-control bac" placeholder="Select Case Type">
                    <mat-option [value]="'New York'">Sub Acute</mat-option>
                    <mat-option [value]="'Los Angeles'">Insurance</mat-option>
                    <mat-option [value]="'Chicago'">Worker Comp</mat-option>
                    <mat-option [value]="'Houston'">Self Pay</mat-option>
                </mat-select>
            </td>
            <td>
                <mat-select class="form-control bac" placeholder="Select Priority">
                    <mat-option [value]="'High Priority'">High Priority</mat-option>
                    <mat-option [value]="'Medium Priority'">Medium Priority</mat-option>
                    <mat-option [value]="'Low Priority'">Low Priority</mat-option>
                    <mat-option [value]="'Urgent Priority'">Urgent Priority</mat-option>
                    <mat-option [value]="'Routine Priority'">Routine Priority</mat-option>
                    <mat-option [value]="'Critical Priority'">Critical Priority</mat-option>
                </mat-select>
            </td>
            <td>
                <button mat-raised-button class="rectangle" (click)="changeColor()" [ngStyle]="{'background-color': rectangleColor}"></button>
            </td>
        </tr>
    </table>
</div>

<div>
    <button class="tab-button margin-right-10" [class.active]="selectedTab === 'overview'"
        (click)="selectTab('overview')">Overview
    </button>
    <button class="tab-button margin-right-10" [class.active]="selectedTab === 'diagnosis'"
    (click)="selectTab('diagnosis')">Diagnosis
    </button>
    <button class="tab-button margin-right-10" [class.active]="selectedTab === 'moreInfo'"
        (click)="selectTab('moreInfo')">Legal
    </button>
    <button class="tab-button margin-right-10" [class.active]="selectedTab === 'resolve'"
        (click)="selectTab('resolve')">Referral
    </button>
    <!-- <button class="tab-button margin-right-10" [class.active]="selectedTab === 'specialties'"
        (click)="selectTab('specialties')">Specialties
    </button> -->
</div>

<div class="col-sm-12 row mt-3" *ngIf="selectedTab === 'overview'">
    <div class="col-sm-6" style="margin-left: -8px;">
        <div style="margin-bottom: 20px;" *ngIf="selectedTab === 'overview'">
            <table class="table table-bordered" style="width: 95%;background-color: #cdf0ff;"
                *ngIf="selectedTab === 'overview'">
                <thead style="background-color: #50636d; color: white;">
                    <tr>
                        <th class="text-center" colspan="2">Visit Info</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Patient ID</td>
                        <td>12578965</td>
                    </tr>
                    <tr>
                        <td>Patient Name</td>
                        <td>John Wick Canes</td>
                    </tr>
                    <tr>
                        <td>Provider :</td>
                        <td>29/09/1998</td>
                    </tr>
                    <tr>
                        <td>Location :</td>
                        <td>Plano Parkway, Suite 295, Plano, Texas 75093</td>
                    </tr>
                    <tr>
                        <td>Referral From</td>
                        <td>Jane Doe</td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td>16-Dec-2024</td>
                    </tr>
                    <tr>
                        <td>Time</td>
                        <td>10:30 AM</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-6">
        <mat-card style="height: auto; background-color: #d7d7d7;">
            <div class="row d-flex flex-wrap justify-content-center " style="padding: 30px;">
             

                <button mat-raised-button disabled style="width: 200px; height: 50px; margin: 10px;background-color: #2188bf;color: white;">Verified</button>
                <button mat-raised-button disabled style="width: 200px; height: 50px; margin: 10px;background-color: #2188bf;color: white;">Authorize</button>
                <!-- <button mat-raised-button class="custom-btngray" [ngClass]="{'white-btngray': isClickedgray === 1}" (click)="toggleColorgray(1)">Scheduled</button>
                <button mat-raised-button class="custom-btngray" [ngClass]="{'white-btngray': isClickedgray === 2}" (click)="toggleColorgray(2)">Medical Records</button>
                <button mat-raised-button class="custom-btngray" [ngClass]="{'white-btngray': isClickedgray === 3}" (click)="toggleColorgray(3)">Claimed</button> -->

                <button
                mat-raised-button
                [ngClass]="{ 'active-btn': isVerifiedActive, 'inactive-btn': !isVerifiedActive }"
                (click)="toggleButton('verified')"
              >
              Scheduled
              </button>
              
              <button
                mat-raised-button
                [ngClass]="{ 'active-btn': isAuthorizeActive, 'inactive-btn': !isAuthorizeActive }"
                (click)="toggleButton('authorize')"
              >
                Medical Records
              </button>
              
              <button
                mat-raised-button
                [ngClass]="{ 'active-btn': isAuthorizeClaimed, 'inactive-btn': !isAuthorizeClaimed }"
                (click)="toggleButton('claimed')"
              >
              Claimed
              </button>
              
                

                <button mat-raised-button disabled class="custom-btn1" >Funded</button>
                <button mat-raised-button disabled class="custom-btn" >Settled</button>
                <button mat-raised-button disabled class="custom-btn" >Paid</button>
                

                   <!-- <label style="font-size: 17px;">Enter Diagnosis</label>
                <textarea name="" id="" class="form-control" placeholder="Enter Diagnosis"
                    style="height: 180px;"></textarea>
                <button mat-raised-button class="pull-right mt-3" style="background-color: green; color: white;">
                    <mat-icon>save</mat-icon>Update
                </button> -->

                <!-- <button style="width: 200px; height: 50px; margin-inline: 10px;  display: inline-block; ">
                    Verified
                </button>
                <button style="width: 200px; height: 50px; margin-inline: 10px;">
                    Verified
                </button> -->

            </div>
        </mat-card>
    </div>
</div>



<div class="col-sm-12 row mt-3" style="background-color: #fffce4;" *ngIf="selectedTab === 'diagnosis'">
 
           <div class="p-5">
                <label style="font-size: 17px;">Enter Diagnosis</label>
                <textarea name="" id="" class="form-control" placeholder="Enter Diagnosis"
                    style="height: 180px;"></textarea>
                <button mat-raised-button class="pull-right mt-3" style="background-color: green; color: white; margin-bottom: 20px;">
                    <mat-icon>save</mat-icon>Update
                </button> 

            </div>
</div>


<div *ngIf="selectedTab === 'moreInfo'" class="mt-3">
    <div class="col-sm-5" style="margin-left: -15px;">
        <mat-card style="height: 245px; background-color: #cdf0ff;">
            <div style="padding: 15px;">
                <label style="font-size: 17px;">Legal Representation</label>
                <!-- <h5> <b>Mouin Sabbagh</b> </h5>
                <hr style="border-top: 1px solid #ccc; margin: 10px 0;"> -->
                <h5>Soliz Law Firms, PLLC</h5>
                <h5>3700 MonTrose BLVD.</h5>
                <h5>Houston, TX 77027</h5>
                <h5>Phone (713) 795-4684</h5>
                <h5>Email: {{ 'Jack@thesolizlawfirms.com' }}</h5>

            </div>
        </mat-card>
    </div>
    <div class="col-sm-6">
        <mat-card style="height: auto; background-color: #fffce4;">
            <div style="padding: 15px;">
                <label style="font-size: 17px;">Enter Remarks</label>
                <textarea name="" id="" class="form-control mb-5" style="height: 160px;">Enter Remarks</textarea>
                <!-- <button mat-raised-button class="pull-right mt-3" style="background-color: green; color: white;">
                    <mat-icon>save</mat-icon>Update
                </button> -->
            </div>
        </mat-card>
    </div>
    <div class="col-sm-11 row mt-5" style="margin-left: -22px;">
        <div class="col-sm-4">
            <mat-select class="form-control bac" placeholder="Select Attorney" multiple>
                <mat-option [value]="'Personal Injury Attorney'">Personal Injury Attorney</mat-option>
                <mat-option [value]="'Medical Malpractice Attorney'">Medical Malpractice Attorney</mat-option>
                <mat-option [value]="'Workers Compensation Attorney'">Workers’ Compensation Attorney</mat-option>
                <mat-option [value]="'Family Law Attorney'">Family Law Attorney</mat-option>
                <mat-option [value]="'Criminal Defense Attorney'">Criminal Defense Attorney</mat-option>
                <mat-option [value]="'Estate Planning Attorney'">Estate Planning Attorney</mat-option>
                <mat-option [value]="'Business Law Attorney'">Business Law Attorney</mat-option>
                <mat-option [value]="'Immigration Attorney'">Immigration Attorney</mat-option>
            </mat-select>
        </div>
        <div class="col-sm-4">
            <mat-select class="form-control bac" placeholder="Select Paralegal" multiple>
                <mat-option [value]="'Litigation Paralegal'">Litigation Paralegal</mat-option>
                <mat-option [value]="'Corporate Paralegal'">Corporate Paralegal</mat-option>
                <mat-option [value]="'Family Law Paralegal'">Family Law Paralegal</mat-option>
                <mat-option [value]="'Immigration Paralegal'">Immigration Paralegal</mat-option>
                <mat-option [value]="'Real Estate Paralegal'">Real Estate Paralegal</mat-option>
                <mat-option [value]="'Intellectual Property Paralegal'">Intellectual Property Paralegal</mat-option>
                <mat-option [value]="'Criminal Law Paralegal'">Criminal Law Paralegal</mat-option>
                <mat-option [value]="'Estate Planning Paralegal'">Estate Planning Paralegal</mat-option>
            </mat-select>
        </div>

        <div class="col-sm-4">
            <mat-select class="form-control bac" placeholder="Select Other" multiple>
                <mat-option [value]="'Prescription Order'">Prescription Order</mat-option>
                <mat-option [value]="'Lab Test Order'">Lab Test Order</mat-option>
                <mat-option [value]="'Imaging Order'">Imaging (X-ray/MRI/CT)</mat-option>
                <mat-option [value]="'Surgical Procedure'">Surgical Procedure</mat-option>
                <mat-option [value]="'Surgical Procedure'">Other</mat-option>
            </mat-select>
        </div>

        <div class="row col-sm-12 mt-5">
            <button mat-raised-button class="pull-right"
                style="background-color: gray; color: white; margin-right: -22px;">
                <mat-icon>clear</mat-icon>Clear
            </button>
            <button mat-raised-button class="pull-right"
                style="background-color: green; color: white; margin-right: 10px; ">
                <mat-icon>save</mat-icon>Update
            </button>
        </div>

    </div>
</div>

<div *ngIf="selectedTab === 'resolve'" class="mt-3">
    <div class="col-sm-5" style="margin-left: -15px;">
        <mat-card style="height: auto; background-color: #cdf0ff;">
            <div style="padding: 15px;">
                <label style="font-size: 17px;">Referral From</label>
                <h5> <b>Mouin Sabbagh</b> </h5>
                <hr style="border-top: 1px solid #ccc; margin: 10px 0;">
                <h5>Advanced Medical Group (ROHC)</h5>
                <h5>4200 Twelve Oaks Place</h5>
                <h5>Houston, TX 77027</h5>
                <h5>Phone (713) 795-4684</h5>
                <h5>Fax (713) 795-4684</h5>
            </div>
        </mat-card>
    </div>
    <div class="col-sm-5">
        <mat-card style="height: auto; background-color: #fffce4;">
            <div style="padding: 15px;">
                <label style="font-size: 17px;">Referral To</label>
                <h5> <b>Mouin Sabbagh</b> </h5>
                <hr style="border-top: 1px solid #ccc; margin: 10px 0;">
                <h5>Advanced Medical Group (ROHC)</h5>
                <h5>4200 Twelve Oaks Place</h5>
                <h5>Houston, TX 77027</h5>
                <h5>Phone (713) 795-4684</h5>
                <h5>Fax (713) 795-4684</h5>
            </div>
        </mat-card>
    </div>
</div>