<h1 style="background-color: rgb(73, 128, 150); color: white; text-align: center;" mat-dialog-title>
    Add to Saved Search List
</h1>

<div class="col-sm-12" style="padding: 30px !important;">
    <div class="row" style="margin-bottom: 12px;">
        <div class="col-sm-4">
            <label class="control-label mt-2">Save Search As :</label>
        </div>
        <div class="col-sm-8">
            <input type="text" class="form-control bac" placeholder="Enter Subject" required>
        </div>
    </div>
</div>

<mat-dialog-actions align="end">
    <div style="margin-right: 15px;" class="mb-3">
        <button mat-raised-button style="background-color: green; color: white;">
            <mat-icon>save</mat-icon>Submit
            <!-- <span>{{ data ? 'Update' : 'Save'}}</span> -->
        </button>
        <button mat-raised-button style="background-color: lightgray; color: red;" class="add-dark-hover btn-default"
            (click)="close()">
            <mat-icon>cancel</mat-icon>Close
        </button>
    </div>
</mat-dialog-actions>