<div class="col-sm-12 mt-4">


  <div class="col-sm-5 row pull-right">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <input type="text" onCopy="return false" onPaste="return false" class="form-control input-style"
        placeholder="Search by Keyword">

      <!-- Sort Button -->
      <button mat-raised-button mat-button [matMenuTriggerFor]="sortMenu"
        style="background-color: #37474f; color: white; height: 46px;" class="filters-hover margin-right-10">
        <span (click)="toggleSort($event)" class="icon-text">
          <mat-icon style="margin-top: 0px; margin-bottom: -6px;">
            {{ isAscending ? 'arrow_drop_up' : 'arrow_drop_down' }}
          </mat-icon>
        </span>
        <span class="icon-text">SORT</span>
      </button>

      <!-- Dropdown Menu -->
      <mat-menu #sortMenu="matMenu">
        <div class="scrollable-menu">
          <button mat-menu-item (click)="onSortOptionSelected('Case Manager')">Case Manager</button>
          <button mat-menu-item (click)="onSortOptionSelected('Liaisons')">Liaisons</button>
          <button mat-menu-item (click)="onSortOptionSelected('Patients')">Patients</button>
          <button mat-menu-item (click)="onSortOptionSelected('Claims')">Claims</button>
          <button mat-menu-item (click)="onSortOptionSelected('Created Date')">Created Date</button>
          <button mat-menu-item (click)="onSortOptionSelected('Law Firms')">Law Firms</button>
        </div>
      </mat-menu>

      <!-- Search Icon -->
      <button matTooltip="Search" mat-icon-button class="icon-style">
        <mat-icon class="icon-white">search</mat-icon>
      </button>

      <!-- Refresh Button -->
      <button matTooltip="Refresh" mat-icon-button class="icon-style">
        <mat-icon class="icon-white">refresh</mat-icon>
      </button>
    </div>
  </div>



</div>

<div class="table-responsive col-sm-12 mt-3">
  <table id="example2" class="table table-bordered table-hover">
    <thead class="tbl-head">
      <tr class="tr-grid-header">
        <th>Case Manager</th>
        <th class="text-center">Liaisons</th>
        <th style="text-align: center !important;">Law Firms</th>
        <th class="text-center">Patients</th>
        <th class="text-center">Cases</th>
        <th class="text-center">Claims</th>
        <th style="text-align: center !important;">Status</th>
        <th style="text-align: center !important;">Created Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of roleDetails">
        <td [routerLink]="['/rcm-login/case-manager-dashboard']" style="color: cornflowerblue; cursor: pointer;">
          {{item.RoleName}}
        </td>
        <td class="text-center">
          <a style="cursor: pointer; color: cornflowerblue;" (click)="locationPop(item);">{{item.NoofUsers}}
          </a>
        </td>
        <td [routerLink]="['/rcm-login/inner-law-firms']" class="text-center"
          style="color: cornflowerblue; cursor: pointer;">{{item.TotalUsers}}
        </td>
        <td [routerLink]="['/rcm-login/inner-patients']" class="text-center"
          style="color: cornflowerblue; cursor: pointer;">{{item.permissionCount}}
        </td>
        <td [routerLink]="['/rcm-login/inner-cases']" class="text-center"
          style="color: cornflowerblue; cursor: pointer;">{{item.totalPermissionCount}}
        </td>
        <td [routerLink]="['/rcm-login/inner-claims']" class="text-center"
          style="color: cornflowerblue; cursor: pointer;">{{item.permissionCount}}
        </td>
        <td class="text-center" style="text-align: center !important;">
          <a [ngStyle]="{'color':  item.IsActive? 'blue' : 'red','cursor':'pointer'}">
            <span *ngIf="!item.IsActive" style="color:red">Inactive</span>
            <span *ngIf=" item.IsActive">Active</span>
          </a>
        </td>
        <td class="text-center">
          14/12/2023
        </td>
      </tr>
    </tbody>

  </table>
  <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSizeOptions]="[5, 10, 25, 50, 100]"
    showFirstLastButtons>
  </mat-paginator>
</div>