<!-- <div style="display: flex; align-items: center;margin-left: 15%; margin-top: -4.5%">

    <div class="col-sm-2" style="  cursor: pointer" (click)="toggleCard()">
      <img src="../../../../assets/rbg.png" class="top-left-image"
        style="width: 35px; height: 35px; margin-top: -20%; margin-left: 40px" />
    </div>


    <mat-card class="col-sm-10 pull-right" style="
        height: 35px;
        background-color: black;
        margin-top: -2.5%;
        margin-left: -19px;c
        margin-right: -10px;" 
        *ngIf="showCard">
      <div fxLayout="row" fxLayoutAlign="start center"
        style="gap: 30px; padding: 0 10px; display: flex; align-items: center">
        <div style="display: flex; align-items: center; gap: 10px">
          <span style="color: white; line-height: 35px; gap: 30px">Referrals</span>
          <span style="
              color: white;
              line-height: 35px;
              gap: 30px;
              margin-right: 4px;
            ">120,000</span>
          <mat-icon style="
              cursor: pointer;
              margin-right: -1px;
              background-color: lightgray;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 35px;
              height: 35px;
              padding: 18px 15px 12px 15px;
            " (click)="toggleTable('table')">
            {{ showTable ? "expand_less" : "add" }}
          </mat-icon>
        </div>

        <div style="display: flex; align-items: center; gap: 10px">
          <span style="color: white; line-height: 35px">Visits </span>
          <span style="
              color: white;
              line-height: 35px;
              gap: 30px;
              margin-right: 10px;
            ">105,991</span>
          <mat-icon style="
              cursor: pointer;
              margin-right: 5px;
              background-color: lightgray;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 35px;
              height: 35px;
              padding: 18px 15px 12px 15px;
            " (click)="toggleTable('table1')">
            {{ showTable1 ? "expand_less" : "add" }}
          </mat-icon>
        </div>
        <div style="display: flex; align-items: center; gap: 10px">
          <span style="color: white; line-height: 35px">Claims </span>
          <span style="
              color: white;
              line-height: 35px;
              gap: 30px;
              margin-right: 10px;
            ">65,001</span>
          <mat-icon style="
              cursor: pointer;
              margin-right: 6px;
              background-color: lightgray;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 35px;
              height: 35px;
              padding: 18px 15px 12px 15px;
            " (click)="toggleTable('table2')">
            {{ showTable2 ? "expand_less" : "add" }}
          </mat-icon>
        </div>
        <div style="display: flex; align-items: center; gap: 10px">
          <span style="color: white; line-height: 35px">Paid</span>
          <span style="
              color: white;
              line-height: 35px;
              gap: 30px;
              margin-right: 2px;
            ">45,962</span>
        </div>

        <div style="display: flex; align-items: center; gap: 7px">

          <mat-icon style="
              cursor: pointer;
              margin-right: 7px;
              background-color: lightgray;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 35px;
              height: 35px;
              padding: 18px 15px 12px 15px;
            "
            (click)="referralsFilter($event)"
            >
            filter_list
          </mat-icon>
        </div>

      </div>
    </mat-card>

  </div>


  <div *ngIf="showTable" @slideIn style="margin-left: 26.5%" class="dropdown-content">
    <div id="grid-table-container" class="table-responsive">
      <h4>Gap Analysis - Referral vs. Visits</h4>
      <table matSort class="table table-bordered table-hover">
        <tbody>
          <tr *ngFor="let user of dataSource; let i = index;let last = last">
            <td [ngStyle]="{
                'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9'
              }">
              {{ user.workList }}
            </td>
            <td [ngStyle]="{
              'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9',
              'color': last ? 'black' : 'blue'
            }" [routerLink]="last ? null : ['/rcm-login/referrals']" [style.cursor]="last ? 'default' : 'pointer'">
            {{ user.volume }}
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="showTable1" @slideIn style="margin-left: 45%" class="dropdown-content">
    <div id="grid-table-container" class="table-responsive">
      <h4>Gap Analysis - Visits vs. Claims</h4>
      <table matSort class="table table-bordered table-hover">
        <tbody>
          <tr *ngFor="let user of dataSource1; let i = index;let last = last">
            <td [ngStyle]="{
                'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9'
              }">
              {{ user.workList }}
            </td>
            <td [ngStyle]="{
              'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9',
              'color': last ? 'black' : 'blue'
            }" [routerLink]="last ? null : ['/rcm-login/referrals']" [style.cursor]="last ? 'default' : 'pointer'">
            {{ user.volume }}
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="showTable2" @slideIn style="margin-left: 64.8%" class="dropdown-content">
    <div id="grid-table-container" class="table-responsive">
      <h4>Gap Analysis - Claims vs. Paid</h4>
      <table matSort class="table table-bordered table-hover">
        <tbody>
          <tr *ngFor="let user of dataSource2; let i = index;let last = last">
            <td [ngStyle]="{
                'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9'
              }">
              {{ user.workList }}
            </td>
            <td [ngStyle]="{
              'background-color': i % 2 === 0 ? 'lightgray' : '#f1f8e9',
              'color': last ? 'black' : 'blue'
            }" [routerLink]="last ? null : ['/rcm-login/referrals']" [style.cursor]="last ? 'default' : 'pointer'">
            {{ user.volume }}
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->







<div class="col-sm-12">


  <div class="col-sm-5 row pull-right">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <input type="text" onCopy="return false" onPaste="return false" class="form-control input-style"
        placeholder="Search by Keyword">

      <!-- Search Icon -->
      <button matTooltip="Search" mat-icon-button class="icon-style">
        <mat-icon class="icon-white">search</mat-icon>
      </button>

      <!-- Refresh Button -->
      <button matTooltip="Refresh" mat-icon-button class="icon-style">
        <mat-icon class="icon-white">refresh</mat-icon>
      </button>
    </div>
  </div>



</div>

<div class="table-responsive col-sm-12 mt-3">
  <table id="example2" class="table table-bordered table-hover">
    <thead class="tbl-head">
      <tr class="tr-grid-header">
        <th>Case Manager</th>
        <th class="text-center">Liaisons</th>
        <th style="text-align: center !important;">Law Firms</th>
        <th class="text-center">Patients</th>
        <th class="text-center">Cases</th>
        <th class="text-center">Claims</th>
        <th style="text-align: center !important;">Status</th>
        <th style="text-align: center !important;">Created Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of roleDetails">
        <td [routerLink]="['/rcm-login/case-manager-dashboard']" style="color: cornflowerblue; cursor: pointer;">
          {{item.RoleName}}
        </td>
        <td class="text-center">
          <a style="cursor: pointer; color: cornflowerblue;" (click)="locationPop(item);">{{item.NoofUsers}}
          </a>
        </td>
        <td [routerLink]="['/rcm-login/inner-law-firms']" class="text-center"
          style="color: cornflowerblue; cursor: pointer;">{{item.TotalUsers}}
        </td>
        <td [routerLink]="['/rcm-login/inner-patients']" class="text-center"
          style="color: cornflowerblue; cursor: pointer;">{{item.permissionCount}}
        </td>
        <td [routerLink]="['/rcm-login/inner-cases']" class="text-center"
          style="color: cornflowerblue; cursor: pointer;">{{item.totalPermissionCount}}
        </td>
        <td [routerLink]="['/rcm-login/inner-claims']" class="text-center"
          style="color: cornflowerblue; cursor: pointer;">{{item.permissionCount}}
        </td>
        <td class="text-center" style="text-align: center !important;">
          <a [ngStyle]="{'color':  item.IsActive? 'blue' : 'red','cursor':'pointer'}">
            <span *ngIf="!item.IsActive" style="color:red">Inactive</span>
            <span *ngIf=" item.IsActive">Active</span>
          </a>
        </td>
        <td class="text-center">
          14/12/2023
        </td>
      </tr>
    </tbody>

  </table>
  <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSizeOptions]="[5, 10, 25, 50, 100]"
    showFirstLastButtons>
  </mat-paginator>
</div>