<!--This page is used to add or edit accounts-->
<h1 style="background-color: rgb(73, 128, 150); color: white; text-align: center" mat-dialog-title>
  <span *ngIf="!account">Add</span><span *ngIf="account">Edit</span> Network
</h1>

<div mat-dialog-content>
  <form class="form-horizontal" novalidate>
    <!-- Centered Overview Heading -->
    <div style="text-align: center; margin-bottom: 16px">
      <!-- <h2 style="font-size: 20px">Overview</h2> -->
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="row" style="margin-bottom: 12px">
          <div class="col-sm-4 add-mem">
            <label class="control-label add-member-label required" style="margin-left: 30px">Network :</label>
          </div>
          <div class="col-sm-7">
            <mat-select class="form-control bac" placeholder="Select Network">
              <mat-option [value]="'Tenet Healthcare'">Tenet Healthcare</mat-option>
              <mat-option [value]="'Baylor Scott & White Health'">Baylor Scott & White Health</mat-option>
              <mat-option [value]="'Steward Health Care System'">Steward Health Care System</mat-option>
              <mat-option [value]="'CHRISTUS Health'">CHRISTUS Health</mat-option>
              <mat-option [value]="'Oceans Healthcare'">Oceans Healthcare</mat-option>
              <mat-option [value]="'Nutex Health'">Nutex Health</mat-option>
            </mat-select>
          </div>
        </div>

        <div class="row" style="margin-bottom: 12px">
          <div class="col-sm-4 add-mem">
            <label class="control-label add-member-label required" style="margin-left: 30px">City :</label>
          </div>
          <div class="col-sm-7">
            <mat-select class="form-control bac" placeholder="Select City">
              <mat-option [value]="'New York'">New York</mat-option>
              <mat-option [value]="'Los Angeles'">Los Angeles</mat-option>
              <mat-option [value]="'Chicago'">Chicago</mat-option>
              <mat-option [value]="'Houston'">Houston</mat-option>
              <mat-option [value]="'Phoenix'">Phoenix</mat-option>
              <mat-option [value]="'Philadelphia'">Philadelphia</mat-option>
              <mat-option [value]="'San Antonio'">San Antonio</mat-option>
              <mat-option [value]="'San Diego'">San Diego</mat-option>
              <mat-option [value]="'Dallas'">Dallas</mat-option>
              <mat-option [value]="'San Jose'">San Jose</mat-option>
            </mat-select>
          </div>
        </div>

        <div class="row" style="margin-bottom: 12px">
          <div class="col-sm-4 add-mem">
            <label class="control-label add-member-label required" style="margin-left: 30px">State :</label>
          </div>
          <div class="col-sm-7">
            <mat-select class="form-control bac" placeholder="Select State">
              <mat-option [value]="'California'">California</mat-option>
              <mat-option [value]="'Texas'">Texas</mat-option>
              <mat-option [value]="'Florida'">Florida</mat-option>
              <mat-option [value]="'New York'">New York</mat-option>
              <mat-option [value]="'Illinois'">Illinois</mat-option>
              <mat-option [value]="'Pennsylvania'">Pennsylvania</mat-option>
              <mat-option [value]="'Ohio'">Ohio</mat-option>
              <mat-option [value]="'Georgia'">Georgia</mat-option>
              <mat-option [value]="'North Carolina'">North Carolina</mat-option>
              <mat-option [value]="'Michigan'">Michigan</mat-option>
            </mat-select>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row" style="margin-bottom: 12px">
          <div class="col-sm-4 add-mem">
            <label class="control-label add-member-label required">Zip Code :</label>
          </div>
          <div class="col-sm-7">
            <input type="number" class="form-control bac" placeholder="Enter Zip Code" maxlength="100" minlength="2"
              ondrag="return false" ondrop="return false" required />
          </div>
        </div>

        <div class="row" style="margin-bottom: 12px">
          <div class="col-sm-4 add-mem">
            <label class="control-label add-member-label required">Cell Phone :</label>
          </div>
          <div class="col-sm-7">
            <input type="number" class="form-control bac" placeholder="Enter Cell Phone Number" maxlength="100"
              minlength="2" ondrag="return false" ondrop="return false" required />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<mat-dialog-actions align="end">
  <div style="margin-right: 50px; margin-top: -10px">
    <button mat-raised-button style="background-color: green; color: white">
      Proceed
    </button>
    <button mat-raised-button class="add-dark-hover btn-default" style="background-color: gray; color: red"
      (click)="close()">
      Cancel
    </button>
  </div>
</mat-dialog-actions>