<h1 style="background-color: rgb(73, 128, 150); color: white; text-align: center" mat-dialog-title>
  <span *ngIf="!data">Add</span><span *ngIf="data">Edit</span> Network
</h1>

<div mat-dialog-content>
  <form [formGroup]="networkAccounts">
    <div class="row mt-4">
      <div class="col-sm-6">
        <div class="row" style="margin-bottom: 12px">
          <div class="col-sm-4 add-mem">
            <label class="control-label add-member-label required" style="margin-left: 30px">Network :</label>
          </div>
          <div class="col-sm-7">
            <input type="text" formControlName="NetworkAccountName" class="form-control"
              placeholder="Enter Network Name" required />
          </div>
        </div>

        <div class="row" style="margin-bottom: 12px">
          <div class="col-sm-4 add-mem">
            <label class="control-label add-member-label required" style="margin-left: 30px">City :</label>
          </div>
          <div class="col-sm-7">
            <mat-select class="form-control bac" placeholder="Select City">
              <mat-option [value]="'New York'">New York</mat-option>
              <mat-option [value]="'Los Angeles'">Los Angeles</mat-option>
              <mat-option [value]="'Chicago'">Chicago</mat-option>
              <mat-option [value]="'Houston'">Houston</mat-option>
              <mat-option [value]="'Phoenix'">Phoenix</mat-option>
              <mat-option [value]="'Philadelphia'">Philadelphia</mat-option>
              <mat-option [value]="'San Antonio'">San Antonio</mat-option>
              <mat-option [value]="'San Diego'">San Diego</mat-option>
              <mat-option [value]="'Dallas'">Dallas</mat-option>
              <mat-option [value]="'San Jose'">San Jose</mat-option>
            </mat-select>
          </div>
        </div>

        <div class="row" style="margin-bottom: 12px">
          <div class="col-sm-4 add-mem">
            <label class="control-label add-member-label required" style="margin-left: 30px">State :</label>
          </div>
          <div class="col-sm-7">
            <mat-select class="form-control bac" placeholder="Select State">
              <mat-option [value]="'California'">California</mat-option>
              <mat-option [value]="'Texas'">Texas</mat-option>
              <mat-option [value]="'Florida'">Florida</mat-option>
              <mat-option [value]="'New York'">New York</mat-option>
              <mat-option [value]="'Illinois'">Illinois</mat-option>
              <mat-option [value]="'Pennsylvania'">Pennsylvania</mat-option>
              <mat-option [value]="'Ohio'">Ohio</mat-option>
              <mat-option [value]="'Georgia'">Georgia</mat-option>
              <mat-option [value]="'North Carolina'">North Carolina</mat-option>
              <mat-option [value]="'Michigan'">Michigan</mat-option>
            </mat-select>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row" style="margin-bottom: 12px">
          <div class="col-sm-4 add-mem">
            <label class="control-label add-member-label required">Email :</label>
          </div>
          <div class="col-sm-7">
            <input type="email" formControlName="NetworkAccountEmail" class="form-control" placeholder="Enter E-mail"
              required />
          </div>
        </div>
        <div class="row" style="margin-bottom: 12px">
          <div class="col-sm-4 add-mem">
            <label class="control-label add-member-label required">Cell Phone :</label>
          </div>
          <div class="col-sm-7">
            <input type="number" formControlName="NetworkAccountPhone" class="form-control bac"
              placeholder="Enter Cell Phone Number" required />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<mat-dialog-actions align="end">
  <div style="margin-right: 50px; margin-top: -10px">
    <button mat-raised-button (click)="fnUpsertCityMaster()" style="background-color: green; color: white">
      Save
    </button>
    <button mat-raised-button class="add-dark-hover btn-default" style="background-color: gray; color: red"
      (click)="close()">
      Cancel
    </button>
  </div>
</mat-dialog-actions>