.tab-button {
    background-color: #cecbcbe8;
    border: none;
    color: #333;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.tab-button.active {
    background-color: #50636d;
    color: white;
}


.rectangle {
    width: 50px;
    height: 30px;
    margin-left: 15px;
    display: inline-block; /* Keeps it inline */
}

.custom-btn {
    width: 200px;
    height: 50px;
    margin: 10px;
    background-color: white;
    color: black;
    border: 2px solid white;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .custom-btn.white-btn {
    background-color: black;
    color: white;
    border: 2px solid black;
  }

  
  .custom-btn1 {
    width: 200px;
    height: 50px;
    margin: 10px;
    background-color: white;
    color: black;
    border: 2px solid white;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .custom-btn1.white-btn1 {
    background-color: gray;
    color: white;
    border: 2px solid gray;
  }
  



  button {
    width: 200px;
    height: 50px;
    margin: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .active-btn {
    background-color: #2188bf !important;
    color: white;
  }
  
  .inactive-btn {
    background-color: gray !important;
    color: rgb(255, 255, 255);
  }
  



  .tab-container {
    display: flex;
    flex-wrap: nowrap;  // Prevent wrapping to next line
    gap: 10px;  // Spacing between buttons
    overflow-x: auto;  // Scroll if the screen is too small
    white-space: nowrap;  // Keep buttons in one row
}

.tab-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #d7d7d7;
    color: black;
    transition: background 0.3s;
    flex-shrink: 0;  // Prevent buttons from shrinking
}

.tab-button.active {
    background-color: #2188bf;
    color: white;
}

.tab-button:hover {
    background-color: #b0b0b0;
}
