<mat-sidenav-container>

    <div fxLayout="row" fxLayoutAlign="center center" class="h-100 login-bg">


        <form [formGroup]="form" (ngSubmit)="onSubmit()" fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60" style="position: relative;
         left: 0%;
         top: 0%;
         margin-bottom: 0%;">

            <!-- First Card half up-->
            <mat-card class="p-0 mat-elevation-z24 box">
                <div fxLayout="column" fxLayoutAlign="center center" style="background-color:grey;" class="box-header">
                    <div style="margin-top: auto;margin-bottom: auto;">

                        <div class="logodiv text-center">


                            <!-- <h1 class="ChartxLogo" style="color: white;">O P T I O N M A T R I X</h1> -->
                            <!-- <h3 style="color: White;font-size: 30px;">CHARTX</h3> -->

                            <img style="width: 50%;" src="../../../assets/chartlogo.png">
                        </div>

                    </div>

                </div>



                <!-- First Card half down-->
                <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
                    <mat-card fxLayout="column" fxLayoutAlign="center center"
                        class="mat-elevation-z12 box-content-inner">
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Please Enter Email" formControlName="email">
                            <mat-error *ngIf="form.controls.email.errors?.required">Email is required</mat-error>
                            <mat-error *ngIf="form.controls.email.hasError('invalidEmail')">Invalid email
                                address</mat-error>
                        </mat-form-field>
                    </mat-card>

                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <button mat-raised-button class="mat-elevation-z12 box-button text-white margin-right-10"
                            style="background-color: black;color: white;width: 118px;height: 40px;"
                            type="submit">Submit</button>

                        <button mat-raised-button class="mat-elevation-z12 box-button text-white" (click)="openlogin()"
                            style="background-color: grey;color: white;width: 118px;height: 40px;"
                            type="submit">Back</button>
                    </div>
                </mat-card-content>



            </mat-card>
            <div class="col-12 " style="position: relative;
            left: 0%;
            top: 50%;
            margin-top: 20px; 
            margin-bottom: 0%;">
                <div class="col-12" style="margin-left: 5%;">

                </div>


            </div>

        </form>

    </div>

</mat-sidenav-container>