<div class="col-sm-12" style="padding: 30px !important;">
    <div class="col-sm-8">
        <div class="row" style="margin-bottom: 12px;">
            <div class="col-sm-4">
                <label class="control-label required mt-2">Athena AUTH Token :</label>
            </div>
            <div class="col-sm-8">
                <input type="text" class="form-control bac" placeholder="Enter Athena AUTH Token" maxlength="100"
                    minlength="2" onDrag="return false" onDrop="return false" required>
            </div>
        </div>
        <div class="row" style="margin-bottom: 12px;">
            <div class="col-sm-4">
                <label class="control-label required mt-2">GO REV Secret Key :</label>
            </div>
            <div class="col-sm-8">
                <input type="text" class="form-control bac" placeholder="Enter GO REV Secret Key " maxlength="100"
                    minlength="2" onDrag="return false" onDrop="return false" required>
            </div>
        </div>
        <div class="row " style="margin-bottom: 12px;">
            <div class="col-sm-4">
                <label class="control-label required mt-2">Send Grid AUTH ID :</label>
            </div>
            <div class="col-sm-8">
                <input type="text" class="form-control bac" placeholder="Enter Send Grid AUTH ID" maxlength="100"
                    minlength="2" onDrag="return false" onDrop="return false" required>
            </div>
        </div>
        <div class="row " style="margin-bottom: 12px;">
            <div class="col-sm-4">
                <label class="control-label required mt-2">MEDHOST AUTH Key :</label>
            </div>
            <div class="col-sm-8">
                <input type="text" class="form-control bac" placeholder="Enter MEDHOST AUTH Key" maxlength="100"
                    minlength="2" onDrag="return false" onDrop="return false" required>
            </div>
        </div>
        <div class="row " style="margin-bottom: 12px;">
            <div class="col-sm-4">
                <label class="control-label required mt-2">EPIC Secret Token :</label>
            </div>
            <div class="col-sm-8">
                <input type="text" class="form-control bac" placeholder="Enter EPIC Secret Token" maxlength="100"
                    minlength="2" onDrag="return false" onDrop="return false" required>
            </div>
        </div>
        <div class="row " style="margin-bottom: 12px;">
            <div class="col-sm-4">
                <label class="control-label required mt-2">MEDHEALTH Token :</label>
            </div>
            <div class="col-sm-8">
                <input type="text" class="form-control bac" placeholder="Enter MEDHEALTH Token" maxlength="100"
                    minlength="2" onDrag="return false" onDrop="return false" required>
            </div>
        </div>
        <button mat-raised-button type="button" class="pull-right mt-4"
            style="background-color: green; color: white; margin-right: -7px;">
            <mat-icon>save</mat-icon>Save
        </button>
    </div>
</div>