<!-- Add Filter Tabs -->
<div class="col-sm-12">
    <button mat-raised-button style="background-color: blue; color: white;" class="pull-right"
        (click)="openEditDialog()">
        <mat-icon>person_add</mat-icon> Add User
    </button>
    <button mat-raised-button style="background-color: black; color:white;"
        class="pull-right filter-hover margin-right-10" (click)="filterToggle = !filterToggle">
        <mat-icon>filter_list</mat-icon> Filter
    </button>
    <!-- Sort Button -->
    <button mat-raised-button mat-button [matMenuTriggerFor]="sortMenu" style="background-color: #37474f; color: white"
        class="filters-hover pull-right margin-right-10">
        <span (click)="toggleSort($event)" class="icon-text">
            <mat-icon style="margin-top: 0px; margin-bottom: -6px;">
                {{ isAscending ? 'arrow_drop_up' : 'arrow_drop_down' }}
            </mat-icon>

        </span>
        <span class="icon-text">SORT</span>
    </button>

    <!-- Dropdown Menu -->
    <mat-menu #sortMenu="matMenu">
        <div class="scrollable-menu">
            <button mat-menu-item (click)="onSortOptionSelected('User Name')">User Name</button>
            <button mat-menu-item (click)="onSortOptionSelected('Email')">Email</button>
            <button mat-menu-item (click)="onSortOptionSelected('Phone')">Phone</button>
            <button mat-menu-item (click)="onSortOptionSelected('Role')">Role</button>

        </div>
    </mat-menu>
</div>
<!-- Filter UI -->
<div fxLayout="row wrap" class="col-sm-12 mt-3" *ngIf="filterToggle">
    <div fxFlex="100" class="flex-p w-100">
        <form [formGroup]="filterForm">
            <mat-card class="filter">
                <mat-card-content>
                    <div class="row col-sm-12">
                        <div class="col-sm-4 row">
                            <div class="col-sm-3 newMarginClass">
                                <b>Keyword:</b>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" formControlName="Keyword" onCopy="return false"
                                    onPaste="return false" class="form-control"
                                    placeholder="Search by Name, Email, Role...">
                            </div>
                        </div>



                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12 offset-sm-3">
                                    <a (click)="filterToggle = !filterToggle" matTooltip="Close" class="pull-right"
                                        style="font-size: 20px; cursor: pointer; margin-left: 5px">
                                        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                                    </a>

                                    <i class="material-icons pull-right" matTooltip="Clear"
                                        style="font-size: 25px; cursor: pointer; margin-left: 5px">
                                        settings_backup_restore
                                    </i>

                                    <i class="fa fa-save pull-right" matTooltip="Save" style="
                                                  font-size: 20px;
                                                  cursor: pointer;
                                                  margin-left: 5px;
                                                  color: green;
                                                " aria-hidden="true">
                                    </i>

                                    <i class="fa fa-search pull-right" matTooltip="Search" style="
                                                  font-size: 20px;
                                                  cursor: pointer;
                                                  margin-left: 5px;
                                                  color: blue;
                                                " aria-hidden="true">
                                    </i>
                                </div>
                            </div>
                        </div>

                    </div>
                </mat-card-content>
            </mat-card>
        </form>
    </div>
</div>
<!-- Table -->
<div class="col-sm-12 mt-3">
    <div id="grid-table-container" class="table-responsive">
        <table matSort class="table table-bordered table-hover">
            <thead class="tbl-head1" style="background-color: rgb(58, 53, 53); color: white;">
                <tr>
                    <th class="text-center">Actions</th>
                    <th class="text-center">Status</th>
                    <th style="white-space: nowrap;">User Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Role</th>
                    <th class="text-center">Liaison</th>
                    <th class="text-center">Core</th>
                    <th class="text-center">2F</th>
                    <th class="text-center">Change Password</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="users == null || users.length == 0">
                    <td colspan="10" class="text-center">No records found</td>
                </tr>
                <tr *ngFor="let applicant of users">
                    <td class="text-center">
                        <a matTooltip="Edit Record" style="margin-right: 10px; cursor: pointer; color: cornflowerblue;"
                            (click)="openEditDialog()">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a>
                            <i style="cursor: pointer;" matTooltip="Delete Record" class="fa fa-trash red"
                                (click)="deleteConfirmation()"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a [ngStyle]="{'color':  applicant.IsActive? 'blue' : 'red','cursor':'pointer'}">
                            <span *ngIf="!applicant.IsActive" style="color:red">Inactive</span>
                            <span *ngIf=" applicant.IsActive">Active</span>
                        </a>
                    </td>
                    <td>{{applicant.UserName}}</td>
                    <td>{{applicant.UserEmail}}</td>
                    <td>{{applicant.UserPhone}}</td>
                    <td>{{applicant.RoleName}}</td>

                    <td class="text-center">
                        <mat-checkbox></mat-checkbox>
                    </td>
                    <td class="text-center">
                        <mat-checkbox [checked]="applicant.vedor13"></mat-checkbox>
                    </td>
                    <td class="text-center">
                        <mat-checkbox></mat-checkbox>
                    </td>
                    <td class="text-center" style="color: blue; cursor: pointer;">
                        <mat-icon>settings_backup_restore</mat-icon>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="mine" mat-fab (click)="scrollGrid('right')">
            <mat-icon style="color: #37474f">fast_forward</mat-icon>
        </button>
        <button class="mine" mat-fab style="margin-right: 78px !important" (click)="scrollGrid('left')">
            <mat-icon style="color: #37474f">fast_rewind</mat-icon>
        </button>
        <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSizeOptions]="[5, 10, 25, 50, 100]"
            showFirstLastButtons>
        </mat-paginator>
    </div>
</div>