<div class="arrow-container">
  <div class="arrow-shape" style="background-color: #D9D9D9; color: black;">
    <span class="arrow-text">Total Networks</span>
    <span class="arrow-number">24</span>
  </div>

  <div class="arrow-shape" style="background-color: #FFD2B2; color: black;">
    <span class="arrow-text">Added This Year</span>
    <span class="arrow-number">18</span>
  </div>

  <div class="arrow-shape" style="background-color: #A8E5C1; color: black;">
    <span class="arrow-text">Added This Quarter</span>
    <span class="arrow-number">5</span>
  </div>

  <div class="arrow-shape" style="background-color: #C4C2FF; color: black;">
    <span class="arrow-text">10+ Providers</span>
    <span class="arrow-number">8</span>
  </div>
  <div class="arrow-shape" style="background-color: #B3E3F6; color: black;">
    <span class="arrow-text">20+ Law Firms</span>
    <span class="arrow-number">6</span>
  </div>
  <div class="arrow-shape" style="background-color: #E0DBFF; color: black;">
    <span class="arrow-text">1000+ Patients</span>
    <span class="arrow-number">4</span>
  </div>
</div>

<!-- Buttons -->
<div class="col-sm-12 mb-3">
  <button mat-raised-button class="pull-right" style="background-color: #007bff !important;color: white;"
    (click)="openproviderdialog(null)">
    <mat-icon class="mat-margin-top">add</mat-icon> Add Network
  </button>
  <button mat-raised-button style="background-color: black; color: white"
    class="pull-right filter-hover margin-right-10" (click)="filterToggle = !filterToggle">
    <mat-icon class="mt-2">filter_list</mat-icon> Filter
  </button>

  <!-- Sort Button -->
  <button mat-raised-button mat-button [matMenuTriggerFor]="sortMenu" style="background-color: #37474f; color: white"
    class="filters-hover pull-right margin-right-10">
    <span (click)="toggleSort($event)" class="icon-text">
      <mat-icon style="margin-top: 0px; margin-bottom: -6px;">
        {{ isAscending ? 'arrow_drop_up' : 'arrow_drop_down' }}
      </mat-icon>
    </span>
    <span class="icon-text">SORT</span>
  </button>

  <!-- Dropdown Menu -->
  <mat-menu #sortMenu="matMenu">
    <div class="scrollable-menu">
      <button mat-menu-item (click)="onSortOptionSelected('Network')">Network</button>
      <button mat-menu-item (click)="onSortOptionSelected('Phone')">Phone</button>
      <button mat-menu-item (click)="onSortOptionSelected('Insurance')">Insurance</button>
      <button mat-menu-item (click)="onSortOptionSelected('Email')">Email</button>
      <button mat-menu-item (click)="onSortOptionSelected('State')">State</button>
      <button mat-menu-item (click)="onSortOptionSelected('City')">City</button>
    </div>
  </mat-menu>

  <button mat-raised-button matTooltip="Download CSV" class="center-icon pull-right"
    style="background-color: black; color: white; margin-right: 8px">
    <mat-icon>save_alt</mat-icon>
  </button>

  <button mat-raised-button matTooltip="Download Template" class="center-icon pull-right"
    style="background-color: black; color: white; margin-right: 8px">
    <mat-icon>get_app</mat-icon>
  </button>

  <button mat-raised-button matTooltip="Upload CSV" class="center-icon pull-right"
    style="background-color: black; color: white; margin-right: 8px">
    <mat-icon>backup</mat-icon>
  </button>

  <button mat-raised-button matTooltip="Grid Columns" class="center-icon pull-right"
    style="background-color: black; color: white; margin-right: 8px">
    <mat-icon>grid_on</mat-icon>
  </button>

  <button mat-raised-button class="pull-right" matTooltip="Save"
    style="background-color: green; color: white; margin-right: 8px">
    Go
  </button>
  <mat-select class="form-control margin-right-10 pull-right" style="width: 180px;" placeholder="Select Subject">
    <mat-option [value]="'New York'">Pending Verification</mat-option>
    <mat-option [value]="'Los Angeles'">SCH & Pending AUTH</mat-option>
    <mat-option [value]="'Chicago'">Referrals this week</mat-option>
    <mat-option [value]="'Houston'">Authorized this week</mat-option>
  </mat-select>
  <label class="control-label mt-2 margin-right-10 pull-right">Apply Saved Search :</label>


</div>

<!-- Filters -->
<div fxLayout="row wrap" class="col-sm-12 mb-3" *ngIf="filterToggle">
  <div fxFlex="100" class="flex-p w-100">
    <form [formGroup]="filterForm">
      <mat-card class="filter">
        <mat-card-content>
          <div class="col-sm-12">
            <div class="col-sm-4">
              <div class="col-sm-3" style="margin-top: 6px">
                <b>Keyword:</b>
              </div>
              <div class="col-sm-9">
                <input type="text" placeholder="Search by Keyword" class="form-control" />
              </div>
            </div>

            <div class="col-sm-4">
              <div class="col-sm-2" style="margin-top: 6px">
                <b>State:</b>
              </div>
              <div class="col-sm-10">
                <mat-select placeholder="--Select State--" class="form-control" multiple [(value)]="selectedEventType3">
                  <mat-select-trigger>
                    {{ selectedEventType3 || "--Select State--" }}
                  </mat-select-trigger>
                  <mat-form-field *ngIf="eventTypes3.length > 1" appearance="fill" style="width: 100%">
                    <input matInput (input)="applyFilter3($event)" placeholder="Search" />
                  </mat-form-field>
                  <mat-option *ngFor="let event of filteredEventTypes3" [value]="event">
                    {{ event }}
                  </mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="col-sm-2" style="margin-top: 6px">
                <b>City:</b>
              </div>
              <div class="col-sm-10">
                <mat-select placeholder="--Select City--" class="form-control" multiple [(value)]="selectedEventType">
                  <mat-select-trigger>
                    {{ selectedEventType || "--Select City--" }}
                  </mat-select-trigger>
                  <mat-form-field *ngIf="eventTypes.length > 1" appearance="fill" style="width: 100%">
                    <input matInput (input)="applyFilter($event)" placeholder="Search" />
                  </mat-form-field>
                  <mat-option *ngFor="let event of filteredEventTypes" [value]="event">
                    {{ event }}
                  </mat-option>
                </mat-select>
              </div>
            </div>


          </div>
          <div class="col-sm-12" style="margin-top: 10px">
            <div class="col-sm-4">
              <div class="col-sm-3" style="margin-top: 6px">
                <b>Networks:</b>
              </div>
              <div class="col-sm-9">
                <mat-select placeholder="--Select Networks--" class="form-control" multiple
                  [(value)]="selectedEventType2">
                  <mat-select-trigger>
                    {{ selectedEventType2 || "--Select Consultant--" }}
                  </mat-select-trigger>
                  <mat-form-field *ngIf="eventTypes2.length > 1" appearance="fill" style="width: 100%">
                    <input matInput (input)="applyFilter2($event)" placeholder="Search" />
                  </mat-form-field>
                  <mat-option *ngFor="let event of filteredEventTypes2" [value]="event">
                    {{ event }}
                  </mat-option>
                </mat-select>
              </div>
            </div>



            <div class="col-sm-4">
              <div class="col-sm-2" style="margin-top: 6px">
                <b>Status:</b>
              </div>
              <div class="col-sm-10">
                <mat-select placeholder="--Select Status--" class="form-control">
                  <mat-option>Active</mat-option>
                  <mat-option>Inactive</mat-option>
                </mat-select>
              </div>
            </div>


            <div class="col-sm-4">
              <div class="row">
                <div class="col-sm-11 offset-sm-3">
                  <a (click)="filterToggle = !filterToggle" matTooltip="Close" class="pull-right"
                    style="font-size: 20px; cursor: pointer; margin-left: 5px">
                    <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                  </a>

                  <i class="material-icons pull-right" matTooltip="Clear"
                    style="font-size: 25px; cursor: pointer; margin-left: 5px">
                    settings_backup_restore
                  </i>

                  <i class="fa fa-save pull-right" matTooltip="Save"
                    style="font-size: 20px; cursor: pointer; margin-left: 5px; color: green; " (click)="saveFilters();"
                    aria-hidden="true">
                  </i>

                  <i class="fa fa-search pull-right" matTooltip="Search"
                    style="font-size: 20px; cursor: pointer; margin-left: 5px; color: blue; " aria-hidden="true">
                  </i>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>

<!-- Table -->
<div class="col-sm-12">
  <div id="grid-table-container" class="table-responsive">
    <table matSort class="table table-bordered table-hover" style="width: 100%">
      <thead class="tbl-head">
        <tr class="tr-grid-header">
          <th class="text-center">Actions</th>
          <th class="text-center">2F</th>
          <th class="text-center">Status</th>
          <th class="text-center">Reset</th>
          <th class="text-center">Sync</th>
          <th>Network</th>
          <th class="text-center">Phone</th>
          <th>Insurance</th>
          <th>Email</th>
          <th>Locations</th>
          <th>State</th>
          <th>City</th>
          <th class="text-center">Paitents</th>
          <th class="text-center">Referrals</th>
          <th class="text-center">Visits</th>
          <th class="text-center">Cases</th>
          <th class="text-center">
            Law Firms
          </th>
          <th>Providers</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tableList">
          <td>
            <div>
              <a style="cursor: pointer" matTooltip="Shadow Login">
                <i class="fa fa-arrow-right"></i>
              </a>
              <a style="cursor: pointer" matTooltip="Edit" (click)="openproviderdialog(item)">
                <i class="fa fa-edit"></i>
              </a>
              <a style="cursor: pointer" (click)="deleteConfirmation(item);" matTooltip="Delete">
                <i class="fa fa-trash red"></i>
              </a>
              <a style="cursor: pointer" matTooltip="Message">
                <i class="fa fa-message"></i>
              </a>
            </div>
          </td>
          <td class="text-center">
            <mat-checkbox></mat-checkbox>
          </td>
          <td class="text-center">
            <a style="cursor:pointer">
              <span *ngIf="!item.isActive" (click)="Confirmation(item)" class="clr-red">Inactive</span>
              <span *ngIf="item.isActive" (click)="Confirmation(item)" class="clr-blue">Active</span>
            </a>
          </td>
          <td class="text-center">
            <a style="cursor: pointer;" (click)="openRestPassword(item)" matTooltip="Reset Password">
              <mat-icon>sync</mat-icon>
            </a>
          </td>
          <td class="text-center">
            <mat-icon style="color: #007bff">settings</mat-icon>
          </td>
          <!-- <td class="text-center"><input type="checkbox" /></td> -->

          <td class="text-left" style="white-space: nowrap">
            {{ item.NetworkAccountName }}
          </td>

          <td class="text-left">
            {{ item.NetworkAccountPhone }}
          </td>

          <!-- insurance -->
          <td class="text-center">
            <a (click)="openinsurancedialog(null)" style="cursor: pointer">
              -
            </a>
          </td>
          <td class="text-left">
            {{ item.NetworkAccountEmail }}
          </td>
          <td class="text-center" (click)="openlocations()">
            <a style="cursor: pointer">
              -
            </a>
          </td>
          <td class="text-left">{{ item.StateName }}</td>
          <td class="text-left" style="white-space: nowrap">
            {{ item.CityName }}
          </td>
          <td class="text-center" (click)="openPatients()">
            <a style="cursor: pointer">
              -
            </a>
          </td>
          <td class="text-center" style="cursor: pointer" (click)="openReferreals()">
            <a style="cursor: pointer">
              -
            </a>
          </td>
          <td class="text-center" style="cursor: pointer" (click)="openVisits()">
            <a style="cursor: pointer">
              -
            </a>
          </td>
          <td class="text-center" style="cursor: pointer" (click)="opencases()">
            <a style="cursor: pointer">
              -
            </a>
          </td>
          <td (click)="openlawfirmdialog(null)" class="text-center" style="white-space: nowrap">
            <a style="cursor: pointer">
              -
            </a>
          </td>
          <td class="text-center" style="white-space: nowrap" (click)="openproviders(null)">
            <a style="cursor: pointer">
              -
            </a>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="allContacts.length == 0">
        <tr>
          <td colspan="17">
            <span>No data available</span>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="mine" mat-fab (click)="scrollGrid('right')">
      <mat-icon style="color: #37474f">fast_forward</mat-icon>
    </button>
    <button class="mine" mat-fab style="margin-right: 78px !important" (click)="scrollGrid('left')">
      <mat-icon style="color: #37474f">fast_rewind</mat-icon>
    </button>
  </div>
  <!-- PAGINATION CONTENT  ------------------------------------------------------>
  <mat-paginator class="col-sm-12" [length]="totalSize" [pageIndex]="currentPage" [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20, 50, 100]" (page)="fnHandlePage($event)" showFirstLastButtons>
  </mat-paginator>
</div>