<div class="col-sm-12">
  <div class="arrow-container">
    <div class="arrow-shape" style="background-color: #D9D9D9; color: black;">
      <span class="arrow-text">Total Providers</span>
      <span class="arrow-number">2400</span>
    </div>
  
    <div class="arrow-shape" style="background-color: #FFD2B2; color: black;">
      <span class="arrow-text">Added This Year</span>
      <span class="arrow-number">1290</span>
    </div>
  
    <div class="arrow-shape" style="background-color: #A8E5C1; color: black;">
      <span class="arrow-text">Added This Quarter</span>
      <span class="arrow-number">80</span>
    </div>
  

  </div>
</div>


<div class="col-sm-12">
  <div fxLayout="row wrap">
    <div class="w-100">
      <div class="flex-p">
        <div class="row wrap">
          <div class="col-sm-12 pull-right">

            <button mat-raised-button matTooltip="Add Provider" class="pull-right center-icon"
              style="background-color: #007bff !important;color: white;" (click)="openproviderdialog(null)">
              <mat-icon class="mat-margin-top">add</mat-icon>
            </button>

            
            
            <button mat-raised-button matTooltip="Filter" style="background-color: black; color: white"
              class="pull-right filter-hover margin-right-10 center-icon" (click)="filterToggle = !filterToggle">
              <mat-icon class="mt-2">filter_list</mat-icon>
            </button>

            <!-- Sort Button -->
          <button mat-raised-button mat-button [matMenuTriggerFor]="sortMenu" style="background-color: #000000; color: white" class="filters-hover pull-right margin-right-10 ">
            <span (click)="toggleSort($event)" class="icon-text">
              <mat-icon style="margin-top: 0px; margin-bottom: -6px;">
                {{ isAscending ? 'arrow_drop_up' : 'arrow_drop_down' }}
              </mat-icon>
            </span>
            <span class="icon-text">SORT</span>
          </button>

          <!-- Dropdown Menu -->
          <mat-menu #sortMenu="matMenu">
            <div class="scrollable-menu">
              <button mat-menu-item (click)="onSortOptionSelected('Provider')">Provider</button>
              <button mat-menu-item (click)="onSortOptionSelected('Networks')">Networks</button>
              <button mat-menu-item (click)="onSortOptionSelected('Phone')">Phone</button>
              <button mat-menu-item (click)="onSortOptionSelected('Email')">Email</button>
              <button mat-menu-item (click)="onSortOptionSelected('State')">State</button>
              <button mat-menu-item (click)="onSortOptionSelected('City')">City</button>
              
            </div>
          </mat-menu>


            <button mat-raised-button matTooltip="Download CSV" class="pull-right center-icon"
              style="background-color: #50636d !important;color: white;margin-right: 8px;">
              <mat-icon class="mt-2">get_app</mat-icon>
            </button>

            <button mat-raised-button matTooltip="Upload CSV" class="pull-right center-icon"
              style="background-color: #007bff !important;color: white;margin-right: 8px;">
              <mat-icon class="mt-2">cloud_upload</mat-icon>
            </button>
            <button mat-raised-button matTooltip="Grid Columns" class="pull-right center-icon"
              style="background-color: #50636d !important;color: white;margin-right: 8px;"
              (click)="openproviderdialoge(null)">
              <mat-icon class="mt-2">grid_on</mat-icon>
            </button>
            <button mat-raised-button matTooltip="Download Template" class="pull-right center-icon"
              style="background-color: #50636d !important;color: white;margin-right: 8px;">
              <mat-icon class="mt-2">get_app</mat-icon>
            </button>

            
          


    

              





          </div>
        </div>
      </div>

      <div fxLayout="row wrap" class="mt-3" *ngIf="filterToggle"
        style="margin-bottom: 10px;flex-flow: wrap;box-sizing: border-box;display: flex;">
        <div fxFlex="100" class="flex-p w-100">
          <form [formGroup]="filterForm">
            <mat-card class="filter">
              <mat-card-content>
                <div class="row col-sm-12">
                  <div class="col-sm-4 row">
                    <div class="col-sm-3" style="margin-top: 6px">
                      <b>Keyword:</b>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" placeholder="Search by Keyword" class="form-control" />
                    </div>
                  </div>

                  <div class="col-sm-4 row">
                    <div class="col-sm-3" style="margin-top: 6px">
                      <b>State:</b>
                    </div>
                    <div class="col-sm-9">
                      <mat-select placeholder="--Select State--" class="form-control" multiple
                        [(value)]="selectedEventType3">
                        <mat-select-trigger>
                          {{ selectedEventType3 || "--Select State--" }}
                        </mat-select-trigger>
                        <mat-form-field *ngIf="eventTypes3.length > 1" appearance="fill" style="width: 100%">
                          <input matInput (input)="applyFilter3($event)" placeholder="Search" />
                        </mat-form-field>
                        <mat-option *ngFor="let event of filteredEventTypes3" [value]="event">
                          {{ event }}
                        </mat-option>
                      </mat-select>
                    </div>
                  </div>
                  <div class="col-sm-4 row">
                    <div class="col-sm-3" style="margin-top: 6px">
                      <b>City:</b>
                    </div>
                    <div class="col-sm-9">
                      <mat-select placeholder="--Select City--" class="form-control" multiple
                        [(value)]="selectedEventType">
                        <mat-select-trigger>
                          {{ selectedEventType || "--Select City--" }}
                        </mat-select-trigger>
                        <mat-form-field *ngIf="eventTypes.length > 1" appearance="fill" style="width: 100%">
                          <input matInput (input)="applyFilter($event)" placeholder="Search" />
                        </mat-form-field>
                        <mat-option *ngFor="let event of filteredEventTypes" [value]="event">
                          {{ event }}
                        </mat-option>
                      </mat-select>
                    </div>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
                </div>
                <div class="row col-sm-12" style="margin-top: 10px">
                  
                  <div class="col-sm-4 row">
                    <div class="col-sm-3" style="margin-top: 6px">
                      <b>Provider:</b>
                    </div>
                    <div class="col-sm-9">
                      <mat-select placeholder="--Select Provider--" class="form-control" multiple
                        [(value)]="selectedEventType2">
                        <mat-select-trigger>
                          {{ selectedEventType2 || "--Select Consultant--" }}
                        </mat-select-trigger>
                        <mat-form-field *ngIf="eventTypes2.length > 1" appearance="fill" style="width: 100%">
                          <input matInput (input)="applyFilter2($event)" placeholder="Search" />
                        </mat-form-field>
                        <mat-option *ngFor="let event of filteredEventTypes2" [value]="event">
                          {{ event }}
                        </mat-option>
                      </mat-select>
                    </div>
                  </div>

                  <div class="col-sm-4 row">
                    <div class="col-sm-3" style="margin-top: 6px">
                      <b>Networks:</b>
                    </div>
                    <div class="col-sm-9">
                      <mat-select placeholder="--Select Networks--" class="form-control" multiple
                        [(value)]="selectedEventType5">
                        <mat-select-trigger>
                          {{ selectedEventType5 || "--Select Networks--" }}
                        </mat-select-trigger>
                        <mat-form-field *ngIf="eventTypes5.length > 1" appearance="fill" style="width: 100%">
                          <input matInput (input)="applyFilter5($event)" placeholder="Search" />
                        </mat-form-field>
                        <mat-option *ngFor="let event of filteredEventTypes5" [value]="event">
                          {{ event }}
                        </mat-option>
                      </mat-select>
                    </div>
                  </div>



                  <div class="col-sm-4">

                  </div>
                  <div class="col-sm-4">
                    <div class="row">
                      <div class="col-sm-11 offset-sm-3">
                        <a (click)="filterToggle = !filterToggle" matTooltip="Close" class="pull-right"
                          style="font-size: 20px; cursor: pointer; margin-left: 5px">
                          <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                        </a>
          
                        <i class="material-icons pull-right" matTooltip="Clear"
                          style="font-size: 25px; cursor: pointer; margin-left: 5px">
                          settings_backup_restore
                        </i>
          
                        <i class="fa fa-save pull-right" matTooltip="Save"  style="
                                          font-size: 20px;
                                          cursor: pointer;
                                          margin-left: 5px;
                                          color: green;
                                        " aria-hidden="true">
                        </i>
          
                        <i class="fa fa-search pull-right" matTooltip="Search" style="
                                          font-size: 20px;
                                          cursor: pointer;
                                          margin-left: 5px;
                                          color: blue;
                                        " aria-hidden="true">
                        </i>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
                </div>
              </mat-card-content>
            </mat-card>
          </form>
        </div>
      </div>

      <div id="grid-table-container" class="table-responsive mt-3">
        <table matSort class="table table-bordered table-hover" style="width: 100%">
          <thead class="tbl-head">
            <tr class="tr-grid-header">
              <th>Actions</th>
              <th>Reset</th>
              <th>Sync</th>
              <th>REG</th>
              <th mat-sort-header="contactName">Provider</th>
              <th>Networks</th>
              <th mat-sort-header="contactJobTitle" style="min-width: 145px">
                Phone
              </th>
              <th>Insurance</th>
              <th>Email</th>
              <th>Locations</th>
              <th>State</th>
              <th>City</th>
              <th>Paitents</th>
              <th>Referrals</th>
              <th>Visits</th>
              <th>Specialities</th>

              <th>2F</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody *ngIf="allContacts.length > 0">
            <tr *ngFor="let item of allContacts">
              <td class="text-left">
                <div style="
                                      display: flex;
                                      justify-content: flex-start;
                                      gap: 5px;
                                    ">
                  <a style="cursor: pointer" matTooltip="Shadow Login">
                    <i class="fa fa-arrow-right"></i>
                  </a>
                  <a style="cursor: pointer" matTooltip="Edit" (click)="openproviderdialog(null)">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a style="cursor: pointer" matTooltip="Delete">
                    <i class="fa fa-trash red"></i>
                  </a>
                  <a style="cursor: pointer" matTooltip="Message">
                    <i class="fa fa-message"></i>
                  </a>
                </div>
              </td>
              <td class="pad-left inner-screen text-left" style="text-align: center !important">
                <a style="cursor: pointer; text-decoration: none" matTooltip="Reset">
                  <mat-icon>sync</mat-icon>
                </a>
              </td>
              <td class="text-center">
                <mat-icon style="color: #007bff">settings</mat-icon>
              </td>
              <td class="text-center"><mat-checkbox></mat-checkbox></td>
              <td class="text-left" style="
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                  ">
                {{ item.name }}
              </td>
              <td  class="text-left">
                
                  {{item.names}}
                
              </td>

              <td class="text-left">
                {{ item.Phone }}
              </td>

              <!-- insurance -->
              <td class="text-center" (click)="openinsurancedialog(null)">
                <a style="cursor: pointer">
                  {{ item.insurances }}
                </a>
              </td>
              <td class="text-left">
                {{ item.Email }}
              </td>
              <td class="text-center" (click)="openlocations()">
                <a style="cursor: pointer">
                  6
                </a>
              </td>
              <td class="text-left">Texas</td>
              <td class="text-left" style="white-space: nowrap">
                {{ item.city }}
              </td>
              <td class="text-center" (click)="openPatients()">
                <a style="cursor: pointer">
                  {{ item.paitents }}
                </a>
              </td>
              <td class="text-center" style="cursor: pointer" [routerLink]="['/rcm-login/inner-referrals']">
                <a style="cursor: pointer">
                  {{ item.referrals }}
                </a>
              </td>
              <td class="text-center" style="cursor: pointer" [routerLink]="['/rcm-login/inner-visits']">
                <a style="cursor: pointer">
                  {{ item.visits }}
                </a>
              </td>
              <td class="text-center" (click)="openSpecialties(null)">
                <a style="cursor: pointer">
                  {{ item.category }}
                </a>
              </td>

              <td class="text-center"><mat-checkbox></mat-checkbox></td>
              <td [ngStyle]="{
                                    color: item.status === 'Active' ? 'blue' : 'red'
                                  }">
                {{ item.status }}
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="allContacts.length == 0">
            <tr>
              <td colspan="17">
                <span>No data available</span>
              </td>
            </tr>
          </tbody>
        </table>
        <button class="mine" mat-fab (click)="scrollGrid('right')">
          <mat-icon style="color: #37474f">fast_forward</mat-icon>
        </button>
        <button class="mine" mat-fab style="margin-right: 78px !important" (click)="scrollGrid('left')">
          <mat-icon style="color: #37474f">fast_rewind</mat-icon>
        </button>
      </div>
      <mat-paginator class="col-sm-12" [length]="totalSize" [pageIndex]="currentPage" [pageSize]=""
        [pageSizeOptions]="[5, 10, 25, 50, 100]" (page)="handlePage($event)" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</div>