/* Styling for the header */
.table-header {
  background-color: rgba(128, 131, 132, 0.925);
  color: white;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.table-header h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}




















