.small-card {
    margin-top: 15px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    // background: linear-gradient(135deg, #6b73ff, #8288ff);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
}

.small-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.card-content {
    padding: 10px;
}

.card-title {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 5px;
}

.card-value {
    font-size: 1.5em;
    font-weight: bold;
    // color: #ffd700;
}