<div class="pills">
  <ul class="nav nav-pills" style="margin-left: 10px; margin-bottom: -25px">
    <li routerLinkActive="active" [routerLink]="['./packages']">
      <a mat-raised-button class="navtabWidth" style="margin-top: 10px">
        Packages (7)
      </a>
    </li>
    <li routerLinkActive="active" [routerLink]="['./transcations']">
      <a mat-raised-button class="navtabWidth" style="margin-top: 10px">
        Transactions (210)
      </a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
