.form-check {
    display: inline-flex;
    align-items: center;
    margin-right: 15px;
    /* Space between radio buttons */
}

.form-check-label {
    margin-left: 5px;
    margin-top: 10px;
    /* Space between the radio button and its label */
}