



<div class="col-sm-12">
    <button mat-raised-button style="background-color: blue; color: white;" class="pull-right"
        (click)="openEditDialog()">
        <mat-icon>person_add</mat-icon> Add User
    </button>
    <button mat-raised-button style="background-color: black; color:white;"
        class="pull-right filter-hover margin-right-10" (click)="filterToggle = !filterToggle">
        <mat-icon>filter_list</mat-icon> Filter
    </button>

     <!-- Sort Button -->
     <button mat-raised-button mat-button [matMenuTriggerFor]="sortMenu"
     style="background-color: #37474f; color: white; height: 35px;" class="filters-hover pull-right margin-right-10">
     <span (click)="toggleSort($event)" class="icon-text">
       <mat-icon style="margin-top: 0px; margin-bottom: -6px;">
         {{ isAscending ? 'arrow_drop_up' : 'arrow_drop_down' }}
       </mat-icon>
     </span>
     <span class="icon-text">SORT</span>
   </button>

   <!-- Dropdown Menu -->
   <mat-menu #sortMenu="matMenu">
     <div class="scrollable-menu">
       <button mat-menu-item (click)="onSortOptionSelected('Case Manager')">Case Manager</button>
       <button mat-menu-item (click)="onSortOptionSelected('Liaisons')">Liaisons</button>
       <button mat-menu-item (click)="onSortOptionSelected('Patients')">Patients</button>
       <button mat-menu-item (click)="onSortOptionSelected('Claims')">Claims</button>
       <button mat-menu-item (click)="onSortOptionSelected('Created Date')">Created Date</button>
       <button mat-menu-item (click)="onSortOptionSelected('Law Firms')">Law Firms</button>
     </div>
   </mat-menu>

</div>
<!-- Filter UI -->
<div fxLayout="row wrap" class="col-sm-12" *ngIf="filterToggle" style="margin-bottom: 10px;">
    <div fxFlex="100" class="flex-p w-100">
        <form>
            <mat-card class="filter">
                <mat-card-content>
                    <div class="col-sm-4 row">
                        <div class="col-sm-4 mt-2">
                            <b>Keyword:</b>
                        </div>
                        <div class="col-sm-8" style="margin-left: -10px;">
                            <input type="text"  onCopy="return false" onPaste="return false" class="form-control"
                            placeholder="Search by Keyword">
                        </div>
                    </div>  
                    
                    <div class="col-sm-4 row">
                        <div class="col-sm-4 mt-2">
                            <b>Function:</b>
                        </div>
                        <div class="col-sm-8" style="margin-left: -20px;">
                            <mat-select class="form-control bac" placeholder="Select Status ">
                                <mat-option [value]="'Authorizer'">Authorizer</mat-option>
                                <mat-option [value]="'Verifier'">Verifier</mat-option>
                                <mat-option [value]="'Finance'">Finance</mat-option>
                                <mat-option [value]="'Scheduler'">Scheduler</mat-option>
                                <mat-option [value]="'Case Manager'">Case Manager</mat-option>
                                <mat-option [value]="'Role'">Role</mat-option>
                            </mat-select>
                        </div>
                    </div>

             
                    <div class="col-sm-4 row">
                        <div class="col-sm-4 mt-2">
                            <b>Role:</b>
                        </div>
                        <div class="col-sm-8" >
                            <mat-select class="form-control bac" placeholder="Select Status ">
                                <mat-option [value]="'Developer'">Developer</mat-option>
                                <mat-option [value]="'Tester'">Tester</mat-option>
                                <mat-option [value]="'Admin'">Admin</mat-option>
                                <mat-option [value]="'HR'">HR</mat-option>
                                
                            </mat-select>
                        </div>
                    </div>

                    

                    
                    
                    <div class="col-sm-4 row mt-2">
                        <div class="col-sm-4 mt-2">
                            <b>Status :</b>
                        </div>
                        <div class="col-sm-8" style="margin-left: -10px;">
                            <mat-select class="form-control bac" placeholder="Select Status ">
                                <mat-option [value]="'Active'">Active</mat-option>
                                <mat-option [value]="'Inactive'">Inactive</mat-option>
                                
                            </mat-select>
                        </div>
                    </div>

                    <div class="col-sm-4 row mt-2">
                        <div class="col-sm-4 mt-2">
                            <b>Core Team :</b>
                        </div>
                        <div class="col-sm-8" style="margin-left: -20px;">
                            <mat-select class="form-control bac" placeholder="Select Status ">
                                <mat-option [value]="'All'">All</mat-option>
                                <mat-option [value]="'Yes'">Yes</mat-option>
                                <mat-option [value]="'No'">No</mat-option>
                            </mat-select>
                        </div>
                    </div>

                    <!-- Actions -->
                    <div class="col-sm-4 row mt-2" style="margin-left: 15px;">
                        <a (click)="filterToggle = !filterToggle" class="pull-right"
                            style="font-size: 25px; cursor: pointer; margin-left: 5px;">
                            <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                        </a>
                        <button mat-raised-button style="background-color: black; color: white;" class="pull-right">
                            <mat-icon>clear</mat-icon> Clear
                        </button>
                        <button mat-raised-button style="background-color: blue; color: white;"
                            class="pull-right margin-right-10">
                            <mat-icon>search</mat-icon> Search
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
        </form>
    </div>
</div>
<!-- Table -->
<div class="col-sm-12 mt-3">
    <div id="grid-table-container" class="table-responsive">
        <table matSort class="table table-bordered table-hover">
            <thead class="tbl-head1" style="background-color: rgb(58, 53, 53); color: white;">
                <tr>
                    <th class="text-center">Actions</th>
                    <th style="white-space: nowrap;">User Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Role</th>
                    <!-- <th class="text-center">Project</th> -->
                    <th class="text-center">Liaison</th>
                    <th class="text-center">Core</th>
                    <th class="text-center">2F</th>
                    <th class="text-center" style="white-space: nowrap;">Case Manager</th>
                    <th class="text-center">Scheduler</th>
                    <th class="text-center">Finance</th>
                    <th class="text-center">Verifier</th>
                    <th class="text-center">Authorizer</th>
                    <th class="text-center">Status</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngIf="users == null || users.length == 0">
                    <td colspan="10" class="text-center">No records found</td>
                </tr>
                <tr *ngFor="let applicant of users">
                    <td class=" text-center">
                        <a matTooltip="Edit Record" (click)="openEditDialog()" class="fa fa-edit action-btn edit-btn"
                            style="margin-right: 10px;">
                        </a>
                        <a matTooltip="Delete Record" class="fa fa-trash action-btn delete-btn">
                        </a>
                    </td>
                    <td>{{applicant.UserName}}</td>
                    <td>{{applicant.UserEmail}}</td>
                    <td>{{applicant.UserPhone}}</td>
                    <td>{{applicant.RoleName}}</td>
                    <!-- <td style="text-align: center !important;cursor: pointer; color: blue;" class="text-center"
                        (click)="projectPop();"> 3/4
                    </td> -->
                    <td class="style text-center">
                        <mat-checkbox></mat-checkbox>
                    </td>
                    <td class="style text-center">
                        <mat-checkbox [checked]="applicant.vedor13"></mat-checkbox>
                    </td>
                    <td class="style text-center">
                        <mat-checkbox></mat-checkbox>
                    </td>
                    <td class="style text-center">
                        <mat-checkbox></mat-checkbox>
                    </td>
                    <td class="style text-center">
                        <mat-checkbox></mat-checkbox>
                    </td>
                    <td class="style text-center">
                        <mat-checkbox></mat-checkbox>
                    </td>
                    <td class="style text-center">
                        <mat-checkbox></mat-checkbox>
                    </td>
                    <td class="style text-center">
                        <mat-checkbox></mat-checkbox>
                    </td>
                    <td class="text-center" style="text-align: center !important;">
                        <a [ngStyle]="{'color':  applicant.IsActive? 'blue' : 'red','cursor':'pointer'}">
                            <span *ngIf="!applicant.IsActive" style="color:red">Inactive</span>
                            <span *ngIf=" applicant.IsActive">Active</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="mine" mat-fab (click)="scrollGrid('right')">
            <mat-icon style="color: #37474f">fast_forward</mat-icon>
        </button>
        <button class="mine" mat-fab style="margin-right: 78px !important" (click)="scrollGrid('left')">
            <mat-icon style="color: #37474f">fast_rewind</mat-icon>
        </button>
        <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSizeOptions]="[5, 10, 25, 50, 100]"
            showFirstLastButtons>
        </mat-paginator>
    </div>
</div>