<div [ngClass]="{ 'full-width': !isNavOpen }" class="col-sm-12 container-fluid"
    style="margin-bottom: 10px; padding-right: 25px">

    <div class="arrow-container">
        <div class="arrow-shape" style="background-color: #D9D9D9; color: black;">
            <span class="arrow-text">Intake</span>
            <span class="arrow-number">79</span>
        </div>

        <div class="arrow-shape" style="background-color: #FFD2B2; color: black;">
            <span class="arrow-text">Verification</span>
            <span class="arrow-number">190</span>
        </div>

        <div class="arrow-shape" style="background-color: #FFFACD; color: black;">
            <span class="arrow-text">Authorization</span>
            <span class="arrow-number">70</span>
        </div>

        <div class="arrow-shape" style="background-color: #A8E5C1; color: black;">
            <span class="arrow-text">Scheduling</span>
            <span class="arrow-number">20</span>
        </div>

        <div class="arrow-shape" style="background-color: #C4C2FF; color: black;">
            <span class="arrow-text">Scheduled</span>
            <span class="arrow-number">60</span>
        </div>

        <div class="arrow-shape" style="background-color: #B3E3F6; color: black;">
            <span class="arrow-text">Processing</span>
            <span class="arrow-number">10</span>
        </div>

        <div class="arrow-shape" style="background-color: #E0DBFF; color: black;">
            <span class="arrow-text">Closed</span>
            <span class="arrow-number">190</span>
        </div>
    </div>

    <!-- <div class="w-100 mt-4">
        <div class="row" style="display: flex; justify-content: flex-end; align-items: center">
            <button mat-raised-button class="pull-right" (click)="back();"
                style="background-color: gray; color: white; margin-top: -20px; margin-right: 6px;">
                <mat-icon>arrow_back</mat-icon>Back
            </button>
        </div>
    </div> -->
</div>


<!-- Table -->
<div class="col-sm-12" [ngClass]="{ 'full-width': !isNavOpen }">
    <div id="grid-table-container" class="table-responsive">
        <table matSort class="table table-bordered table-hover">
            <thead class="tbl-head1" style="background-color: rgb(58, 53, 53); color: white">
                <tr>
                    <!-- <th class="text-center">Actions</th> -->
                    <!-- <th class="text-center">Status</th> -->
                    <th class="text-center">Visits</th>
                    <th class="text-center">Claims</th>
                    <th class="text-center" style="white-space: nowrap">Referral ID</th>
                    <th style="white-space: nowrap">Patient Name</th>
                    <th style="white-space: nowrap">Referral From</th>
                    <th style="white-space: nowrap">Referral To</th>
                    <th>Specialty</th>
                    <th style="white-space: nowrap">Case ID</th>
                    <th style="white-space: nowrap">Case Type</th>
                    <th style="white-space: nowrap">Order Type</th>
                    <th style="white-space: nowrap" class="text-center">Last Updated</th>
                    <th style="white-space: nowrap" class="text-center">Created</th>
                    <!-- <th>City</th>
                    <th>State</th> -->
                    <!-- <th class="text-center">Zip Code</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let applicant of users">
                    <!-- <td style="white-space: nowrap" class="text-center">
                        <a matTooltip="Edit" (click)="openEditDialog(applicant.id)"
                            style="margin-right: 10px; cursor: pointer; color: cornflowerblue">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a matTooltip="Delete" style="cursor: pointer" class="fa fa-trash red"></a>
                    </td> -->
                    <!-- <td class="text-center">{{ applicant.status }}</td> -->
                    <td class="text-center" style="cursor: pointer;">
                        {{ applicant.visits }}
                    </td>
                    <td class="text-center" style="cursor: pointer;">
                        {{ applicant.claims }}
                    </td>
                    <td class="text-center" style="cursor: pointer;">
                        <a [routerLink]="['/rcm-login/referrals-dashboard']">{{ applicant.referralId }}</a>
                    </td>
                    <td>{{ applicant.patientName }}</td>
                    <td>{{ applicant.referralFrom }}</td>
                    <td style="white-space: nowrap">{{ applicant.referralTo }}</td>
                    <td>{{ applicant.specialty }}</td>
                    <td>C12345</td>
                    <td style="white-space: nowrap">{{ applicant.caseType }}</td>
                    <td>{{ applicant.orderType }}</td>
                    <td class="text-center">
                        {{ applicant.lastUpdated | date : "dd-MMM-yyyy" }}
                    </td>
                    <td style="white-space: nowrap" class="text-center">
                        {{ applicant.created | date : "dd-MMM-yyyy" }}
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="mine" mat-fab (click)="scrollGrid('right')">
            <mat-icon style="color: #37474f">fast_forward</mat-icon>
        </button>
        <button class="mine" mat-fab style="margin-right: 78px !important" (click)="scrollGrid('left')">
            <mat-icon style="color: #37474f">fast_rewind</mat-icon>
        </button>
        <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSizeOptions]="[5, 10, 25, 50, 100]"
            showFirstLastButtons></mat-paginator>
    </div>
</div>